<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"/>
  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
  <script src="libs/jquery/jquery.js"></script>
  <script src="libs/slick/slick.min.js"></script>
  <script src="libs/fancybox-master/jquery.fancybox.js"></script>
  <script src="libs/fancybox-master/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/stylesheet.css"/>
  <link rel="stylesheet" href="css/style.bundle.css"/>
  <link rel="stylesheet" type="text/css" href="libs/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="libs/fancybox-master/jquery.fancybox.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script src="js/slider.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <title><%=title%></title>
</head>
<!--<img src="img/notification/fb.svg" alt="fb">-->
<body>
<div>
