@media (max-width: 1600px)
  .map-block-service._left
    left: -100px
  .map-block-service._right
    right: -100px
@media (max-width: 1366px)
  .map-block-service._left
    left: -50px
  .map-block-service._right
    right: -50px
@media (max-width: 1280px)
  .map-block-service._left
    left: 0
  .map-block-service._right
    right: 0
@media (max-width: 991px)
  .select-service-block
    padding: 0 10px
  .map-block-service._right,
  .map-block-service._left
    display: none
@media (max-width: 800px)
  .address-services-block
    margin: 0
    flex-wrap: wrap
  .address-service
    flex: 1 1 100%
  .service-work-area
    flex-wrap: wrap
    padding: 0 0 0 10px
  .service-work
    display: flex
    flex-wrap: wrap
    p
      width: 100%
      margin: 7px
@media (max-width: 768px)
  .select-service-area
    margin: 50px 0
    flex-wrap: wrap
  .select-service-block
    flex: 1 1 100%
    margin: 0 0 20px 0
    .title
      margin: 15px
      line-height: 18px
@media (max-width: 576px)
  .service-work-area
    padding: 0
//@media (max-width: 490px)
