.address-services-block
  display: flex
  margin: 37px -5px 18px -5px
  justify-content: space-between
  align-items: flex-start
.address-service
  flex: 1 1 33%
  margin: 0 0px 20px 0px
  padding: 0 5px
.address-service-map
  font-size: 18px
  .map-icon
    margin: 0 4px -3px 0
    width: 13px

  a
    text-transform: uppercase
    font-size: 11px
    font-family: "PT Sans-Bold", sans-serif
    text-decoration-line: underline
  span
    font-family: "PT Sans-Bold", sans-serif


.address-service-line
  margin: 0 0 16px 0

.address-service-mail
  color: #6c6d79
  font-size: 9px
  .mail-icon
    margin: 0 7px 0px 0
  a
    color: inherit
    font-size: 14px
    text-transform: uppercase


.address-service-phone
  .link-custom
    font-weight: 400
    font-family: "Open Sans", sans-serif
    color: #6c6f7b
    b
      color: #2e3541
  .day-work
    padding: 0

.service-work-title
  color: #292c39
  font-size: 18px
  line-height: 21px
  margin: 0 0 4px 0

.service-work-area
  display: flex
  justify-content: space-between

.service-work
  flex: 1 1 auto
  p
    position: relative
    font-weight: 400
    font-family: "Open Sans", sans-serif
    color: #6c6d79
    font-size: 14px
    line-height: 17px
    text-transform: uppercase
    margin: 10px 0
    letter-spacing: -0.5px
    &:after
      position: absolute
      background-color: #0054a6
      top: 50%
      margin: -2px 0 0 0
      left: -6px
      content: ''
      width: 4px
      height: 4px
      border-radius: 50%

.service-work-sub-title
  color: #292c39
  font-size: 15px
  margin: 23px 0

.select-service-area
  display: flex
  justify-content: center
  margin: 78px 0 100px 0

.select-service-block
  flex: 0 1 40%
  text-align: center
  .title

    font-size: 24px
    margin: 0 0 24px 0
    font-weight: 400
    font-family: "Open Sans", sans-serif
    span:first-child
      font-weight: 600
      font-family: "Open Sans", sans-serif
    .signature
      font-weight: 400
      font-family: "Open Sans", sans-serif
      font-size: 18px
      color: #6c6d79
  .btn
    max-width: 190px
    width: 100%

.map-area-bg
  background-image: url("../img/map-bg.jpg")
  width: 100%
  height: 100%

.map-area
  max-width: 1100px
  width: 100%
  position: relative
  min-height: 400px
  display: flex
  align-items: center
  justify-content: center

.map-img
  position: absolute
  z-index: 1
  top: 60px
  //left: 106px


.map-block-service
  position: absolute
  z-index: 2
  &._left
    left: -188px
    top: 63px
  &._right
    right: -190px
    top: 64px
  p
    line-height: 20px
    font-weight: 400
    font-family: "Open Sans", sans-serif
    color: #77787c
  .font-style-18
    font-size: 18px
  .font-style-23
    font-size: 23px
    font-weight: 300
    font-family: "Open Sans", sans-serif

.map-block
  position: relative

.map-pin
  cursor: pointer
  z-index: 1
  position: absolute
  &:hover
    .map-pin-svg
      path
        fill: #E10010
  &._active
    .map-pin-svg
      path
        fill: #E10010
    .tooltip-address
      animation-name: openTooltip
      animation-duration: 0.2s
      display: block

.map-pin-position-1
  z-index: 1
  top: -58px
  left: -99px

.map-pin-position-2
  z-index: 2
  top: -28px
  left: -73px
  cursor: pointer

.map-pin-position-3
  z-index: 3
  left: 141px
  top: -50px

.tooltip-address
  border-radius: 10px
  display: none
  min-width: 180px
  left: -78px
  bottom: 48px
  position: absolute
  z-index: 15
  background-color: #ffffff
  padding: 17px 20px
  -webkit-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.25)
  -moz-box-shadow:    1px 1px 8px 0px rgba(50, 50, 50, 0.25)
  box-shadow:         1px 1px 8px 0px rgba(50, 50, 50, 0.25)

.tooltip-address-title
  color: #1655a4
  font-family: "PT Sans-Bold", sans-serif
  font-size: 18px
  margin: 0 0 3px 0

.tooltip-address-title,
.tooltip-address-phone,
.tooltip-address-position,
.tooltip-address-work
  line-height: 22px
  white-space: nowrap

.tooltip-address-phone
  text-transform: uppercase
  color: #6c6f7b
  span
    font-family: "PT Sans-Bold", sans-serif
    color: #292c39

.tooltip-address-work
  font-size: 13px
  text-transform: uppercase
  color: #292c39


@keyframes openTooltip
  0%
    display: block
    opacity: 0
    visibility: hidden
  100%
    display: block
    opacity: 1
    visibility: visible
