.cart-page,.delivery-page
  padding: 35px 0
  .catalog-title-block
    margin: 0 0 18px 0
    padding: 0 50px
.cart-page
  .catalog-title-block
    margin: 0 0 2px 0
.cart-grid-list
  margin: 0 0 8px 0
  .cart-grid:last-child
    border: none
//.cart-grid-list
  //.cart-grid:last-child:after
  //  border: none
  //  content: none
.order-made
  padding: 0 50px
  margin: 0 0 10px 0
  span
    color: #1655A4
  .bold
    font-family: "PT Sans-Bold", sans-serif
.cart-grid
  position: relative
  display: flex
  //padding: 0 10px 0 50px
  //padding: 0 0 10px 0
  //margin: 0 0 18px 0
  border-bottom: 1px solid #d7dfe6
  &.cart-grid-product
    padding:  20px 0px 20px 48px
    position: relative
    //padding: 0 0 20px 0

.cart-grid-title
  padding: 0 0 0 48px
  min-height: 50px
  display: flex
  align-items: center
  .grid-col-title
    padding: 0

.cart-product-total
  position: absolute
  white-space: nowrap
  bottom: 46px
  right: 51px
  font-size: 18px
  color: #6c6e7a
  .total
    font-size: 26px
    color: #1655a4
  .rub
    color: #6c6e7a
    font-size: 26px

.cart-grid-col
  text-align: center
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  justify-content: center
  //flex: 1 0 auto!important
  //padding: 0 0 10px 0
  cursor: pointer


.grid-col-title
  height: 100%
  //text-align: center
  //white-space: nowrap
  width: 100%
  color: #6c6e7a
  padding: 0 5px
  display: flex
  justify-content: center
  align-items: flex-start
  //padding: 0 0 10px
  //grid-template-rows: repeat(12, 40px)

.grid-col-content
  //padding: 20px 0 0 0
  width: 100%
  text-align: left
  position: relative
  padding: 0 5px
  align-items: center
  height: 100%
  .block-photo-product
    width: 145px
    height: 125px
    background-color: #ffffff
    border-radius: 10px
    position: relative
    box-shadow: 0 0 15px rgba(0,0,0,.1)
    overflow: hidden
    img
      position: absolute
      left: 0
      top: 0
      object-fit: contain
      width: 100%
      height: 100%

.cart-grid-col-all
  text-align: left
  //flex: 0 1 60px
  width: 5%
  align-items: center
  .grid-col-title
    justify-content: flex-start
  .grid-col-content
    display: flex
    //justify-content: center
    align-items: center

.cart-grid-col-type
  //flex: 0 1 169px
  width: 14%
  //width: 160px
  margin: 0 35px 0 0
  .grid-col-content
    display: flex
    justify-content: center

.cart-grid-col-name
  //flex: 0 1 410px
  width: 36%
  display: inline-block
  .grid-col-title
    justify-content: left
  .grid-col-content
    //padding-right: 20px
    margin: 15px 0 0 0
  .product-name
    color: #2e3541
    font-size: 18px
    text-transform: uppercase
    font-weight: 400
    font-family: "Open Sans", sans-serif
    margin: 0 0 10px 0
  .product-article
    font-weight: 400
    font-family: "Open Sans", sans-serif
    font-size: 13px
    text-transform: uppercase
    span
      color: #1655a4

.cart-grid-col-price
  width: 18%
  .grid-col-title
    justify-content: left
  .grid-col-content
    margin: 20px 0 0 0
    p
      white-space: nowrap
      font-size: 24px
      span
        color: #6c6e7a

.cart-grid-col-count
  //flex: 0 1 150pxw
  width: 12%
  .grid-col-content
    margin: 13px 0 0 0
    display: flex
    align-items: flex-start
    justify-content: center
    .product-count
      width: auto
      margin: 0

.cart-grid-col-delete
  //flex: 0 1 150px
  width: 9%
  .grid-col-content
    justify-content: center
    display: flex
    align-items: baseline
    padding: 8px 0
    .product-delete
      display: flex
      padding: 10px

.grid-col-content
  .all-count
    font-size: 24px
    color: #292C39
.grid-col-content
  .cart-product-total
    position: relative
    bottom: 0
    top: 0
    right: 0
.cart-bottom-area
  width: 100%
  padding: 0 50px

.cart-bottom
  border-top: 5px solid #eceef2
  padding: 14px 0px 0 60px
  display: flex
  .btn-area
    margin: 5px 0 0 0
    .btn
      margin-right: 20px

.cart-bottom-price
  .cart-product-total
    bottom: 0
    right: 0
    left: 0
    top: 0
    position: relative
    .total
      color: #e3000f
