//@media (max-width: 1140px)
@media (max-width: 991px)
  .cart-grid-col-type
    margin: 0 10px 0 0
  .cart-grid-title
    padding: 0 10px 0 10px
  .cart-grid.cart-grid-product
    padding: 20px 10px 20px 10px
  .cart-grid-col-count
    margin: 0 15px
@media (max-width: 768px)
  .order-made
    padding: 0 20px
@media (max-width: 800px)
  .cart-grid
    flex-wrap: wrap
  .cart-grid-title
    display: none
  .cart-grid-col
    padding: 0!important
    width: 100%!important
    margin: 0 0 20px 0!important
  .grid-col-content
    text-align: center
    justify-content: center
  .grid-col-content
    margin: 0!important
    padding: 0!important
  .grid-col-content
    .checkbox
      flex: 0 0 22px
      .label
        margin: 0

  .cart-product-total
    position: relative
    bottom: 0
    right: 0
    width: 100%
    text-align: center
  .cart-bottom
    padding: 10px 0
    flex-wrap: wrap
    .btn-area
      justify-content: center
      flex-wrap: wrap
      .btn
        margin: 0 20px 10px
        flex: 0 1 200px
    .cart-bottom-price
      width: 100%
      text-align: center



@media (max-width: 576px)
  .cart-bottom-area
    padding: 0
//@media (max-width: 490px)
