.catalog-product
  //padding: 21px
  padding: 21px 0 0 0
  .catalog-title-block
    align-items: baseline
    margin: 0 0 15px 0
    //padding: 0
    padding: 0 21px 16px 21px
    border-bottom: 1px solid #d7dfe6
    flex-wrap: wrap
    .catalog-title
      font-size: 36px
    .catalog-count
      margin: 0 16px
      white-space: nowrap
    .catalog-top-nav
      margin: 0 0 0 auto
    .catalog-nav-item
      margin: 0 0 0 20px

.catalog-product-content
  display: flex
  padding: 0 21px

.filter-chosen-col
  padding: 0 0 20px 0
  max-width: 247px
  width: 100%

.switch-filter
  margin: 0 0 19px 0
  .switch-text
    margin: 0
  .switch-control
    margin: 0 14px

.catalog-filter-chosen-area
  position: relative
  margin-bottom: 20px
  padding-bottom: 19px
  border-bottom: 1px solid #d7dfe6

.drop-window-select-filter
  font-weight: 400
  font-family: "Open Sans", sans-serif
  background-color: #ffffff
  padding: 10px 20px
  position: absolute
  border-radius: 10px
  z-index: 700
  box-shadow: 0 0 26px rgba(0, 0, 0, .2)
  color: #e3000f
  font-size: 13px
  top: 75px
  right: -50px
  span
    cursor: pointer
    font-size: 11px
    text-transform: uppercase
    color: #292c39
    border-bottom: 1px solid #292c39

.header-chosen-filter
  //margin: 0 0 12px 0
  display: flex
  align-items: center
  .title
    font-weight: bold
    font-family: "Open Sans", sans-serif
    font-size: 18px
    margin: 0 10px 0 0
  .throw-filter
    font-size: 13px
    font-weight: 400
    font-family: "Open Sans", sans-serif
    color: #6c6f7b
    border-bottom: 1px dashed #6c6f7b
    cursor: pointer
  .change-filter-chosen
    width: 20px
    height: 20px
    margin-left: auto
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center

.filter-chosen-container
  margin: 15px 0 0 0
  .input-container
    width: 100%
    height: 40px
    margin-bottom: 15px
    input
      height: 100%
  .checkbox-list
    position: relative
    overflow-y: auto
    max-height: 215px
    margin: 0px 0 0 4px

.checkbox-chosen-filter
  width: 100%
  margin-bottom: 8px
  .label
    order: 1
    margin: 0 18px 0 0
  .checkbox-text
    order: 2
    cursor: pointer
    //white-space: nowrap
    .count
      color: #6c6f7b

.catalog-filter-chosen-buttons
  display: flex
  flex-wrap: wrap
  .btn-filter
    padding: 0
    border-radius: 0
    min-height: auto
    border-bottom: 1px dashed #6c6f7b
  .throw-all
    margin-left: auto
  .btn-area
    margin: 10px 0 0 0
    flex: 1 1 auto
    justify-content: center
    .btn-border
      max-width: 140px
      width: 100%

.product-table
  width: 100%
  margin: 0 0 0 55px

.options-size-area
  display: flex
  flex-wrap: wrap
  margin: -4px -10px 0 -10px
  .btn-cylinder
    min-height: auto
    margin: 0 10px 10px 10px

.down-pagination
  display: flex
  justify-content: center
  margin: 10px 0
//

.pagination
  span
    border-radius: 3px
    padding: 0!important
    &._active
      background: #fff
      @media (max-width: 991px)
        background: #EBEFF3
  a
    display: inline-block
    padding: 6px 10px
    color: #15519A
    font: 600 15px/20px 'Open Sans', sans-serif

