//@media (max-width: 1550px)
//@media (max-width: 1140px)
@media (max-width: 991px)
  .catalog-product-content
    flex-wrap: wrap
  .catalog-product-col
    max-width: 100%
    margin: 0
    width: 100%
  .filter-chosen-col
    display: none
  .options-size-area
    display: none
    margin: 0 -10px
  .product-table
    margin: 10px 0 0 0
  .drop-window-select-filter
    right: 0
  .catalog-filter-chosen-list
    display: flex
    flex-wrap: wrap
    margin: 0 -10px
    .catalog-filter-chosen-area
      width: 50%
      padding: 0 10px 19px 10px
      //margin: 0 5px
@media (max-width: 768px)
  .catalog-product
    .catalog-title-block
      padding: 0 10px 10px 10px!important
  .catalog-product .catalog-title-block .catalog-top-nav
    margin: 0
  .catalog-product .catalog-title-block .catalog-nav-item
    margin: 0 0 5px 0
    width: 100%
    display: inline-block
  .catalog-nav-item.sort
    span:first-child
      padding-left: 0
  .catalog-view-area .view-chosen
    margin-left: 0
  .catalog-view-area
    margin: 0
    width: 100%
    & > div
      margin: 0 5px 0 0

  .card-row-version .card-brand-stock
    display: flex
    flex-wrap: wrap
    .product-stock
      margin: 0
@media (max-width: 576px)
  .breadcrumbs
    .catalog-nav-item
      display: none
  .catalog-product-content
    padding: 0 10px
  .catalog-filter-chosen-list
    margin: 0
    .catalog-filter-chosen-area
      width: 100%
      padding: 0 0px 19px 0px

//@media (max-width: 490px)
