//-------checkbox-------
.checkbox
  user-select: none
  display: flex
  align-items: center
  //width: max-content
  cursor: pointer
  .normal-checkbox
    display: none
    opacity: 0
    &:checked + .label:after
      position: absolute
      content: ''
      background-image: url("../img/checkbox-icon.svg")
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      width: 17px
      height: 12px

    &:checked + .label:before
      width: 100%
      position: absolute
      height: 100%
      left: 0
      top: 0
      flex: 0 0 100%
      background-color: #AAB2C2
      content: ""
      color: #ffffff
  input:checked ~ .label
      border-color:  #AAB2C2
  .label
    overflow: hidden
    border-radius: 3px
    cursor: pointer
    width: 25px
    height: 25px
    flex: 0 0 25px
    padding: 5px 2px
    border: 2px solid #d7dfe6
    margin-right: 9px
    position: relative
    order: 2
  .checkbox-text
    order: 1
    text-align: left
    &._no-wrap
      white-space: nowrap
      a
        text-decoration-line: underline

.checkbox._big
  .normal-checkbox
    &:checked + .label:after
      width: 14px
      height: 11px
      top: 4px
      left: 3px
  .label
    height: 22px
    flex: 0 0 22px

.checkbox._circle
  .checkbox-text
    margin: 0 8px
    order: 2
    color: #6c6e7a
  .label
    margin: 0
    border-radius: 50%
    order: 1
    display: flex
    justify-content: center
    align-items: center
    height: 16px
    width: 16px
    flex: 0 0 16px
  .normal-checkbox:checked+.label:after
    background-image: none
    width: 4px
    height: 4px
    border-radius: 50%
    background-color: #fff

