.delivery-area
  display: flex
  overflow: hidden
  margin: 25px 0 0 0
  border-bottom: 1px solid #d7dfe6
.delivery-steps.fill-bg
  height: 100%
  background-color: #fff
.delivery-steps
  position: absolute
  left: 2px
  top: -10px
  display: flex
  flex-direction: column
  z-index: 2
  .step
    background-color: #fff
    outline: 1px
    width: 44px
    height: 44px
    border-radius: 50%
    border: 1px solid #aab1c2
    color: #aab1c2
    font-size: 33px
    display: flex
    justify-content: center
    align-items: center
    font-weight: 300
    font-style: italic
    font-family: 'Open Sans', sans-serif

.delivery-form
  padding: 10px 10px 0 48px
  //overflow: hidden
  .delivery-form-row:last-child
    padding: 0 0 0 65px
    margin: 0 0 25px 0

.delivery-form-row._form-row-filled
  .delivery-steps
    .step
      border-color: #1655a4
      color: #1655a4
  &:before
    border-color: #1655a4

.delivery-form-row:before
  content: ''
  border: 1px dashed #aab1c2
  position: absolute
  left: 24px
  z-index: 1
  top: -17px
  height: 100%

.delivery-form-row
  position: relative
  //margin: 0 0 25px 0
  padding: 0 0 36px 65px
  display: flex
  flex-wrap: wrap
  .row-title
    width: 100%
    white-space: nowrap
    margin: 0 0 13px 0
    font-size: 18px
    font-weight: 400
    font-family: "Open Sans", sans-serif
    span
      font-weight: 600
      font-family: "Open Sans", sans-serif
  .input-container
    margin: 0 20px 10px 0
    flex: 0 1 240px
    input, select
      width: 100%
      height: 40px
  .input-container.delivery-address
    flex: 0 1 500px

.delivery-checkbox
  padding: 20px 0 0 4px
  flex: 0 1 260px !important
  .checkbox
    width: auto
    .label
      margin: 0 10px
      display: flex

.delivery-type-area
  margin: 3px 0
  display: flex
  flex-wrap: wrap
  .checkbox._circle
    margin: 0 40px 0 0
    .checkbox-text
      text-transform: uppercase
      font-size: 13px

.delivery-type-selects
  display: flex
  width: 100%
  margin: 0px 0 5px 0
  flex-wrap: wrap

.delivery-type-block
  margin: 0 30px 0 0
  flex: 1 0 400px !important
//.row-inner-block
//  flex: 1 1 auto
.delivery-faq
  flex: 0 1 60%
  p
    font-size: 13px
    color: #b1b2b5
    margin: 5px 0
    a
      color: #878892
      text-decoration-line: underline

.delivery-info
  color: #292c39
  padding: 27px 50px 27px 50px
  p
    padding: 0 10px 0px 62px

.cart-bottom-delivery
  padding: 14px 0 0 0
  .btn-area
    order: 2
    justify-content: flex-end
    .btn
      //border-radius: 20px
      min-height: 44px
      min-width: 202px
      margin: 0
  .cart-bottom-price
    order: 1
    .cart-product-total
      top: 10px
      .total
        color: #1655a4

