//@media (max-width: 1140px)
//@media (max-width: 992px)
//@media (max-width: 768px)
@media (max-width: 800px)
  .delivery-form
    padding: 10px 10px 0 10px
  .cart-bottom-delivery .btn-area
    justify-content: center
  .cart-bottom-delivery .cart-bottom-price .cart-product-total
    top: 0
  .delivery-info p
    padding: 0
  .delivery-faq
    flex: 1 1 auto
  .delivery-type-area .checkbox._circle
    margin: 3px 40px 3px 0
@media (max-width: 576px)
  .delivery-steps
    display: none
  .delivery-form-row
    padding: 0
  .delivery-form
    padding: 0 20px
  .delivery-form-row:before
    content: none
  .delivery-form-row .input-container
    flex: 1 1 auto
    margin: 0 0 20px 0
  .delivery-info
    padding: 20px
  .delivery-form-row .row-title
    white-space: normal
    margin: 0 0 5px 0
  .delivery-type-block
    flex: 1 1 auto!important
  .delivery-form .delivery-form-row:last-child
    padding: 0
//@media (max-width: 490px)
