.details-company-area
  margin: 0 0 48px 0
.details-company-owner
  span
    font-family: "PT Sans-Bold",sans-serif

.details-company-address,
.details-company
  color: #6c6d79


.details-company
  line-height: 17px
  font-size: 13px
  display: inline-block
  border-right: 1px solid #d7dfe6
  padding: 0 6px 0 0
  margin: 0 2px 0 0

.details-company:last-child
  margin: 0
  padding: 0
  border-right: 0

.details-company-owner
  margin: 0 0 16px 0

.details-company-address
  margin: 0 0 11px 0
