//.inner-card-page
//  flex-wrap: wrap

.inner-card-area
  border-top: 1px solid #d7dfe6

.inner-card
  padding: 5px 40px 0 50px
  display: flex
  align-items: flex-start
.inner-car-table-area
  flex: 1 1 auto
.inner-car-img
  overflow: hidden
  position: relative
  flex: 0 1 30%
  height: 322px
  border-radius: 10px
  box-shadow: 0 0 26px rgba(0, 0, 0, .2)
  margin: 15px 60px 0 0
  img
    position: absolute
    left: 0
    top: 0
    object-fit: contain
    width: 100%
    height: 100%

.inner-car-table
  flex: 1 1 auto
  display: flex
  flex-direction: column
  border-bottom: 5px solid #eceef2

.inner-car-col:last-child
  border-bottom: none

.inner-car-col
  padding: 15px 0
  display: flex
  border-bottom: 1px solid #d7dfe6

.inner-car-row
  display: flex
  flex-direction: column
  width: 100%
  flex: 1 1 33.33%
  .product-stock
    margin: 0

.inner-car-col-title
  font-weight: 400
  font-family: "Open Sans", sans-serif
  font-size: 13px
  color: #1655a4
  text-transform: uppercase

.inner-car-col-info
  font-weight: 400
  font-family: "Open Sans", sans-serif

.inner-car-total
  padding: 15px 0
  display: flex
  justify-content: space-between
  margin: 0 -5px
  flex-wrap: wrap

.inner-car-total-row
  margin: 0 5px
  display: flex
  align-items: center
  .cart-product-total
    bottom: 0
    right: 0
    left: 0
    top: 0
    position: relative
  .cart-product-total._all
    .total
      color: #292c39
  .btn-area
    width: 145px
    .btn
      width: 100%


.add-info
  color: #8f8f99
