//@media (max-width: 1550px)
//@media (max-width: 1140px)
@media (max-width: 991px)
  .inner-card
    flex-wrap: wrap
    padding: 5px 50px
  .inner-car-img
    flex: 1 1 100%
    margin: 15px 0

@media (max-width: 768px)
  .inner-car-img
    margin: 15px 0 0 0
  .inner-card
    padding: 5px 20px
  .inner-car-col
    border-bottom: none
    flex-wrap: wrap
    padding: 0
  .inner-car-row
    min-height: 62px
    text-align: center
    flex: 1 1 100%
    justify-content: center
    border-bottom: 1px solid #d7dfe6
    padding: 10px 0 10px 0
    //margin: 0 0 10px 0
  .inner-car-row-empty
    border-bottom: none
    margin: 0
    padding: 0
    min-height: 0
  .inner-car-total-row
    margin: 5px
  //.inner-car-table .inner-car-col:last-child .inner-car-row:last-child
  //  border-bottom: none
  .inner-car-table
    border-bottom: none
@media (max-width: 576px)
  .inner-card
    padding: 5px 0 0 0
  .inner-car-img
    box-shadow: none
  .inner-car-total
    padding: 15px 20px


//@media (max-width: 490px)
