.land-mr
  margin: 0 0 80px 0

.land-title-block
  .title
    display: inline-block

.see-all
  font-family: "PT Sans-Bold", sans-serif
  color: #0054a6
  border-bottom: 1px solid #0054a6
  margin: 0 10px
  cursor: pointer

.land-options
  width: 100%
  padding: 20px 16px 10px 16px
  border: 1px solid #d7dfe6
  margin: 0
  border-radius: 5px
  .btn-cylinder
    border-radius: 5px
    max-width: 135px
    width: 100%

.landing-catalog-slide
  display: inline-block
  border-radius: 10px
  border: 1px solid #d7dfe6
  margin: 0 8px
  width: 240px
  .slide-img
    display: flex
    align-items: center
    justify-content: center
    height: 230px
    position: relative
    img
      object-fit: cover
  .btn-area
    padding: 20px 5px
    border-top: 1px solid #d7dfe6
    .btn
      max-width: 165px
      width: 100%


.landing-catalog-slider
  display: flex
  //margin: 0 -10px
  .slick-list
    padding: 0 10px

.slider-promo
  display: flex
  position: relative
  //margin: 0 -10px
  border-bottom: 1px solid #d7dfe6
  padding-bottom: 63px
  //.slick-list
  //  padding: 0 10px
  .slick-dots
    bottom: 20px

.slide-promo
  margin: 0 15px
  display: inline-block
  width: 295px
  border-radius: 10px
  background-color: #eef1f4
  text-decoration-line: none
  &:hover
    text-decoration-line: none
  .btn-area
    margin: 22px 0

.slide-promo-img
  height: 315px
  position: relative
  margin: 0 0 20px 0
  img
    top: 0
    left: 0
    position: absolute
    width: 100%
    height: auto
    object-fit: contain

.brands-scroll-block
  overflow-x: scroll
  padding: 5px 0
  .brands-grid
    flex-wrap: nowrap
    justify-content: left
