html, body
  font-size: 15px
  //height: 100%
  min-height: 100vh
  width: 100%
  box-sizing: border-box
  overflow-x: hidden
  position: relative

div, form, label, span, button, input, a
  box-sizing: border-box
  //transition: 0.2s ease all
  font-family: "PT Sans-Regular", sans-serif
  font-style: normal
  font-weight: normal
  color: #2d3541
//letter-spacing: -0.3px

::-webkit-scrollbar
  width: 4px
  height: 6px

::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0)
  border-radius: 10px

::-webkit-scrollbar-thumb
  background-color: #97A1B3
  border-radius: 10px
  -webkit-box-shadow: inset 0 0 3px rgba(151, 161, 179, 1)

input, div

ul
  list-style-type: none
  padding: 0
  margin: 0

svg
  path, rect
    transition: 0.3s ease all

p
  font-size: 15px
  line-height: 18px
  margin: 0

a
  color: #0054a6
  cursor: pointer
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none
  outline: none
  border: none
  text-decoration: none
  &:hover
    text-decoration-line: underline

textarea
  background: #FFFFFF
  border: 1px solid #ABA5AA
  box-sizing: border-box
  border-radius: 5px
  padding: 5px 10px
  resize: none
  &:focus
    border: 1px solid #ABA5AA
    outline: inherit
  &::placeholder
    font-size: 12px
    line-height: 21px
    text-transform: uppercase
    color: #81747F

button
  transition: 0.3s ease all
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none
  outline: none
  border: none
  display: flex
  justify-content: center
  align-items: center
  //width: 100%
  background: #ffffff
  cursor: pointer
  border-radius: 5px
  color: #ffffff
  min-height: 30px
  padding: 0 20px
  text-align: center

button:active,
button:focus,
.btn:focus
  outline: none
  box-shadow: none

.page-content
  padding: 25px 0 50px 0
  &.bg-gray
    background-color: #eceef2
//min-height: 100vh


.page-area
//margin: 50px 0 0 0
.title-block
  margin: 0 0 27px 0
  .title
    font-size: 31px
    font-family: "Open Sans-Regular", sans-serif
    line-height: 31px
    //word-break: break-all
    span
      display: inline-block
      font-family: "Open Sans-Bold", sans-serif
  .title-26
    font-size: 26px

.no-pd
  padding: 0px 0 0px 0

.no-pd-b
  padding-bottom: 0

.no-mrb
  margin: 25px 0 0px 0

.no-mr
  margin: 0px 0 0px 0

.btn-area
  display: flex
  align-items: center
  width: 100%
  &._pos-center
    justify-content: center

.btn
  transition: 0.3s ease all
  min-height: 35px
  border-radius: 20px
  font-size: 13px
  padding: 5px 20px
  color: #5a5f69
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  &:hover
    text-decoration-line: none

.btn-border
  border: 1px solid #d7dfe6
  text-transform: uppercase
  background-color: #fff
  &:hover
    background-color: #1655a4
    color: #fff
    border: 1px solid #1655a4
  &:active
    background-color: #0C4790
    color: #fff
    border: 1px solid #0C4790

.btn-cobalt-blue
  background-color: #1655a4
  color: #ffffff
  text-transform: uppercase
  &:hover
    background-color: #0C4790
    color: #ffffff

.btn-gray
  background-color: #6c6d79
  color: #ffffff
  text-transform: uppercase
  &:hover
    color: #ffffff

.btn-red
  background-color: #e3000f
  color: #ffffff
  text-transform: uppercase
  &:hover
    background-color: #C90512
    color: #ffffff

.btn-blue-crayola
  background-color: #aab1c2
  color: #ffffff
  text-transform: uppercase

.btn-cylinder
  border-radius: 50px
  border: 1px solid #d7dfe6
  padding: 5px 23px
  color: #6c6f7b
  text-align: center
  &.active
    color: #1554a3
    font-weight: bold

.input-container input::placeholder
  font-style: normal
  font-weight: normal
  font-size: 15px
  line-height: 20px
  color: #999A98

.input-container input[type=date],
.input-container input[type=text],
.input-container input[type=number],
.input-container select,
.input-container textarea
  background: #fff
  outline: 0
  border: 1px solid #d7dfe6
  border-radius: 5px
  width: 100%
  height: 100%
  //min-height: 32px
  margin: 0
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
input[type='number']
  -moz-appearance: textfield

.input-container._error
  input
    border-color: #d30522
    color: #d30522
  .input-error
    margin: 3px 0 0 0
    display: inline-block
    width: 100%
    color: #d30522
    position: relative

.input-container
  position: relative
  display: flex
  flex-wrap: wrap
  //min-height: 32px
  align-items: flex-start
  place-content: baseline
  .input-label
    width: 100%
    color: #6c6e7a
    font-size: 13px
    margin: 0 5px 9px 5px
    text-transform: uppercase
  input
    max-width: 100%
    padding: 4px 10px
  .input-error
    display: none

.search-input
  display: block
  width: 100%
  height: 100%

.search-input._open
  .search-result
    opacity: 1
    flex-direction: column
    .result
      height: auto
      padding: 20px
      .result-span
        padding: 0px 5px 0 0
        max-height: 200px

.search-result
  display: flex
  opacity: 0
  height: 0
  overflow: inherit
  position: relative
  .result
    box-shadow: 0 0 26px rgba(0, 0, 0, .2)
    top: 10px
    z-index: 100
    padding: 0
    position: absolute
    background-color: #fff
    width: 100%
    height: 0
    border-radius: 5px
    display: flex
    flex-direction: column
    .result-span
      padding: 0
      overflow: auto
      span:last-child
        margin-bottom: 0
      span
        font-family: "Open Sans-Regular", sans-serif
        cursor: pointer
        display: block
        padding: 0
        margin-bottom: 20px
        &:hover
          color: #1554a3

.select
  cursor: pointer
  position: relative
  width: 100%
  input
    cursor: pointer
    padding: 4px 25px 4px 10px
  .select-arrow
    transition: 0.2s ease all
    top: 44%
    right: 10px
    position: absolute
  .select-result
    display: flex
    opacity: 0
    height: 0
    overflow: inherit
    position: relative
    .result
      box-shadow: 0 0 26px rgba(0, 0, 0, .2)
      top: 10px
      z-index: 100
      padding: 0
      position: absolute
      background-color: #fff
      width: 100%
      height: 0
      border-radius: 5px
      display: flex
      flex-direction: column
      .result-span
        padding: 0
        overflow: auto
        span:last-child
          margin-bottom: 0
          border: none
        span
          color: #a9b2c1
          border-bottom: 1px solid #a9b2c1
          padding: 7px 0 7px 0
          font-size: 15px
          font-family: "PT Sans-Regular", sans-serif
          cursor: pointer
          display: block
          margin: 0
          &:hover
            color: #1554a3

.select._open
  .select-arrow
    transform: rotate(180deg)
  .select-result
    opacity: 1
    flex-direction: column
    .result
      height: auto
      padding: 10px 10px
      .result-span
        padding: 0
        max-height: 200px

.gray-bg
  background-color: #EFF2F5

.main-area-fluid
  width: 100%
  display: flex
  justify-content: center
  flex-wrap: wrap

.main-area
  max-width: 1295px
  padding: 0 10px
  width: 100%
  position: relative

.breadcrumbs
  display: flex
  margin: 0px 0 25px 0
  li
    display: block
    font-size: 13px
    line-height: 18px
    a
      color: #292c39
      text-decoration-line: underline
      font-family: "Open Sans", sans-serif
  li._active
    a
      color: #1655a4
      text-decoration-line: none
  .catalog-nav-item.pagination
    margin: 0 0 0 auto

.breadcrumbs li + li:before
  padding: 0 5px 0 6px
  color: #81747f
  content: "/\00a0"

.info-block
  margin: 0 0 52px 0

.info-block:last-child
  margin: 0
//.info-text:last-child
//  margin-bottom: 0
.info-text
  margin: 28px 0 28px 0
  p
    font-family: "PT Sans-Regular", sans-serif
    font-size: 15px
    line-height: 27px
    color: #292c39

.info-text._blue
  p
    color: #1655a4

.info-title
  text-transform: uppercase
  line-height: 16px
  margin: 0 0 12px 0
  span
    font-family: "PT Sans-Bold", sans-serif

.link-custom
  font-family: 'Open Sans-Bold', sans-serif
  color: #2d3541

.page-brands-area
  margin: 49px 0 0 0
  .title-block
    margin: 0 0 20px 0

.brands-grid
  display: flex
  position: relative
  flex-wrap: wrap
  justify-content: center
  margin: 0 0 10px 0
  .brand
    flex: 0 1 12.5%
    min-width: 150px
    display: flex
    flex-direction: column
    align-items: center
    min-height: 90px
    position: relative
    //padding: 67px 0 0 0
    img
      //width: 100%
      //height: 91px
      //object-fit: contain
      //position: absolute
      //top: 0
      //left: 0
      -webkit-filter: grayscale(100%)
      -moz-filter: grayscale(100%)
      -ms-filter: grayscale(100%)
      -o-filter: grayscale(100%)
      filter: grayscale(100%)
      filter: gray
      /* IE 6-9 */
      &:hover
        filter: none
        cursor: pointer
    .brand-name
      z-index: 1
      word-break: break-all
      font-size: 13px
      color: #292c39
      line-height: 16px
      text-transform: uppercase
      margin: -26px 0 5px 0
      padding: 0 5px
      width: 100%
      text-align: center

.info-tires
  padding: 38px 0
  p
    color: #292c39
    font-size: 15px
    line-height: 18px

.switch-area
  display: flex

.switch-block
  margin: 0 auto
  display: flex
  align-items: center
  cursor: pointer

.switch-text
  color: #6c6f7b
  margin: 0 10px

.switch-text-select
  font-family: "PT Sans-Regular", sans-serif
  color: #1655a4
  text-shadow: 0px 0px 0px #1655a4, 0 0 0em #1655a4

.switch-control
  display: block
  position: relative
  width: 35px
  height: 17px
  cursor: pointer
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0
  input:checked ~ .control
    background-color: #fff
    &:after
      left: 19px
  .control
    width: 100%
    border-radius: 10px
    position: relative
    display: inline-block
    height: 100%
    background-color: #ffffff
    border: 1px solid #a9b2c1
    &:after
      left: 1px
      top: 1px
      content: ""
      position: absolute
      width: 13px
      height: 13px
      border-radius: 50%
      background-color: #1554a3
      transition: left 0.2s ease

.catalog-area
  background-color: #ffffff
  border-radius: 10px
  width: 100%
  position: relative
  margin: 0 0 10px 0
  padding: 35px 0
  .catalog-title-block
    padding: 0 50px
    margin: 0 0 20px 0
    display: flex
    width: 100%
    .catalog-title
      font-size: 31px
      font-family: "Open Sans-Regular", sans-serif
      span
        cursor: text
        font-family: "Open Sans-Bold", sans-serif

.catalog-slider-wrap
  padding: 0 50px

.catalog-top-nav
  margin: 0 0 25px 0
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  @media (max-width: 991px)
    display: none

.catalog-nav-item
  span:first-child
    cursor: text
  span
    cursor: pointer
    &._active
      color: #0054a6

.catalog-view-area
  margin: 0 0 0 50px
  display: flex
  align-items: center
  .view-chosen
    margin-left: 10px
    cursor: pointer
    &._active,
    &:hover,
    svg
      path
        fill: #AAB2C2

.catalog-nav-item
  margin: 5px 0
  display: flex
  align-items: center
  font-size: 15px
  color: #6C6F7B
  &.find-product
    font-family: "Open Sans-Regular", sans-serif
    span
      font-family: "Open Sans-Bold", sans-serif
  &.pagination
    span
      cursor: pointer
      padding: 0 10px 0 0
    .page-dots
      cursor: text
      padding: 0
  &.sort
    flex-wrap: wrap
    span
      padding: 0 10px 0 0
  &.show
    line-height: 13px
    span:not(:last-child)
      border-right: 1px solid #6C6F7B
      padding: 0 5px 0 0
      margin: 0 5px 0 0
    span:first-child
      border-right: none

.slick-slide
  outline: none !important

