//@media (max-width: 1550px)
//
//@media (max-width: 1140px)
//@media (max-width: 992px)
@media (max-width: 768px)
  .catalog-area
    padding: 20px 0
    .catalog-title-block
      padding: 0 20px
      .catalog-title
        font-size: 25px
        line-height: 27px
  .catalog-slider-wrap
    padding: 0 20px
@media (max-width: 576px)
  .title-block
    margin: 0 0 15px 0
    .title
      font-size: 21px
      line-height: 24px
  .info-block
    margin: 0 0 30px 0
  .guarantee-border
    padding: 0 0 15px 0
  .info-text
    margin: 15px 0

//@media (max-width: 490px)
