body
  @media (max-width: 991px)
    padding-bottom: 69px
.filter,.filter-step-next
  position: fixed
  top: 0
  right: 0
  width: 100%
  height: 100%
  z-index: 900
  overflow-y: hidden
  transition: 0.5s ease-in-out left
  //padding: 0 0 67px 0
  background-color: #fff
  display: none
  @media (max-width: 991px)
    display: flex
  &__header
    position: fixed
    width: 100%
    z-index: 100
    //margin-bottom: 30px
    //@media (max-width: 576px)
    margin-bottom: 20px
  &__type
    //padding: 0 20px
    //margin-bottom: 0px
    //@media (max-width: 576px)
    padding: 0 15px
    margin-bottom: 0px
  &__block
    //padding: 20px

    padding: 10px 15px 10px 15px
    //@media (max-width: 576px)
    //  padding: 10px 15px 10px 15px
  &__bottom-button
    position: fixed
    bottom: 68px
    z-index: 100
    left: 0
    right: 0
    width: 100%
    background-color: #fff
  &__search
    position: fixed
    z-index: 99
    width: 100%
    left: 0
    top: 55px
    background-color: #ffffff
    padding: 20px 15px

.filter
  visibility: hidden
  opacity: 0
  &--active
    opacity: 1
    visibility: visible

.filter-step-next
  visibility: hidden
  opacity: 0
  z-index: 920
  &--active
    opacity: 1
    visibility: visible


.filter-header
  padding: 10px 15px
  display: flex
  align-items: center
  justify-content: space-between
  background: #FFFFFF
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15)
  & > *
    display: flex
    flex: 1 1 33.33%
  &__btn-reset
    text-decoration-line: none
    justify-content: flex-start
    color: #E3000F
    padding: 0
    font: 700 18px/24px 'Open Sans'
  &__title
    justify-content: center
    color: #2D3541
    font: 700 18px/24px 'Open Sans'
  &__close
    justify-content: flex-end
    a
      width: 18px
      height: 18px
      display: inline-block
      img
        width: 100%

.filter-block
  &__title
    color: #2D3541
    margin-bottom: 9px
    font: 700 20px/27px 'Open Sans'
  &__bubbles
    margin-bottom: 20px
  &__button-all
    margin-bottom: 5px
    background: #97A1B3
    border-radius: 50px
    font: 600 18px/25px 'Open Sans'
    color: #FFFFFF
    padding: 5px 20px
    width: 100%
    &:active, &:hover, &:focus
      background: #7C929F
      text-decoration-line: none
  &__reset-all
    margin-bottom: 15px
  &__btn-red
    text-transform: capitalize
    border-radius: 50px
    padding: 10px 15px
    font: 600 18px/21px 'Open Sans'
    margin-bottom: 15px
  &__switch-control
    width: 30px
    flex: 0 0 30px
    .control
      background:  #97A1B3
    .control:after
      left: 3px
      top: 3px
      width: 9px
      height: 9px
      background-color: #fff
    input:checked ~ .control:after
      left: 17px
      background-color: #fff
    input:checked ~ .control
      background-color: #97A1B3


.filter-bubbles
  margin: 0 -2px 10px -2px
  //margin: 0 -5px 10px -5px
  display: flex
  flex-wrap: wrap
  //@media (max-width: 576px)
  //  margin: 0 -2px 10px -2px

.filter-bubble
  text-align: center
  font: 700 14px/19px 'Open Sans'
  color: #57657E
  padding: 7px 21px
  background: #EBEFF3
  border-radius: 50px
  display: inline-block
  //margin: 0 5px 10px 5px
  margin: 0 2px 5px 2px
  //@media (max-width: 576px)
  //  margin: 0 2px 5px 2px
  &:active, &:hover, &:focus
    text-decoration-line: none
    color: #57657E
  &--active
    background-color: #E30613
    color: #ffffff

.filter-type
  &__buttons
    border: 1px solid #D7DFE6
    border-radius: 5px
    display: flex
    justify-content: space-between
    input
      display: none
    input:checked ~ label
      background-color:  #EBEFF3
  &__button
    flex: 1 1 50%
    &:first-child
      border-right: 1px solid #D7DFE6
  &__label
    padding: 7px
    width: 100%
    text-align: center
    color: #2D3541
    font: 600 15px/20px 'Open Sans', sans-serif


.bottom-menu
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  z-index: 999
  box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.25)
  background-color: #fff
  &__list
    padding: 12px 5px 14px 5px
    display: flex
  &__item
    margin: 0 10px
    flex: 1 1 auto
  &__link
    display: flex
    flex-direction: column
    align-items: center
    &:active, &:hover, &:focus
      text-decoration-line: none
  &__img
    display: flex
    justify-content: center
    width: 27px
    height: 23px
    margin: 0 0 3px 0
    //max-width: 100%
  &__text
    color: #6D6F7C
    font: 600 13px/17px 'Open Sans'
    &:active, &:hover, &:focus
      text-decoration-line: none
      color: #2D3541

.line-filter
  border: 1px solid #D7DFE6
  margin: 0

.checkbox
  &__filter
    padding-top: 2px
    //margin-bottom: 20px
    margin-bottom: 13px
    //@media (max-width: 576px)
    //  margin-bottom: 15px
    .label
      order: 1
      width: 25px
      height: 25px
      flex: 0 0 25px
      //margin-right: 20px
      margin-right: 9px
      //@media (max-width: 576px)
      //  margin-right: 9px
    .checkbox-text
      order: 2
      color: #2D3541
      font: 600 15px/20px 'Open Sans', sans-serif


.button-reset-all
  width: 100%
  display: inline-block
  text-align: center
  color: #15519A
  text-decoration-line: underline
  font: 400 17px/23px 'Open Sans', sans-serif

.filter-search
  position: relativedisplay none in display block not work scroll
  width: 100%
  height: 36px
  input
    position: relative
    padding-right: 40px
  button
    width: 40px
    background-color: transparent
    position: absolute
    height: inherit
    right: 0px
    padding: 0
    top: 0
    z-index: 10
    display: flex
    align-items: center
    justify-content: center
    svg
      path
        fill: #2D3541

.filter-search-list
  overflow-y: auto
  margin: 125px 15px 200px 0
  padding: 3px 5px 0px 15px
  .checkbox__filter:last-child
    margin-bottom: 0

.filter-content-list
  overflow-y: auto
  margin: 55px 0 185px 0
  padding-top: 20px

.button-filter-area
  width: 100%
  justify-content: center
  border-bottom: 1px solid #D7DFE6
  display: none
  padding: 0 15px 15px 15px
  @media(max-width: 991px)
    display: flex

.button-filter
  background: #EBEFF3
  border-radius: 5px
  padding: 7px
  min-height: 37px
  max-width: 290px
  width: 100%
  display: flex
  margin: 0 auto
  & > *
    margin: 0 3px
  &__text
    font: 600 18px/24px 'Open Sans', sans-serif
    color: #2D3541
  &__image
    display: inline-block
  &__count
    border-radius: 50%
    font: 800 13px/18px 'Open Sans', sans-serif
    color: #fff
    width: 21px
    height: 21px
    display: flex
    align-items: center
    justify-content: center
    background-color: #E30613
.page-catalog
  .catalog-area .catalog-title-block .catalog-title span
    font: bold 27px/130% 'Open Sans', sans-serif
  .catalog-product .catalog-title-block .catalog-count
    margin: 0 5px
    //@media (max-width: 991px)

  .catalog-product .catalog-title-block .catalog-count span
    color: #15519A
    font: bold 14px/26px 'Open Sans', sans-serif
  .card-product-price .price span
    @media (max-width: 991px)
      font: bold 26px/35px 'Open Sans', sans-serif
      .rub
        font-weight: 400
  .card-product-price-inner
     @media (max-width: 991px)
       margin-bottom: 2px
  .card-product-price-inner__old-price
    @media (max-width: 991px)
      display: none
  .card-product-price-inner__old-price-mobile
    display: none
    @media (max-width: 991px)
      display: block
      .old-price
        color: #E30613
        font: 400 14px/19px 'Open Sans', sans-serif
        text-decoration-line: line-through
        text-transform: uppercase

.catalog-select
  position: relative
  margin-left: auto
  z-index: 10
  &__text
    font: 600 14px/19px 'Open Sans', sans-serif
    color: #2D3541
  &__options
    z-index: 10
    transform: translate(-100%, 91%)
    position: absolute
    bottom: -5px
    left: 100%
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25)
    display: flex
    flex-direction: column
    padding: 10px 15px 4px 15px
    background-color: #fff
    border-radius: 5px
    min-width: 130px
    opacity: 0
    pointer-events: none
    visibility: hidden
    transition: 0.3s ease-in-out all
    &--active
      pointer-events: auto
      visibility: visible
      opacity: 1
      transform: translate(-100%,100%)
  &__option
    color: #2D3541
    font: 400 15px/20px 'Open Sans', sans-serif
    padding: 0 0 8px 0
    margin: 0 0 8px 0
    border-bottom: 2px solid #D7DFE6
    &:hover,&:focus,&:focus-visible
      color: #2D3541
      text-decoration-line: none
    &:last-child
      border-bottom: none
      margin: 0
    &--active
      font-weight: bold



@media (max-width: 991px)
  .page-catalog.bg-gray
      background-color: #fff
  .page-catalog
    .main-area
      padding: 0 15px
    .page-area
      margin: 0 -15px!important
    .catalog-area .catalog-title-block
      padding-left: 15px!important
      padding-right: 15px!important
    .product-table,.container-product,.card-product-price
      margin-top: 0
    .card-product
      padding: 15px
      border: none
      display: flex
      border-bottom: 1px solid #D7DFE6
      border-radius: 0
      margin-bottom: 0
      .btn
        text-transform: inherit
        margin-bottom: 0px
        background: #97A1B3
        border-radius: 50px
        font: 600 18px/25px 'Open Sans'
        color: #FFFFFF
        padding: 5px 20px
        max-width: 420px
        width: 100%
        &:hover, &:active
          background-color: #7C929F
    .card-product:hover
      box-shadow: none
    .card-product-img,
    .view-row-style .card-product .card-product-img
      width: 200px
      flex: 0 0 200px
      padding: 0
      height: 200px
      border: 0
      margin-bottom: 0
    .tire-type,.card-promo,.card-product-info-line,.product-count,.total-sum-price
      display: none
    .card-product-info-name
      color: #1E2225
      min-height: auto
      font: 600 15px/150% 'Open Sans', sans-serif
      letter-spacing: -0.2px
      margin-bottom: 5px
    .card-product-btn
      border-top: 0
      margin-top: 25px
      padding: 0
    .card-product-info
      padding: 0
    .catalog-product-content
      padding: 0
    .view-row-style .card-product .card-row-version
      display: none!important
    .view-row-style .card-product .card-col-version
      display: inline-block!important
    .card-col-version
      width: 100%
    .btn-area._pos-center
      justify-content: flex-start
    .view-row-style .card-product
      flex-direction: row!important
      flex-wrap: nowrap!important
    .product-stock
      margin: 0 0 7px 0
    .product-stock .stock
      font-size: 14px
      line-height: 16px
    .product-stock .stock._yes:before
      width: 15px
      height: 12px
      right: -21px

@media (max-width: 767px)
  .page-catalog
    .card-product-img,
    .view-row-style .card-product .card-product-img
      width: 100px
      flex: 0 0 100px
      height: 100px
    .card-product
      padding-bottom: 60px
    .card-product-btn
      margin-top: 0
      padding: 0 15px
      position: absolute
      width: 100%
      left: 0
      bottom: 15px
    .btn-area._pos-center
      justify-content: center
