//@media (max-width: 1550px)
//@media (max-width: 1140px)
@media (max-width: 991px)
  .guest-images
    display: none
  .guest-images .guest-img
    display: none
@media (max-width: 768px)
  .guest-page
    margin: 30px 0 0 0
  .list-card
    padding: 0 20px
@media (max-width: 576px)
  .guest-page .title-block .title
    font-size: 21px
    line-height: 24px
  .guest-page-area .btn-area
    flex-wrap: wrap
    justify-content: center
    flex-direction: column
  .guest-page-area .btn-area a
    margin: 0 0 10px 0
  .guest-page-area .btn-area a:last-child
    margin: 0 0 10px 0
//@media (max-width: 490px)
