.preloader
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  opacity: 0.3
  background: #000
  color: #fff
  display: flex
  align-items: center
  justify-content: center
  z-index: 9999999
.loader-block
  width: 170px
  height: 170px
  display: flex
  justify-content: center
  align-items: center
.loader
  -webkit-animation: load3 1.4s infinite linear
  animation: load3 1.4s infinite linear

@keyframes load3
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

.page-404-area
  margin: 57px 0
  text-align: center

.page-404-title
  font-size: 17px
  line-height: 24px
  color: #0054a6
  margin: 0 0 20px 0

.page-404-img
  display: flex
  justify-content: center
  margin: 0 0 50px 0

.page-404-info
  font-size: 17px
  line-height: 24px
  a
    font-weight: bold
    font-family: "Open Sans", sans-serif

.guest-page-content
  //margin: 0
  padding: 25px 0 95px 0
  background-image: url("../img/fon-guest.png")
  //width: 1747px
  //height: 448px
  background-repeat: no-repeat
  background-size: cover

.guest-page
  margin: 67px 0 0 0
  position: relative
  .title-block
    margin: 0 0 50px 0
    .title
      font-size: 42px
      line-height: 46px

.guest-page-title
  margin: 0 0 24px 0
  a
    font-size: 17px
    font-weight: bold
    font-family: "Open Sans", sans-serif
.guest-page-area
  position: relative
  z-index: 2
  p
    line-height: 22px
    font-size: 17px
    font-weight: 400
    font-family: "Open Sans", sans-serif
  .btn-area
    margin: 37px 0 0 0
    a
      width: 165px
    a:last-child
      margin: 0 0 0 55px

.guest-images
  display: flex
  align-items: center
  position: absolute
  right: 14px
  top: -46px
  z-index: 1
  .guest-img
    margin: -45px 82px 0 0

.list-card
  padding: 0 50px
