.guarantee-check
  margin: 0 10px 0 0

.guarantee-border
  border-bottom: 1px solid #d7dfe6
  padding: 0px 0 37px
  margin: 0 0 37px

.guarantee-title
  font-family: "PT Sans-Regular", sans-serif
  font-size: 26px
  line-height: 27px
  span
    display: inline-block
    font-family: "PT Sans-Bold", sans-serif

