.promo-list
  display: flex
  margin: 0 -10px
  flex-wrap: wrap
  justify-content: center

.promo-banner
  margin-bottom: 25px
  width: 100%
  max-width: 100%
  min-width: 1747px
  object-fit: cover
  height: auto
  &._mobile
    min-width: 0
    display: none

.promo-item
  background-color: #eef1f4
  flex: 0 1 410px
  display: inline-block
  margin: 0 0 25px 0

.promo-item-img
  max-height: 225px
  margin: 0 0 26px 0
  img
    max-width: 100%

.promo-info
  padding: 0 20px
  p:first-child
    font-family: "PT Sans-Bold", sans-serif
    font-size: 16px
    color: #292c39
    margin: 0 0 12px 0
    letter-spacing: 1.3px
  p
    color: #72737f
    span
      font-family: "PT Sans-Bold", sans-serif
.promo-item
  .btn-area
    margin: 25px 0
    .btn
      max-width: 165px
      width: 100%

.promo-title-block
  margin: 0 0 17px 0
  .promo-title
    font-size: 27px
    font-family: "Open Sans", sans-serif
    font-weight: 600

.promo-subtitle
  font-family: "Open Sans", sans-serif
  font-style: normal
  font-weight: normal
  font-size: 21px
  color: #2D3541
  margin: 0 0 25px 0

.info-text
  p.promo-bottom
    font-size: 18px
    line-height: 25px
    border-top: 1px solid #7D93A0
    padding-top: 15px
    margin-top: 20px
  p.promo-p
    font-size: 18px
    line-height: 25px
  p.promo-p+p.promo-p
    margin-top: 17px

.promo-terms-title
  font-size: 18px
  font-family: "Open Sans", sans-serif
  font-weight: 700
  margin: 27px 0 15px 0
  text-decoration: underline

ul.promo-terms
  border-bottom: 1px solid #7D93A0
  padding-bottom: 15px
  margin-bottom: 20px
  &>li
    margin-left: 10px
    padding-left: 10px
    font-size: 18px
    position: relative
    line-height: 25px
    margin-bottom: 3px
    span
      color: #0054a6
    &::before
      content: ''
      position: absolute
      width: 10px
      height: 10px
      left: -10px
      top: 8px
      background: #1655A4
      border-radius: 1px
    &>ul
      margin-top: 15px
      &>li
        font-size: 13px
        text-transform: uppercase
        position: relative
        line-height: 19px
        margin-bottom: 10px
        &::before
          content: ''
          position: absolute
          width: 4px
          height: 4px
          left: -10px
          top: 7px
          background: #2D3541
          border-radius: 50%

a.promo-phone
  color: #2D3541
  text-decoration: none
  font-weight: 600

//@media (max-width: 1140px)
//@media (max-width: 992px)
//@media (max-width: 768px)

@media (max-width: 1300px)
  .promo-banner
    display: none
    &._mobile
      display: block

@media (max-width: 576px)
  .promo-list
    .row
      justify-content: center
//@media (max-width: 490px)
