.search-area
  .no-result
    margin: 20px 0 56px 0
.input-search-area_all
  margin: 0 0 21px 0
  .input-container
    width: 100%

.search-offers-title
  font-size: 26px
  line-height: 26px
  margin: 0 0 23px 0
  letter-spacing: 1.5px

.search-offers-list
  display: flex
  flex-wrap: wrap

.search-offer
  font-weight: 400
  font-family: "Open Sans", sans-serif
  line-height: 21px
.search-offer:not(:last-child)
  margin: 0 20px 0 0

