//@media (max-width: 992px)
//@media (max-width: 768px)
@media (max-width: 576px)
  .item-banner
    margin: 50px 0 0 0
  .item-banner-title
    font-size: 35px
    line-height: 38px
    margin: 0 0 30px 0
  .slick-prev, .slick-next
    display: none!important
//@media (max-width: 490px)
