<div class="main-area-fluid">
  <div class="slider-banner">
    <div class="slider-banner-item">
      <div class="item-banner-area">
        <div class="item-banner">
          <div class="item-banner-title">
            <span>Шины</span>
            <br>лучших брендов
          </div>
          <div class="item-banner-text">
            <br>Консультация специалистов, бесплатное
            <br>сезонное хранение
          </div>
        </div>
      </div>
      <img data-lazy='img/sliders/slider-3.jpg' alt="">
    </div>

    <div class="slider-banner-item">
      <div class="item-banner-area">
        <div class="item-banner">
          <div class="item-banner-title">
            <span>Шины и диски</span>
            <br>для грузовиков
          </div>
          <div class="item-banner-text">
            <br>Бесплатное сезонное хранение,
            <br>известные бренды и быстрая доставка
          </div>
          <div class="btn-area">
            <a href="#" class="btn btn-cobalt-blue">
              подробнее
            </a>
          </div>
        </div>
      </div>
      <img data-lazy='img/sliders/slider-1.jpg' alt="">
    </div>

    <div class="slider-banner-item">
      <img data-lazy='img/sliders/slider-2.jpg' alt="">
    </div>
    <div class="slider-banner-item">
      <div class="item-banner-area">
        <div class="item-banner">
          <div class="item-banner-title">
            <span>Зимние шины</span>
            <br>для грузовых автомобилей
          </div>
          <div class="item-banner-text">
            <br>Зимние шины известных брендов, консультация
            <br>специалистов, подбор, бесплатное сезонное хранение
          </div>
          <div class="btn-area">
            <a href="#" class="btn btn-cobalt-blue">
              каталог
            </a>
          </div>
        </div>
      </div>
      <img data-lazy='img/sliders/slider-4.jpg' alt="">
    </div>
  </div>
</div>
