.slider-banner
  margin-bottom: 0 !important
  min-height: 100px
  width: 100%
  position: relative
  //height: 450px
  /* Стрелка влево */
  .slick-arrow.slick-prev
    left: 20px
  /* Стрелка вправо */
  .slick-arrow.slick-next
    right: 20px
  /* Стрелки */
  .slick-prev:hover,
  .slick-prev:focus
    color: transparent
    outline: none
    background: url("../img/sl-arrow-prev.png") 0 0 no-repeat !important
  .slick-next:hover,
  .slick-next:focus
    color: transparent
    outline: none
    background: url("../img/sl-arrow-next.png") 0 0 no-repeat !important
  .slick-arrow.slick-next
    background: url("../img/sl-arrow-next.png") 0 0 no-repeat
  .slick-arrow.slick-prev
    background: url("../img/sl-arrow-prev.png") 0 0 no-repeat
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next
    z-index: 4
    width: 43px
    height: 43px
    &:before
      content: none
  .slick-arrow.slick-disabled
    opacity: 0.2
  .slick-dots
    bottom: 15px
  .slick-dots li button:before
    color: #fff
    opacity: 1
  .slick-dots li.slick-active button:before
    color: #fff
    opacity: 1
    transform: scale(1.7)
  .slider-banner-item:focus
    outline: none !important
  .slider-banner-item
    img
      min-width: 100%
//.slide
//  height: 450px

.item-banner-area
  display: none

.slick-initialized
  .item-banner-area
    display: flex
    justify-content: center
    position: relative
    width: 100%

.item-banner
  margin: 100px 0 0 0
  width: 100%
  max-width: 1295px
  position: absolute
  padding: 0 10px
  .btn
    max-width: 165px
    width: 100%

.item-banner-title
  font-family: "Open Sans", sans-serif
  font-weight: 400
  font-size: 42px
  line-height: 45px
  margin: 0 0 55px 0
  color: #292c39
  span
    width: 100%
    font-family: "Open Sans", sans-serif
    font-weight: 600
.item-banner-text
  font-family: "Open Sans", sans-serif
  font-weight: 400
  font-size: 17px
  line-height: 24px
  color: #292c39
  margin: 0 0 30px 0

.custom-slider.slick-dotted.slick-slider
  margin-bottom: 0
.custom-slider
  .slick-dots li.slick-active button:before
    width: 25px
    height: 25px
    color: #1655a4
    transform: scale(2)
  .slick-dots li button:before
    color: #d7dfe6
  .slick-next:before,
  .slick-prev:before
    content: none
  .slick-arrow.slick-prev
    top: 95%
    left: 5px
    z-index: 10
    background: url("../img/sl-1-arrow-prev.png") 0 0 no-repeat
  .slick-arrow.slick-next
    top: 95%
    right: 5px
    z-index: 10
    background: url("../img/sl-1-arrow-next.png") 0 0 no-repeat

.slider-card.slick-dotted.slick-slider
    margin-bottom: 0

.slider-card
  display: flex
  margin: 45px 0 70px 0!important
  .slick-dots li.slick-active button:before
    color: #6c6e7a
  .card-product
    max-width: 295px
    margin: 0 15px
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next
    top: 106%
  .slick-dots
    bottom: -45px
