<div class="main-area-fluid footer-area">
  <div class="main-area">
    <footer>
      <div class="footer-row">
        <div class="footer-col">
          <img class="footer-logo" src="img/logo-footer.png" alt="Логотип">
          <a class="footer-phone-mobile" href="tel:+74862488660">
            <span>8 4862</span> 48-86-60
          </a>
          <p class="footer-info-1">© 2018-2020 Шины на грузовик</p>
          <a class="privacy-policy" href="/">Политика конфиденциальности</a>
          <a href="mail:protektor57.ru" class="footer-mail">
            <img src="img/mail.png" alt="">protektor57.ru - <span>ПО ОБЩИМ ВОПРОСАМ</span>
          </a>
        </div>
        <div class="footer-col footer-col-links">
          <ul class="footer-links">
            <li class="footer-link">
              <a href="">Шины</a>
            </li>
            <li class="footer-link">
              <a href="">Диски</a>
            </li>
            <li class="footer-link">
              <a href="">Камеры</a>
            </li>
            <li class="footer-link">
              <a href="">Датчики</a>
            </li>
            <li class="footer-link">
              <a href="">Запчасти</a>
            </li>
            <li class="footer-link">
              <a href="">Шиномонтаж</a>
            </li>
          </ul>
        </div>
        <div class="footer-col footer-col-links">
          <ul class="footer-links">
            <li class="footer-link">
              <a href="">Доставка</a>
            </li>
            <li  class="footer-link">
              <a href="">Оплата</a>
            </li>
            <li  class="footer-link">
              <a href="">Гарантия</a>
            </li>
            <li  class="footer-link">
              <a href="">О компании</a>
            </li>
            <li  class="footer-link">
              <a href="">Бренды</a>
            </li>
            <li  class="footer-link">
              <a href="">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="footer-col footer-col-contact">

          <a class="footer-phone" href="tel:+74862488660">
            <span>8 4862</span> 48-86-60
          </a>

          <div class="btn-area">
            <button class="btn btn-border">
              заказать звонок
            </button>
          </div>

          <div class="footer-soc">
            <a href="/">
              <img src="img/fb.png" alt="fb">
            </a>
            <a href="/">
              <img src="img/vk.png" alt="vk">
            </a>
            <a href="/">
              <img src="img/t.png" alt="t">
            </a>
          </div>
        </div>
      </div>
      <div class="footer-description">
        <p>
          <span>"Шины на грузовик" </span>— грузовые шины (зимние и летние шины), колесные диски, шиномонтаж и хранение шин. Сайт носит исключительно информационный характер и никакая информация, опубликованная на нём, ни при каких условиях не является
          публичной офертой, определяемой положениями пункта 2 статьи 437 Гражданского кодекса Российской Федерации. Информация, фотографии и характеристики товара могут отличаться от фактических параметров. Уточняйте информацию
          у менеджеров и внимательно проверяйте все характеристики при получении товара.
        </p>
      </div>
    </footer>
  </div>
</div>
