//@media (max-width: 1550px)
//@media (max-width: 1140px)
@media (max-width: 991px)
  .footer-col
    width: 100%
  .footer-links
    flex-wrap: wrap
    padding: 9px 0 0 0
    flex-direction: row
    margin: 0 0 0 -5px
  .footer-phone
    text-align: left
  .footer-col .btn-area
    justify-content: flex-start
  .footer-soc
    justify-content: flex-start
//@media (max-width: 768px)
@media (max-width: 576px)
  .footer-area
    padding: 20px 0
  .footer-col .privacy-policy
    display: none
  .footer-col .footer-mail
    display: none
  .footer-info-1
    width: 100%
    text-align: center
  .footer-col-links, .footer-col-contact
    display: none
  .footer-logo
    width: 96px
  .footer-col .footer-logo
    margin: 0 0 14px 4px
  .footer-description
    margin: 18px 0 0 0
  .footer-phone-mobile
    display: block
    color: #fff
    font-size: 13px
    margin: 10px 2px 0 0px
    span
      color: #6c6f7b
  .footer-col
    justify-content: space-between
    display: flex
    flex-wrap: wrap
    align-items: flex-start
  .footer-links
    display: none
  .footer-col-contact
    display: none
//@media (max-width: 490px)
