.footer-area
  background-color: #2e3541
  padding: 35px 0
  .footer-row
    flex-wrap: wrap
    display: flex
    justify-content: space-between

.footer-col
  width: 25%
  .footer-info-1
    font-size: 12px
    line-height: 18px
    color: #85868e
    margin: 0 0 5px 0
  .privacy-policy
    display: block
    font-size: 12px
    line-height: 18px
    text-decoration-line: underline
    color: #babbc0
    margin: 0 0 43px 0
  .footer-logo
    margin: 0 0 25px 0
  .footer-mail
    text-transform: uppercase
    color: #9d9fa4
    font-family: "Open Sans", sans-serif
    font-weight: 400
    font-size: 15px
    line-height: 15px
    img
      margin: 0 10px 0 0
    span
      color: inherit
      font-size: 9px
  .btn-area
    justify-content: flex-end
    padding: 0 33px 0 0
    margin: 0 0 44px 0
    .btn-border
      padding: 5px 30px

.footer-description
  margin: 50px 0 19px 0
  p
    font-size: 11px
    line-height: 13px
    color: #babbc0
    span
      color: #dcdbe0

.footer-links
  display: flex
  flex-direction: column
  padding: 9px 0 0 81px
  .footer-link
    margin: 0 0 1px 0
    padding: 5px
    a
      white-space: nowrap
      display: inline-block
      //margin: 0 0 25px 0
      font-family: "Open Sans", sans-serif
      font-weight: 400
      font-size: 17px
      color: #dcdbe0
      line-height: 18px
      &:hover
        color: #eb1724

.footer-phone
  display: inline-block
  margin: 14px 0 26px 0
  font-size: 28px
  color: #dcdbe0
  line-height: 30px
  text-decoration-line: none
  font-weight: bold
  width: 100%
  text-align: right
  white-space: nowrap
  span
    color: #6c6f7b

.footer-soc
  padding: 0 89px 0 0
  display: flex
  align-items: flex-end
  width: 100%
  justify-content: flex-end
  a
    display: inline-block
    padding: 2px
    margin: 10px 12px


.footer-phone-mobile
  display: none
