
.card-product
  margin: 0 0 30px 0
  background-color: #ffffff
  border-radius: 5px
  //max-width: 288px
  border: 1px solid #d7dfe6
  min-width: 0
  position: relative
  transition: 0.1s ease all
  &:hover
    border-color: transparent
    //transform: scale(1.01)
    box-shadow: 0 0 18px rgba(0, 0, 0, .1)

.card-margin
  margin-bottom: 30px

.card-row-version
  display: none

.card-product-img
  padding: 10px 45px
  position: relative
  height: 195px
  overflow: hidden
  display: flex
  justify-content: center
  border-bottom: 1px solid #d7dfe6
  margin: 0 0 15px 0
  a
    display: flex
  .card-product-img-link
    img
      width: 100%
      object-fit: contain
      height: 100%
      top: 0
      left: 0

.card-promo
  position: absolute
  top: 25px
  left: 21px
  z-index: 10
  p
    font-size: 18px
    font-family: "Open Sans-Bold", sans-serif
    color: #e3000f
    text-transform: uppercase

.tire-type
  z-index: 50
  display: flex
  flex-direction: column
  position: absolute
  top: 20px
  right: 0
  bottom: 0
  img
    margin: 10px 20px
  .img-search
    margin: 24px 20px
    cursor: pointer
    position: absolute
    bottom: 0

.card-product-info
  padding: 0 21px

.card-product-info-name
  min-height: 40px
  display: block
  font-weight: 400
  font-family: "Open Sans", sans-serif
  color: #292c39
  margin: 0 0 10px 0
  //letter-spacing: 0.7px
  line-height: 20px
  &:hover
    text-decoration-line: none

.card-product-info-line
  font-weight: 400
  font-family: "Open Sans", sans-serif
  color: #6c6f7b
  font-size: 15px
  line-height: 25px
  //white-space: nowrap
  span
    text-transform: initial

.card-product-info-line.article
  span
    color: #292c39

.card-product-info-line.find
  .find-btn
    cursor: pointer
    color: #0054a6
    font-size: 11px
    text-transform: uppercase
    text-decoration-line: underline
  span:not(.add-info)
    color: #0054a6
//
.card-product-info-line.brand
  span, a
    font-size: 13px
    color: #0054a6
    text-transform: uppercase

.card-product-price
  margin: 23px 0 0 0
  justify-content: space-between
  display: flex
  flex-wrap: wrap
  line-height: 27px
  .price
    font-size: 15px
    text-align: center
    color: #6c6f7b
    span
      font-size: 21px
.product-count
  width: auto
  margin: 0 12px
  .input-container
    width: 33px
    border: none
    border-radius: 0
    input
      border-radius: 0
      padding: 4px 2px
      text-align: center


  .old-price
    color: #6c6e7a
    text-decoration: line-through
  .total-sum-price
    font-size: 13px
    color: #6c6e7a

.card-product-price-inner
  line-height: 19px
  margin: 0 0 7px 0
  flex: 1 1 100%
  display: flex
  justify-content: space-between

.product-stock
  color: #6c6e7a
  margin: 9px 0 14px 0
  .stock
    display: inline-block
  .stock._balance
    span
      font-family: "PT Sans-Bold", sans-serif
  .stock._yes
    position: relative
    &:before
      content: ''
      background-image:  url("../../../img/check-green.png")
      width: 18px
      height: 13px
      position: absolute
      background-size: cover
      right: -29px
      top: 0

.card-product-btn
  padding: 20px 0
  border-top: 1px solid #d7dfe6
  .btn
    width: 165px

.card-product-find-area
  z-index: 100
  height: 240px
  position: absolute
  width: 400px
  padding: 20px
  bottom: 100px
  top: auto
  left: 80%
  right: auto
  border-radius: 20px
  background-color: #edeff1

.container-product
  margin: 18px 0

//.view-row-style
//  .card-margin

.view-row-style
  .card-col
    width: 100%
  .card-product
    flex-wrap: wrap
    min-height: 210px
    flex: 100%
    max-width: 100%
    display: flex
    overflow: hidden
    .card-product-img
      padding: 0
      height: auto
      width: 20%
      margin: 0
      border-bottom: 0
      border-right: 1px solid #d7dfe6
    .tire-type
      img
        display: none
      img.img-search
        display: block !important
    .card-promo
      right: 10px
      left: auto
      top: 20px
    .match-window-area._open
      display: none
    .card-col-version
      display: none
    .card-row-version
      display: block

.product-img
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 4
  object-fit: contain

.product-match
  cursor: pointer
  text-decoration-line: underline

.match-window-area
  display: none
  padding: 0px 9px 0 18px
  position: absolute
  left: 89%
  top: 303px
  z-index: 100
  background-color: #edeff1
  border-radius: 20px
  width: 400px
  &._open
    display: block



.match-list
  margin: 18px 0 18px 0
  padding: 0 9px 0 0
  max-height: 240px
  overflow-y: auto
  overflow-x: hidden

.match-item
  .btn-area
    width: auto
    justify-content: flex-end
    .btn
      width: 100%
      max-width: 148px
      min-height: 36px
.match-item:not(:last-child)
  padding: 0 0 10px 0
  margin: 0 0 10px 0
  border-bottom: 1px solid #d7dfe6

.match-name
  font-weight: 400
  font-family: "Open Sans", sans-serif
  margin: 0 0 10px 0

.match-footer
  width: 100%
  display: flex
  justify-content: space-between
  .match-info,
  .btn-area
    flex: 0 1 50%

.match-desc
  color: #6c6f7b
  margin: 0 0 7px 0
  span
    color: #1655a4
    font-size: 13px

.match-price
  font-weight: 400
  font-family: "Open Sans", sans-serif
  font-size: 21px
  color: #292C39
  .count
    font-size: 13px

.card-row-version
  display: none
  flex: 1
  padding: 26px 20px 20px 43px
  .card-product-info
    padding: 0
    display: flex
    align-items: inherit
  //flex-wrap: wrap
  .card-product-info-block
    width: 100%
  .card-product-info-name
    font-size: 18px
    min-height: auto
    margin: 0 0 16px 0
  .card-product-info-line
    margin: 0 0 8px 0
    &.brand
      margin: 0 10px 0 0
  .card-product-btn
    padding: 0
    border: none
  .card-product-price-inner
    flex-direction: column
    align-items: center
    margin: 0 0 20px 0
  .card-product-price
    margin: 0
    width: 34%
  .card-brand-stock
    margin: 12px 0 0 0
    display: flex
    align-items: baseline
    .product-stock
      white-space: nowrap
      margin: 0 5px 5px 30%
  .card-product-info-line.type
    display: flex
    img
      width: 13px
      height: 13px
      margin: 0 5px 0 0
  .card-product-btn
    width: 100%
  .card-col-version
    display: none
.view-row-style
  .match-slide-toggle-area
    position: relative
    display: none
    left: 0
    top: 0
    border-radius: 0
    width: 100%
    .match-list
      max-height: 120px
      .match-item
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
      .match-name,.match-desc
        margin: 0
//.card-product-info
//  width: 100%
//  padding: 0 0 0 30px
//  display: flex

//.card-product-btn
//  border: none
//  padding: 0  30px 0 0
