<div class="card-product">

  <div class="match-window-area match-drop-area">
    <div class="match-list">
      <div class="match-item">
        <div class="match-name">Камера МР-47 HECTORRA 3 FR 205/70 R15 96H</div>
        <div class="match-footer">
          <div class="match-info">
            <div class="match-desc">Вентиль <span>185/65 R14</span></div>
            <div class="match-price">
              7 897 ₽ <span class="count"></span>
            </div>
          </div>
          <div class="btn-area">
            <button class="btn btn-gray">
              В корзину
            </button>
          </div>
        </div>
      </div>
      <div class="match-item">
        <div class="match-name">Камера МР-47 HECTORRA 3 FR 205/70 R15 96H</div>
        <div class="match-footer">
          <div class="match-info">
            <div class="match-desc">Вентиль <span>185/65 R14</span></div>
            <div class="match-price">
              7 897 ₽ <span class="count"></span>
            </div>
          </div>
          <div class="btn-area">
            <button class="btn btn-gray">
              В корзину
            </button>
          </div>
        </div>
      </div>
      <div class="match-item">
        <div class="match-name">Камера МР-47 HECTORRA 3 FR 205/70 R15 96H</div>
        <div class="match-footer">
          <div class="match-info">
            <div class="match-desc">Вентиль <span>185/65 R14</span></div>
            <div class="match-price">
              7 897 ₽ <span class="count"></span>
            </div>
          </div>
          <div class="btn-area">
            <button class="btn btn-gray">
              В корзину
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-product-img">
    <div class="card-promo">
      <p>Sale</p>
    </div>
    <img class="product-img" src="img/product-tire.png" alt="Шина">
    <div class="tire-type">
      <img src="img/card/mod-1.png" alt="Тип-1">
      <img src="img/card/mod-2.png" alt="Тип-2">
      <img src="img/card/mod-3.png" alt="Тип-3">
      <img src="img/card/search.png" class="img-search" alt="Поиск">
    </div>
  </div>

  <div class="card-col-version">
    <div class="card-product-info">
      <div class="card-product-info-name">
        Грузовая шина АШК Nor Tec TR-93 R20 12.00/ 129F TT
      </div>
      <div class="card-product-info-line article">
        Артикул: <span>34567</span>
      </div>
      <div class="card-product-info-line find">
        Камера <span class="product-match">подобрать</span>
      </div>
      <div class="card-product-info-line brand">
        Бренд <span>MATADOR</span>
      </div>

      <div class="card-product-price">
        <div class="card-product-price-inner">
          <div class="price"><span>7 897 <span class="rub">₽ </span></span></div>
          <div class="product-count">
            <div class="strelka _left">
              <div class="sq">
                <span>—</span>
                <div class="arrow_box"></div>
              </div>
            </div>
            <div class="input-container count">
              <input type="number" value="4">
            </div>
            <div class="strelka _right">
              <div class="sq">
                <span>+</span>
                <div class="arrow_box"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-product-price-inner card-product-price-inner__old-price-mobile">
          <div class="old-price">103 456 ₽</div>
        </div>
        <div class="card-product-price-inner card-product-price-inner__old-price">
          <div class="old-price">15 897 ₽</div>
          <div class="total-sum-price">Сумма: 999 897 ₽</div>
        </div>
      </div>

      <div class="product-stock">
        <div class="stock _yes">В наличии</div>
      </div>
    </div>
    <div class="card-product-btn">
      <div class="btn-area _pos-center">
        <button class="btn btn-red">
          В корзину
        </button>
      </div>
    </div>
  </div>

  <div class="card-row-version">
    <div class="card-product-info">

      <div class="card-product-info-block">
        <div class="card-product-info-name">
          Шина MATADOR МР-47 HECTORRA
          3 FR 205/70 R15 96H
        </div>
        <div class="card-product-info-line article">
          Артикул: <span>34567</span>
        </div>
        <div class="card-product-info-line find">
          Камера <span class="product-match-row" type="button">подобрать</span>
        </div>
        <div class="card-product-info-line type">
          <img src="img/card/mod-1.png" alt="Тип-1">
          <img src="img/card/mod-2.png" alt="Тип-2">
          <img src="img/card/mod-3.png" alt="Тип-3">
        </div>
        <div class="card-brand-stock">
          <div class="card-product-info-line brand">
            Бренд <a href="/">MATADOR</a>
          </div>
          <div class="product-stock">
            <div class="stock">Нет в наличии</div>
          </div>
        </div>
      </div>

      <div class="card-product-price">
        <div class="card-product-price-inner">
          <div class="price"><span>7 897 ₽ </span></div>
          <div class="old-price">15 897 ₽</div>
        </div>
        <div class="card-product-price-inner">
          <div class="product-count">
            <div class="strelka _left">
              <div class="sq">
                <span>—</span>
                <div class="arrow_box"></div>
              </div>
            </div>
            <span class="count">4</span>
            <div class="strelka _right">
              <div class="sq">
                <span>+</span>
                <div class="arrow_box"></div>
              </div>
            </div>
          </div>
          <div class="total-sum-price">Сумма: 999 897 ₽</div>
        </div>
        <div class="card-product-btn">
          <div class="btn-area _pos-center">
            <button class="btn btn-red">
              В корзину
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="match-window-area match-slide-toggle-area">
    <div class="match-list">
      <div class="match-item">
        <div class="match-name">Камера МР-47 HECTORRA 3 FR 205/70 R15 96H</div>
        <div class="match-desc">Вентиль <span>185/65 R14</span></div>
        <div class="match-price">
          7 897 ₽ <span class="count"></span>
        </div>
        <div class="btn-area">
          <button class="btn btn-gray">
            В корзину
          </button>
        </div>
      </div>
      <div class="match-item">
        <div class="match-name">Камера МР-47 HECTORRA 3 FR 205/70 R15 96H</div>
        <div class="match-desc">Вентиль <span>185/65 R14</span></div>
        <div class="match-price">
          7 897 ₽ <span class="count"></span>
        </div>
        <div class="btn-area">
          <button class="btn btn-gray">
            В корзину
          </button>
        </div>
      </div>
      <div class="match-item">
        <div class="match-name">Камера МР-47 HECTORRA 3 FR 205/70 R15 96H</div>
        <div class="match-desc">Вентиль <span>185/65 R14</span></div>
        <div class="match-price">
          7 897 ₽ <span class="count"></span>
        </div>
        <div class="btn-area">
          <button class="btn btn-gray">
            В корзину
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


