//@media (max-width: 1140px)
//@media (max-width: 992px)
@media (max-width: 768px)
  .view-row-style .card-product .card-product-img
    width: 20%
@media (max-width: 576px)
  .view-row-style .card-product
    flex-direction: column
  .view-row-style .card-product .card-product-img
    width: 100%
    height: 100px
    border-right: none
    border-bottom: 1px solid #d7dfe6
  .card-row-version .card-product-info
    flex-wrap: wrap
  .card-row-version .card-product-price
    width: 100%
    margin: 10px 0 0 0
  .card-row-version
    padding: 20px
//@media (max-width: 490px)
