<div class="bottom-menu d-lg-none d-md-block">
  <ul class="bottom-menu__list">
    <li class="bottom-menu__item">
      <a href="/" class="bottom-menu__link">
        <div class="bottom-menu__img">
          <img src="./img/home.svg" alt="">
        </div>

        <span class="bottom-menu__text">Главная</span>
      </a>
    </li>
    <li class="bottom-menu__item">
      <a href="/" class="bottom-menu__link">
        <div class="bottom-menu__img">
          <img src="./img/catalog.svg" alt="">
        </div>
        <span class="bottom-menu__text">Каталог</span>
      </a>
    </li>
    <li class="bottom-menu__item">
      <a href="/" class="bottom-menu__link">
        <div class="bottom-menu__img">
          <img src="./img/cart.svg" alt="">
        </div>
        <span class="bottom-menu__text">Корзина</span>
      </a>
    </li>
    <li class="bottom-menu__item">
      <a href="/" class="bottom-menu__link">
        <div class="bottom-menu__img">
          <img src="./img/contact.svg" alt="">
        </div>
        <span class="bottom-menu__text">Контакты</span>
      </a>
    </li>
  </ul>
</div>
