<div class="left-mobile-menu-area">
  <div class="overlay"></div>
  <div class="left-mobile-menu">
    <div class="menu-content navigation">
      <div class="menu-content-header">
        <div class="menu-content-close">
          <img src="img/delete.png" alt="Закрыть">
        </div>
      </div>
      <div class="header-navigation left-menu-navigation">
        <ul class="navigation-links">
          <li class="navigation-links-li _active">
            <div class="link _active">
              каталог
            </div>
            <ul class="submenu first-level">
              <li>
                <div  class="submenu-link">Шины <img class="svg-icon" src="img/arrow.svg" alt=""></div>
                <ul class="submenu">
                  <li><a href="">Легковые</a></li>
                  <li><a href="">Грузовые</a></li>
                  <li><a href="">С/Х техника</a></li>
                </ul>
              </li>
              <li><div  class="submenu-link">Диски <img class="svg-icon" src="img/arrow.svg" alt=""></div>
                <ul class="submenu">
                  <li><a href="">Литые</a></li>
                  <li><a href="">Кованые</a></li>
                  <li><a href="">Штампованные</a></li>
                  <li><a href="">Колпаки</a></li>
                </ul>
              </li>
              <li><div class="submenu-link">Камеры <img class="svg-icon" src="img/arrow.svg" alt=""></div>
                <ul class="submenu">
                  <li><a href="">меню третьего уровня</a></li>
                  <li><a href="">меню третьего уровня</a></li>
                  <li><a href="">меню третьего уровня</a></li>
                </ul>
              </li>
              <li><div  class="submenu-link">Датчики <img class="svg-icon" src="img/arrow.svg" alt=""></div>
                <ul class="submenu">
                  <li><a href="">меню третьего уровня</a></li>
                  <li><a href="">меню третьего уровня</a></li>
                  <li><a href="">меню третьего уровня</a></li>
                </ul>
              </li>
              <li><a href="" class="submenu-link">Запчасти </a>
                <!--            <ul class="submenu">-->
                <!--              <li><a href="">меню третьего уровня</a></li>-->
                <!--              <li><a href="">меню третьего уровня</a></li>-->
                <!--              <li><a href="">меню третьего уровня</a></li>-->
                <!--            </ul>-->
              </li>
            </ul>
          </li>

          <li class="navigation-links-li">
            <a href="/" class="link">
              шиномонтаж
            </a>
          </li>
          <li class="navigation-links-li">
            <a href="/" class="link">
              доставка и оплата
            </a>
          </li>
          <li class="navigation-links-li">
            <a href="/" class="link">
              гарантия
            </a>
          </li>
          <li class="navigation-links-li">
            <a href="/" class="link">
              Контакты
            </a>
          </li>
          <li class="navigation-links-li">
            <a href="/" class="link _promo">
              Акции
            </a>
          </li>

        </ul>
      </div>

    </div>
  </div>
</div>
