.left-mobile-menu-area
  z-index: 9999
  .overlay
    z-index: 9997
    position: fixed
    background-color: rgba(0, 0, 0, .8)
    top: 0
    right: 0
    bottom: 0
    left: 0
    opacity: 0
    pointer-events: none
    transition: all .3s ease

.left-mobile-menu-area._open
  .overlay
    opacity: 1
    pointer-events: all
  .left-mobile-menu
    left: 0

.menu-content-close
  position: absolute
  top: 20px
  right: 20px

.left-mobile-menu
  padding: 50px 0 0 0
  z-index: 9998
  background-color: #ffff
  max-width: 320px
  width: 100%
  position: fixed
  height: 100%
  left: -100%
  top: 0
  transition: all .3s ease

.left-menu-navigation
  display: block!important
  background-color: #ffff
  .navigation-links-li:last-child,
  .navigation-links-li
    width: 100%
    margin: 0 15px
    padding: 0
    background-color: #fff!important
  .navigation-links-li:last-child
    & >.link:last-child
      border: none
  .navigation-links

    .link:hover
      color: inherit
    .link
      display: block
      color: #2e3541
      font-size: 15px
      padding: 15px 5px
      border-bottom: 1px solid #d7dfe6
      &._promo
        background-color: transparent
        border-radius: 0
        &:before
          content: none

