.header-area
  background-color: #f6f6f6
  border-bottom: 1px solid #d7dfe6

.header-contact
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  align-items: center
  line-height: 15px
  min-height: 46px
  padding: 5px 0 0 17px
.contact-number
  display: flex
  align-items: center
  padding: 5px 0
  .order-call-area
    margin: 0 0 0 11px
    padding: 0 0 0 12px
    border-left: 1px solid #aeaeae
    position: relative
    .order-сall-block
      position: relative
      display: inline-block
    .order-сall
      cursor: pointer
      color: #0054a6
      font-size: 15px
      text-decoration-line: underline
  .phone
    font-family: "PT Sans-Regular", sans-serif
    color: #6c6f7b
    letter-spacing: 0.1px
    b
      color: #2e3541
.day-work
  font-size: 13px
  color: #6c6f7b
  text-transform: uppercase
  letter-spacing: 0.1px
  padding: 0 0 0 7px

.header-contact-address
  display: flex
  flex-wrap: wrap
  padding: 5px 0
  .address:last-child
    margin: 0
    padding: 0
    border: none
  .address
    margin: 0 16px 0 0
    padding: 0 14px 0 0
    border-right: 1px solid #aeaeae

.header-search
  display: flex
  align-items: center
  padding: 11px 0px 16px
  position: relative
  .header-logo
    margin: 0 7px 0 4px
  .header-links
    display: flex
    padding: 7px 0 0 0
    a
      width: max-content
      font-family: "Open Sans", sans-serif
      margin: 0 13px 0 15px
      display: inline-block
      font-size: 13px
      text-transform: uppercase
.header-navigation-mobile
  display: none
//.header-input-search
//  height: 100%
//  width: 100%
.input-search-area
  max-width: 588px
  min-width: 150px
  width: 100%
  display: flex
  margin: 5px 29px 0 15px
  height: 40px
  position: relative
  input
    padding: 5px 40px 5px 10px
  button
    //padding: 0 10px
    background-color: transparent
    position: absolute
    height: inherit
    width: 20px
    right: 5px
    padding: 0
    top: 0
.cart-area
  white-space: nowrap
  cursor: pointer
  position: relative
  margin: 3px 0 0 auto
  flex: 1 0 auto
  max-width: 350px
  height: 40px
  //width: 100%
  border-radius: 5px 5px 5px 5px
  //background: url("../img/cart-bg.png") 0 0 no-repeat
  border: 1px solid #d7dfe6
  display: flex
  align-items: center
  padding: 6px 10px 5px 11px
//cursor: pointer
.cart-link
  pointer-events: none
.cart
  width: 100%
  display: flex
  align-items: center
  cursor: pointer
  justify-content: center
  &:before
    content: ''
    position: absolute
    background-image: url("../img/cart-bg-angel-1.png")
    width: 14px
    height: 39px
    left: -11px
    top: 0
    z-index: 2
    background-size: cover
  img
    margin: 0 13px 0 0
  span
    line-height: 15px
  .empty-cart
    display: none
    font-size: 13px
    color: #6c6f7b
  .cart-order
    display: block
  .cart-text
    font-family: "Open Sans", sans-serif
    font-size: 13px
    text-transform: uppercase
    border-right: 1px solid #aeaeae
    margin: 0 8px 0 0
    padding: 0 10px 0 0
  .sum
    color: #6c6f7b
  .price
    font-weight: bold
    color: #0054a6
  .rub
    font-size: 15px
    text-transform: uppercase
    font-weight: bold

.drop-window
  z-index: 20
  background-color: #fff
  box-shadow: 0 0 26px rgba(0, 0, 0, .2)
  border-radius: 10px
  position: absolute
  &:before
    position: absolute
    content: ""
    width: 0
    height: 0
    z-index: 9
    top: -13px
    right: 40px
    border-color: transparent transparent #fff
    border-style: solid
    border-width: 0 13px 17px

.drop-down-menu-cart
  top: 51px
  right: 0
  padding: 23px 20px 17px 39px
  width: 452px
  max-width: initial
  display: none
  &._open
    display: block
  .drop-menu-products-list
    max-height: 235px
    overflow-y: auto
    overflow-x: hidden
    .product:last-child
      margin: 0 20px 1px 0
    .product
      position: relative
      border-bottom: 1px solid #d7dfe6
      margin: 0 20px 10px 0
      padding: 0 0 10px 0
      display: flex
      .product-delete
        display: flex
        position: absolute
        cursor: pointer
        top: 36px
        right: -7px
        z-index: 10
        transition: 0.2s ease all
        padding: 2px
        width: 14px
        height: 14px
        &:active
            transform: scale(0.8)
      .product-img
        margin: 0 18px 0 0
        border-radius: 5px
        border: 1px solid #d7dfe6
        flex: 0 0 100px
        height: 100px
        position: relative
        overflow: hidden
        img
          max-width: 100%
          position: absolute
          height: 100%
          top: 0
          left: 0
      .product-info
        display: flex
        flex-wrap: wrap
        place-content: baseline
        padding: 0 0 10px 0
        .product-name
          min-height: 35px
          width: 100%
          margin: 0 0 17px 0
          padding: 0 20px 0 0
          font-family: "Open Sans", sans-serif
          font-size: 15px
          line-height: 18px
          text-transform: uppercase
          word-break: break-all
        .product-price
          //font-family: "Open Sans", sans-serif
          margin: 0 18% 0 auto
          font-size: 21px
          color: #292c39
  .product-bottom-info
    margin: 13px 0 5px 0
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    .product-all-price
      justify-content: space-between
      margin: 0 10px 0 0
      span:first-child
        color: #292c39
        font-size: 18px
        text-transform: uppercase
        letter-spacing: 0.8px
      //margin: 0 5px 0 0
      .price
        color: #e3010f
        font-size: 21px
        text-transform: uppercase
        margin: 0 0 0 5px
    .btn-border
      min-width: 160px
      margin: 0 5% 0 0
.product-count
  display: flex
  align-items: center
  width: 109px
  margin: 0 10px 0 13px
  .count
    border: 1px solid #e0e0e0
    margin: 0 2px
    height: 26px
    min-width: 33px
    display: flex
    justify-content: center
    align-items: center
  .strelka
    cursor: pointer
    .sq
      position: relative
      border: 1px solid #e0e0e0
      width: 23px
      height: 26px
      display: flex
      align-items: center
      justify-content: center
      font-weight: bold
      background-color: #fff
      span
        width: 100%
        text-align: center
      .arrow_box
        position: absolute
        background: #fff
        //border: 1px solid #e0e0e0
      .arrow_box:after, .arrow_box:before
        top: 50%
        border: solid transparent
        content: ""
        height: 0
        width: 0
        position: absolute
        pointer-events: none
      .arrow_box:after
          border-color: rgba(255, 255, 255, 0)
          border-left-color: #fff
          border-width: 12px
          margin-top: -12px
      .arrow_box:before
        border-color: rgba(224, 224, 224, 0)
        border-left-color: #e0e0e0
        border-width: 13px
        margin-top: -13px
  .strelka._right
    .sq
      border-right: none
      .arrow_box
        right: 0
      .arrow_box:after, .arrow_box:before
        left: 100%

  .strelka._left
    .sq
      justify-content: center
      .arrow_box
        left: 0
      .arrow_box:after, .arrow_box:before
        right: 100%
        left: auto
        top: 50%
        border: solid transparent
        content: ""
        height: 0
        width: 0
        position: absolute
        pointer-events: none
      .arrow_box:after
        border-color: rgba(136, 183, 213, 0)
        border-right-color: #fff
        border-width: 13px
        margin-top: -13px
      .arrow_box:before
        border-color: rgba(194, 225, 245, 0)
        border-right-color:  #e0e0e0
        border-width: 14px
        margin-top: -14px

.header-navigation
  background-color: #7c939f
  .img-catalog
    margin: -3px 0 0 0
  .navigation-links-li:first-child
    padding-left: 0
  .navigation-links-li
    margin: 0 1% 0 0
    position: relative
    padding: 20px 30px
  //.navigation-links-li:last-child
  //  margin: 0
  //  padding: 1px 5px
  .navigation-links-li._active
    border-bottom: 3px solid #fff
    background-color: #738a9f
    .link
      font-weight: bold
  .navigation-links
    //padding: 10px 0
    display: flex
    flex-wrap: wrap
    min-height: 60px
    align-items: center
    a
      text-decoration-line: none
    a:hover
      color: #0054a6
    .link
      cursor: pointer
      padding: 4px 3px
      font-family: "Open Sans", sans-serif
      font-size: 13px
      line-height: 13px
      color: #FFFFFF
      text-transform: uppercase
      position: relative
    .link:hover
      color: #fff
    &._active
      font-weight: bold
      letter-spacing: 0.4px
    .link._promo
      border-radius: 10px
      padding: 5px
      background-color: #90a3ad
      &:before
        content: ''
        width: 4px
        height: 4px
        background-color: #f01729
        position: absolute
        top: -2px
        right: -5px
        border-radius: 50%


.submenu
  position: absolute
  z-index: 5
  min-width: 180px
  background: white
  left: 3px
  box-shadow: 0 0 26px rgba(0,0,0,.2)
  visibility: hidden
  opacity: 0
  transform-origin: 0% 0%
  transform: rotateX(-90deg)
  transition: .3s linear

.submenu li
  padding: 0 15px
  position: relative

.submenu  li:last-child
  .link
    border-bottom: none

.submenu li:last-child > a:last-child
  border-bottom: none

.navigation-links-li .first-level li:last-child > a
  border-bottom: none

.submenu li .submenu-link,
.submenu li a
  white-space: nowrap
  font-family: "Open Sans", sans-serif
  font-weight: 400
  color: #2e3541
  padding: 15px 0px
  font-size: 15px
  border-bottom: 1px solid #CBCBCC
  display: flex
  justify-content: space-between
  align-items: center

.submenu li:hover  .svg-icon
  path
    fill: #0054a6
.submenu li:hover  .submenu-link
  cursor: pointer
  color: #0054a6
.submenu li .submenu-link .svg-icon
  transform: rotate(-90deg)
  path
    fill: #464b54
.submenu .submenu
  position: absolute
  left: 100%
  top: 0px
  transition: .3s linear

.navigation-links li:hover > .submenu
  transform: rotateX(0deg)
  visibility: visible
  opacity: 1

//форма Заказать Звонок
.form-call-area
  top: 23px
  right: -24px
  padding: 22px 20px 28px 20px
  width: 282px
  display: none
  //max-width: none
  //display: none
  &._open
    display: block
  &:before
    top: -13px
    right: 60px
  .form-call-close
    cursor: pointer
    position: absolute
    right: 20px
    top: 10px
    width: 15px
    height: 15px
  .title
    text-transform: uppercase
    font-weight: bold
    font-size: 18px
    line-height: 21px
    font-family: "Open Sans", sans-serif
    margin: 0 0 10px 0
    color: #292c39
  .info
    font-size: 13px
    line-height: 20px
    margin: 0 0 15px 0
    letter-spacing: 0.1px
  form
    .form-line
      display: flex
      justify-content: space-between
      align-items: center
      margin: 0 0 10px 0
      .label
        font-size: 13px
      .input-container
        //flex: 0 1 180px
        max-width: 184px
    .agreement
      font-size: 13px
      line-height: 19px
      margin: 37px 0 32px
      display: flex
      align-items: center
      .checkbox
        padding: 0 19px 0 0
      a
        color: #0054a6
        text-decoration-line: underline
