//@media (max-width: 1550px)
//@media (max-width: 1140px)
@media (max-width: 991px)

  .header-search
    //flex-wrap: wrap
    .header-links
      display: none
    .cart-area
      //order: 1
      border: none
      flex: 0 0 auto
    .input-search-area
      margin: 5px 15px 0 15px
      //order: 2
  .cart:before
    content: none
  .header-navigation .navigation-links-li
    margin: 0 4% 0 0
@media (max-width: 768px)
  .header-contact-address
    display: none
  .header-search
    flex-wrap: wrap
    padding: 10px 0 0 0
    .cart-area
      order: 1
    .input-search-area
      order: 2
      flex: 1 1 100%
      margin: 10px -10px 0 -10px
      max-width: inherit
      background-color: #7c939f
      padding: 5px 15px
  .header-navigation
    display: none
  .cart-link
    pointer-events: auto
  .header-navigation-mobile
    display: flex
    width: 25px
    height: 100%
    justify-content: center
    align-items: center
    margin: 0 20px 0 0
  .drop-down-menu-cart._open
    display: none
  .search-btn-img
    path
      fill: #fff
  .header-input-search
    input::placeholder
      color: #fff
    input
      background: #7c939f!important
@media (max-width: 576px)

  .header-contact
    padding: 5px 0 0 0
  .contact-number
    justify-content: center
    flex-wrap: wrap
    width: 100%
    .order-call-area
      width: 100%
      text-align: center
      margin: 5px 0
      padding: 0
      border: none
  .form-call-area
    right: 0
  .cart .cart-text,
  .cart .sum
    display: none
  .header-area
    display: none
//@media (max-width: 490px)
