<div class="main-area-fluid header-area">


  <div class="main-area">

    <div class="header-contact">
      <div class="contact-number">

        <a href="tel: +74862490625" class="phone link-custom">
          8 (4862)
          <b>49-06-25</b>
        </a>

        <span class="day-work"> — пн - пт  с 9.00 до 18.00</span>
        <div class="order-call-area">
          <div class="order-сall-block">
            <div class="order-сall">Заказать звонок</div>
            <div class="drop-window form-call-area">
              <img class="form-call-close" src="img/delete.png" alt="Удалить товар">
              <div class="title">
                Заказать звонок
              </div>
              <div class="info">
                Оставьте контактные данные, и менеджер
                перезвонит Вам в ближайшее время.
              </div>
              <form>
                <div class="form-line">
                  <div class="label">Имя</div>
                  <div class="input-container">
                    <input type="text" placeholder="Ваше имя">
                  </div>
                </div>
                <div class="form-line">
                  <div class="label">Телефон</div>
                  <div class="input-container">
                    <input type="text" placeholder="+7">
                  </div>
                </div>
                <div class="agreement">
                  <label class="checkbox">
                  <span class="checkbox-text" for="u-1">
                     <div class="text">
                  Я согласен с условиями передачи
                  данных. <a href="/">Соглашение</a>
                </div>
                  </span>
                    <input type="checkbox"
                           class="normal-checkbox"
                           id="u-1"
                           value="private">
                    <div class="label" for="u-1"></div>


                  </label>
                </div>
                <div class="btn-area _pos-center">
                  <button class="btn btn-border">
                    Заказать звонок
                  </button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>

      <div class="header-contact-address">
        <div class="address">
          <b>Орел,</b>ул.Итальянская, 1Г
        </div>
        <div class="address">
          <b>Орел,</b>пер.Маслозаводской
        </div>
        <div class="address">
          <b>Орел,</b>ул. Московское шоссе д. 173
        </div>
      </div>
    </div>

  </div>
</div>

<div class="main-area-fluid">
  <div class="main-area">
    <div class="header-search">
      <a href="/">
        <img src="img/logo.png" class="header-logo" alt="Логотип">
      </a>

      <div class="header-links">
        <a href="/">
          главная
        </a>
        <a href="/">
          о компании
        </a>
      </div>
      <div class="input-search-area">
        <div class="header-navigation-mobile">
          <img src="img/link-menu.png" alt="">
        </div>
        <form class="header-input-search input-container search-input">
          <input type="text" placeholder="Поиск"/>
          <div class="search-result">
            <div class="result">
              <div class="result-span">
                <span>  R 13  </span>
                <span>R 13</span>
                <span>R 13</span>
                <span>R 13</span>
                <span>R 13</span>
                <span>R 13</span>
                <span>R 13</span>
              </div>
            </div>
          </div>
          <button>
            <img class="svg-icon search-btn-img" src="img/search-btn.svg" alt="Поиск">
          </button>
        </form>
      </div>


      <div class="cart-area">
        <a href="/" class="cart-link">
          <div class="cart">
            <img src="img/cart-icon.png" alt="Корзина">
            <span class="cart-text">Корзина </span>
            <span class="empty-cart">Нет ни одного товара</span>
            <div class="cart-order">
              <span class="sum">на сумму </span>
              <span class="price">13 456  </span>
              <span class="rub">₽</span>
            </div>
          </div>
        </a>



        <div class="drop-window drop-down-menu-cart ">
          <div class="drop-menu-products-list">

            <div class="product">
              <a href="#modal-delete-product" rel="modal:open"  class="product-delete">
                <img src="img/delete.png" alt="Удалить товар">
              </a>

              <div class="product-img">
                <img src="img/product-tire.png" alt="">
              </div>
              <div class="product-info">
                <a href="/" class="product-name">
                  ALTENZO CURSITOR 185R14C
                  102/100R
                </a>
                <div class="product-count">

                  <div class="strelka _left">
                    <div class="sq">
                      <span>—</span>
                      <div class="arrow_box"></div>
                    </div>
                  </div>
                  <span class="count">4</span>
                  <div class="strelka _right">
                    <div class="sq">
                      <span>+</span>
                      <div class="arrow_box"></div>
                    </div>
                  </div>

                </div>
                <div class="product-price">
                  7 878 <b>₽</b>
                </div>
              </div>
            </div>

          </div>
          <div class="product-bottom-info">
            <div class="product-all-price">
              <span>Всего</span>
              <span class="price">13 456 ₽</span>
            </div>
            <a href="/" class="btn btn-border">
              перейти в корзину
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="main-area-fluid header-navigation">
  <div class="main-area">
    <ul class="navigation-links">
      <li class="navigation-links-li ">
        <div class="link">
          <img src="img/link-menu.png" alt="Каталог" class="img-catalog">
          каталог
        </div>
        <ul class="submenu first-level">
          <li>
            <div  class="submenu-link">Шины <img class="svg-icon" src="img/arrow.svg" alt=""></div>
            <ul class="submenu">
              <li><a href="">Легковые</a></li>
              <li><a href="">Грузовые</a></li>
              <li><a href="">С/Х техника</a></li>
            </ul>
          </li>
          <li><div  class="submenu-link">Диски <img class="svg-icon" src="img/arrow.svg" alt=""></div>
            <ul class="submenu">
              <li><a href="">Литые</a></li>
              <li><a href="">Кованые</a></li>
              <li><a href="">Штампованные</a></li>
              <li><a href="">Колпаки</a></li>
            </ul>
          </li>
          <li><div class="submenu-link">Камеры <img class="svg-icon" src="img/arrow.svg" alt=""></div>
            <ul class="submenu">
              <li><a href="">меню третьего уровня</a></li>
              <li><a href="">меню третьего уровня</a></li>
              <li><a href="">меню третьего уровня</a></li>
            </ul>
          </li>
          <li><div  class="submenu-link">Датчики <img class="svg-icon" src="img/arrow.svg" alt=""></div>
            <ul class="submenu">
              <li><a href="">меню третьего уровня</a></li>
              <li><a href="">меню третьего уровня</a></li>
              <li><a href="">меню третьего уровня</a></li>
            </ul>
          </li>
          <li><a href="" class="submenu-link">Запчасти </a>
            <!--            <ul class="submenu">-->
            <!--              <li><a href="">меню третьего уровня</a></li>-->
            <!--              <li><a href="">меню третьего уровня</a></li>-->
            <!--              <li><a href="">меню третьего уровня</a></li>-->
            <!--            </ul>-->
          </li>
        </ul>
      </li>

      <li class="navigation-links-li _active">
        <a href="/" class="link">
          шиномонтаж
        </a>
      </li>
      <li class="navigation-links-li">
        <a href="/" class="link">
          доставка и оплата
        </a>
      </li>
      <li class="navigation-links-li">
        <a href="/" class="link">
          гарантия
        </a>
      </li>
      <li class="navigation-links-li">
        <a href="/" class="link">
          Контакты
        </a>
      </li>
      <li class="navigation-links-li">
        <a href="/" class="link _promo">
          Акции
        </a>
      </li>

    </ul>
  </div>
</div>

