<div class="filter  flex-column">
  <div class="filter__header filter-header">
    <div class="filter-header__reset ">
      <a href="#" class="btn filter-header__btn-reset">
        Сбросить
      </a>
    </div>

    <div class="filter-header__title">
      Фильтры
    </div>
    <div class="filter-header__close">
      <a href="#" class="js-filter-close">
        <img src="./img/close.svg" alt="Закрыть">
      </a>
    </div>

  </div>

  <div class="filter-content-list">
    <div class="filter__type filter-type">
      <div class="filter-type__buttons">
        <div class="filter-type__button">
          <input type="radio" class="radio" id="size" name="type" value="" checked>
          <label title="По размеру" for="size" class="filter-type__label">
            По размеру
          </label>
        </div>
        <div class="filter-type__button">
          <input type="radio" class="radio" id="props" name="type" value="">
          <label title="По параметрам" for="props" class="filter-type__label">
            По параметрам
          </label>
        </div>
      </div>

    </div>

    <div class="filter__block filter-block">
      <div class="filter-block__title">
        Диаметр
      </div>
      <div class="filter-block__bubbles filter-bubbles">
        <a href="#" class="filter-bubble filter-bubble--active">
          10.00-20
        </a>
        <a href="#" class="filter-bubble">
          10.00-20
        </a>
        <a href="#" class="filter-bubble">
          10.00-20
        </a>
        <a href="#" class="filter-bubble ">
          10.00-20
        </a>
        <a href="#" class="filter-bubble">
          10.00-20
        </a>
        <a href="#" class="filter-bubble">
          10.00-20
        </a>
      </div>
      <button class="filter-block__button-all js-filter-block__button-all">
        Смотреть все
      </button>
    </div>
    <hr class="line-filter">

    <div class="filter__block filter-block">
      <div class="filter-block__title">
        Размер
      </div>
      <div class="filter-block__bubbles filter-bubbles">
        <a href="#" class="filter-bubble filter-bubble--active">
          10.00-20
        </a>
        <a href="#" class="filter-bubble">
          10.00-20
        </a>
        <a href="#" class="filter-bubble">
          10.00R15
        </a>
        <a href="#" class="filter-bubble ">
          10.00-20
        </a>
        <a href="#" class="filter-bubble">
          10.00R15
        </a>
        <a href="#" class="filter-bubble">
          10.00-20
        </a>
      </div>
      <button class="filter-block__button-all js-filter-block__button-all">
        Смотреть все
      </button>
    </div>
    <hr class="line-filter">

    <div class="filter__block filter-block">
      <div class="filter-block__title">
        Ось
      </div>
      <label class="checkbox checkbox__filter">
                    <span class="checkbox-text">
                      Ведущая/Прицепная
                    </span>
        <input type="checkbox" class="normal-checkbox" value="private">
        <span class="label"></span>
      </label>
      <label class="checkbox checkbox__filter">
                    <span class="checkbox-text">
                    Прицепная
                    </span>
        <input type="checkbox" class="normal-checkbox" value="private">
        <span class="label"></span>
      </label>
      <label class="checkbox checkbox__filter">
                    <span class="checkbox-text">
                   Рулевая
                    </span>
        <input type="checkbox" class="normal-checkbox" value="private">
        <span class="label"></span>
      </label>
      <label class="checkbox checkbox__filter">
                    <span class="checkbox-text">
                 Рулевая/Ведущая
                    </span>
        <input type="checkbox" class="normal-checkbox" value="private">
        <span class="label"></span>
      </label>
      <button class="filter-block__button-all js-filter-block__button-all">
        Смотреть все
      </button>
    </div>
    <hr class="line-filter">

    <div class="filter__block filter-block">
      <div class="filter-block__title">
        Бренд
      </div>
      <div class="filter-block__bubbles filter-bubbles">
        <a href="#" class="filter-bubble filter-bubble--active">
          Michelin
        </a>
        <a href="#" class="filter-bubble">
          Bridgestone
        </a>
        <a href="#" class="filter-bubble ">
          Dunlop
        </a>
        <a href="#" class="filter-bubble">
          Dunlop
        </a>
      </div>
      <button class="filter-block__button-all js-filter-block__button-all">
        Смотреть все
      </button>
    </div>
    <hr class="line-filter">

    <div class="filter__block filter-block">
      <div class="filter-block__title">
        Сезонность
      </div>
      <label class="checkbox checkbox__filter">
                    <span class="checkbox-text">
                      3PMSF
                    </span>
        <input type="checkbox" class="normal-checkbox" value="private">
        <span class="label"></span>
      </label>
      <label class="checkbox checkbox__filter">
                    <span class="checkbox-text">
                      3PMSF
                    </span>
        <input type="checkbox" class="normal-checkbox" value="private">
        <span class="label"></span>
      </label>
      <label class="checkbox checkbox__filter">
                    <span class="checkbox-text">
                      3PMSF
                    </span>
        <input type="checkbox" class="normal-checkbox" value="private">
        <span class="label"></span>
      </label>
      <button class="filter-block__button-all js-filter-block__button-all">
        Смотреть все
      </button>
    </div>
    <hr class="line-filter">

    <div class="filter__block filter-block">

      <label class="filter-block__title mb-0 d-flex justify-content-between align-items-baseline">
        Наличие
        <span class="filter-block__switch-control switch-control">
              <input type="checkbox">
              <span class="control"></span>
            </span>

      </label>


    </div>

  </div>

  <div class="filter__bottom-button">
    <hr class="line-filter  mt-auto">
    <!--  <hr class="line-filter">-->
    <div class="filter__block filter-block ">
      <a href="#" class="filter-block__reset-all button-reset-all">
        Сбросить все
      </a>
      <a href="#" class="filter-block__btn-red btn btn-red">
        Применить
      </a>
    </div>
  </div>
</div>

<div class="filter filter-step-next  flex-column">

  <div class="filter__header filter-header">
    <div class="filter-header__reset ">
      <a href="#" class="btn filter-header__btn-reset js-filter-header-back">
        <img src="./img/arrow-back.svg" alt="Назад">
      </a>
    </div>

    <div class="filter-header__title">
      Размер
    </div>
    <div class="filter-header__close">
      <a href="#" class="js-filter-close">
        <img src="./img/close.svg" alt="Закрыть">
      </a>
    </div>
  </div>

  <div class="filter__search">
    <label class="input-container search-input filter-search">
      <input type="text" placeholder="Найти..." value=""/>
      <button>
        <img class="svg-icon " src="img/search-btn.svg" alt="Поиск">
      </button>
    </label>
  </div>


  <div class="filter-search-list filter__block">

    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15211111111
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>
    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>
    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>

    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>
    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>
    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>

    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>
    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>
    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>


    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>
    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>
    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>


    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>
    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R15
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>
    <label class="checkbox checkbox__filter">
          <span class="checkbox-text">
            10.00R151111111111
          </span>
      <input type="checkbox" class="normal-checkbox" value="private">
      <span class="label"></span>
    </label>

  </div>


  <div class="filter__bottom-button">
    <hr class="line-filter  mt-auto">
    <!--  <hr class="line-filter">-->
    <div class="filter__block filter-block ">
      <a href="#" class="filter-block__reset-all button-reset-all">
        Сбросить все
      </a>
      <a href="#" class="filter-block__btn-red btn btn-red">
        Применить
      </a>
    </div>
  </div>
</div>
