<div class="modal modal-delete-product" id="modal-delete-product">
  <div class="modal-content delete-cart-product">
    <div class="modal-title">
      <span>Удалить</span> заказ?
    </div>

    <p class="modal-text">
      Вы действительно готовы удалить заказ?
    </p>
    <div class="btn-area btn-area-modal">
      <a class="btn btn-border close-modal-btn" type="button"  rel="modal:close">
        отменить
      </a>
      <button class="btn btn-cobalt-blue" type="submit">
        Удалить
      </button>
    </div>
  </div>
</div>
