//@media (max-width: 1550px)
//@media (max-width: 1140px)
//@media (max-width: 992px)
//@media (max-width: 768px)
@media (max-width: 576px)
  .modal-title
    font-size: 21px
    line-height: 25px
  .btn-area-modal
    flex-wrap: wrap
    flex-direction: column
    justify-content: center
    .btn
      margin: 0 0 10px 0
  .modal-content
    padding: 15px 15px 20px 20px!important
    margin: 5px 5px 0 0
  .modal-input-line
    flex-wrap: wrap
  .modal-inputs .input-container
    width: 100%
    max-width: 100%
    margin-bottom: 20px
  .checkbox .checkbox-text._no-wrap
    white-space: normal
  .modal-max-content
    width: auto

@media (max-height: 650px)
  .modal-content
    padding: 15px 15px 20px 20px!important
    margin: 5px 5px 0 0
  .modal-content
    max-height: 530px
    overflow-y: auto
    overflow-x: hidden

@media (max-height: 500px) and (orientation: landscape)
  .modal-content
    max-height: 300px
    overflow-y: auto
    overflow-x: hidden

//@media (max-width: 490px)
