.modal-switch
  margin: 0 0 20px 0
  display: flex
  justify-content: center

.modal-inputs
  margin: 0 -10px
  .input-container
    min-height: 32px
    input
      height: 32px


.modal-input-line
  align-items: flex-start
  display: flex
  justify-content: space-between

.input-user-phone,
.input-date,
.input-address,
.input-count-wheels,
.input-comment,
.input-require-info
  margin: 0 10px 20px 10px
  width: 100%

.input-user-phone
  max-width: 234px
  width: 100%

.input-user-name
  width: 100%
  margin: 0 10px 30px 10px

.input-date
  max-width: 238px

.input-address
  max-width: 315px

.input-count-wheels
  max-width: 157px

.input-comment

.input-require-info
  font-family: "Open Sans", sans-serif
  font-weight: 400
  font-size: 12px
  color: #b1b2b5

.modal-content-checkbox
  margin: 0 10px 32px 10px
  font-size: 13px
  color: #6c6e7a
  .label
    margin: 0 10px



.blocker
  z-index: 9999
  padding: 0

.modal
  position: relative
  width: auto
  padding: 0
  max-width: inherit
  box-shadow: none
  border-radius: 5px
  background: #FFF
  height: auto
  margin: 10px

.modal-content
  border: none

.modal.modal-delete-product
  max-width: 555px
  width: 100%
  padding: 40px 30px 30px 30px
  .modal-text
    margin: 0 0 30px 0

.modal-title
  text-transform: uppercase
  font-family: "Open Sans", sans-serif
  font-weight: 400
  font-size: 27px
  line-height: 30px
  margin: 0 0 20px 0
  letter-spacing: -0.2px
  span
    font-weight: 800
    font-family: "Open Sans", sans-serif

.modal-content.delete-cart-product
  .input-container input::placeholder,
  .input-container textarea::placeholder
    font-size: 13px
    text-transform: inherit

.modal a.close-modal
  position: absolute
  top: 14px
  right: 14px
  z-index: 10
  cursor: pointer
  background-image: url("../img/delete.png")
  width: 17px
  height: 17px

.btn-area-modal
  justify-content: flex-end
  .btn
    min-height: 31px
    padding: 5px 35px
  .btn-cobalt-blue
    margin: 0 0 0 20px
.modal-content.record-service
  padding: 34px 32px
