<div class="modal record-service"   id="record-service">
  <div class="modal-content record-service">
    <div class="modal-title">
      <span>записаться</span> на обслуживание ТС
    </div>
    <div class="switch-area modal-switch">
      <div class="switch-block">
        <div class="switch-text switch-text-select">Ремонт</div>
        <label class="switch-control">
          <input type="checkbox">
          <span class="control"></span>
        </label>
        <div class="switch-text">Шиномонтаж</div>
      </div>

    </div>
    <form class="modal-inputs">
      <div class="modal-input-line">
        <div class="input-container input-user-name">
          <input type="text" placeholder="ФИО*">
        </div>
      </div>
      <div class="modal-input-line">
        <div class="input-container input-user-phone _error">
          <input type="text" placeholder="Контактный телефон*">
          <div class="input-error">
            Ошибка
          </div>
        </div>
        <div class="input-container input-date">
          <input placeholder="Дата и время записи"
                 type="text"
                 onfocus="(this.type='date')"
                 onblur="(this.type='text')"/>
        </div>
      </div>
      <div class="modal-input-line">
        <div class="input-container input-address">
          <div class="select">
            <input type="text" readonly value="Выберите точку">
            <img class="select-arrow" src="img/arrow.svg" alt="">
            <div class="select-result">
              <div class="result">
                <div class="result-span">
                  <span>г.Орел, Московское шоссе, д.173</span>
                  <span>г.Орел, Московское шоссе, д.173</span>
                  <span>г.Орел, Московское шоссе, д.173</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-container input-count-wheels">
          <input type="text" placeholder="Количество колес">
        </div>
      </div>
      <div class="modal-input-line">
        <div class="input-container input-comment">
          <textarea placeholder="Комментарий" style="height: 50px"></textarea>
        </div>
      </div>
      <div class="input-require-info">
        *Поля являются обязательными для заполнения
      </div>
      <label class="checkbox _big modal-content-checkbox">
                  <span class="checkbox-text" for="u-1">
                     <span class="text">
                  Я согласен с условиями передачи
                  данных. <a href="/">Соглашение</a>
                </span>
                  </span>
        <input type="checkbox"
               class="normal-checkbox"
               id="u-1"
               value="private">
        <span class="label" for="u-1"></span>
      </label>
      <div class="btn-area btn-area-modal">
        <a class="btn btn-border close-modal-btn" type="button" rel="modal:close">
          отменить
        </a>
        <button class="btn btn-cobalt-blue" type="submit">
          сохранить
        </button>
      </div>
    </form>
  </div>

</div>

