<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<%= _.template(require('./../includes/slider/slider.html').default)(data) %>
<div class="page-content no-mrb">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">О компании</a></li>
      </ul>
      <div class="page-area">
        <div class="title-block">
          <div class="title"><span>О компании</span></div>
        </div>
        <div class="info-block">
          <div class="info-text">
            <p>
              Наша компания появилась на орловском рынке шин, масел, АКБ, запасных частей и автомобильных аксессуаров
              сравнительно недавно. Она включает в себя сеть шинных центров
              «Протектор 57» на Михалицына 10 и Ломоносова 6Б ТЦ "Утёс", легковой и грузовой шиномонтажи, а также
              интернет-магазин.
            </p>
          </div>
          <div class="info-text _blue">
            <p style="font-size: 18px">
              Эта единая система розничной продажи и предоставления сопутствующих услуг позволяет делать низкие цены на
              товары, тем самым становясь
              ближе к клиенту.
            </p>
          </div>
          <div class="info-text">
            <p>
              Мы работаем не только с розничными покупателями, но и с юридическими лицами, индивидуальными
              предпринимателями как за наличный расчет, так по безналичному расчету.
              Для организаций, работающих на общей системе налогообложения, наша компания при безналичной форме расчетов
              выделяет НДС.
            </p>
          </div>

          <div class="info-text">
            <p>
              Надеемся, что после посещения шинного центра «Шины на грузовик» Вы останетесь довольны и станете нашим
              постоянным клиентом.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
