<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content bg-gray">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">Политика конфиденциальности</a></li>
        <div class="catalog-nav-item pagination">
          <span class="_active"><</span>
          <span>1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
          <span>5</span>
          <span>6</span>
          <span>7</span>
          <span>8</span>
          <span class="page-dots">...</span>
          <span>></span>
        </div>
      </ul>
      <div class="page-area no-mr">
        <div class="catalog-area catalog-product">
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Шины</span>
            </div>
            <div class="catalog-count">2 345 товаров</div>
            <div class="catalog-top-nav">
              <div class="catalog-nav-item sort">
                <span>Сортировать по:</span>
                <span class="_active">Скидке</span>
                <span>Обновлению</span>
                <span>Наличию</span></div>
              <div class="catalog-nav-item show">
                <span>Показывать по:</span>
                <span class="_active">10</span>
                <span>20</span>
                <span>50</span>
              </div>
              <div class="catalog-view-area">
                <div class="view-chosen view-col  _active">
                  <img class="svg-icon" src="img/card-col-icon.svg" alt="">
                </div>
                <div class="view-chosen view-row">
                  <img class="svg-icon " src="img/card-row-icon.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="catalog-product-content">
            <div class="catalog-product-col filter-chosen-col">
              <div class="switch-area switch-filter">
                <div class="switch-block">
                  <div class="switch-text switch-text-select">По размеру</div>
                  <label class="switch-control">
                    <input type="checkbox">
                    <span class="control"></span>
                  </label>
                  <div class="switch-text">По параметрам</div>
                </div>
              </div>
              <div class="catalog-filter-chosen-list">
                <div class="catalog-filter-chosen-area">
                  <div class="drop-window-select-filter">
                    <strong>Выбрано</strong>:2 <span>показать</span>
                  </div>
                  <div class="header-chosen-filter">
                    <div class="title">Диаметр</div>
                    <div class="throw-filter">Сбросить</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>
                  </div>
                  <div class="filter-chosen-container _open">
                    <div class="input-container search-input ">
                      <input type="text" placeholder="Я ищу...">
                      <div class="search-result">
                        <div class="result">
                          <div class="result-span">
                            <span>  R 13  </span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" checked class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" checked class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                    </div>

                  </div>

                </div>
                <div class="catalog-filter-chosen-area">
                  <div class="header-chosen-filter">
                    <div class="title">Ширина</div>
                    <div class="throw-filter">Сбросить</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>

                  </div>
                  <div class="filter-chosen-container _open">
                    <div class="input-container search-input ">
                      <input type="text" placeholder="Я ищу...">
                      <div class="search-result">
                        <div class="result">
                          <div class="result-span">
                            <span>  R 13  </span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                    </div>

                  </div>

                </div>
                <div class="catalog-filter-chosen-area">
                  <div class="header-chosen-filter">
                    <div class="title">Ось</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>
                  </div>
                  <div class="filter-chosen-container _open">

                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                       Ведущая <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                       Ведущая <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                    </div>

                  </div>

                </div>
                <div class="catalog-filter-chosen-area">
                  <div class="header-chosen-filter">
                    <div class="title">Бренд</div>
                    <div class="throw-filter">Сбросить</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>
                  </div>
                  <div class="filter-chosen-container _open">
                    <div class="input-container search-input ">
                      <input type="text" placeholder="Я ищу...">
                      <div class="search-result">
                        <div class="result">
                          <div class="result-span">
                            <span>  R 13  </span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  Advance <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  Advance <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  Advance <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>

                    </div>

                  </div>

                </div>
                <div class="catalog-filter-chosen-area">
                  <div class="header-chosen-filter">
                    <div class="title">Сезонность</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>
                  </div>
                  <div class="filter-chosen-container _open">

                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                       Летняя <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                       Летняя <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                       Летняя <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                    </div>

                  </div>

                </div>
                <div class="catalog-filter-chosen-area">
                  <div class="header-chosen-filter">
                    <div class="title">Высота</div>
                    <div class="throw-filter">Сбросить</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>

                  </div>
                  <div class="filter-chosen-container _open">
                    <div class="input-container search-input ">
                      <input type="text" placeholder="Я ищу...">
                      <div class="search-result">
                        <div class="result">
                          <div class="result-span">
                            <span>  R 13  </span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                 16-R20 TTF<span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                 16-R20 TTF<span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>

                    </div>

                  </div>

                </div>
              </div>
              <div class="catalog-filter-chosen-buttons">
                <button class="btn btn-filter select-all">Выбрать все</button>
                <button class="btn btn-filter throw-all">Сбросить все</button>
                <div class="btn-area">
                  <button class="btn btn-border">Выбрать</button>
                </div>
              </div>
            </div>

            <div class="catalog-product-col product-table">
              <div class="options-size-area">
                <button class="btn btn-cylinder active">22.254</button>
                <button class="btn btn-cylinder">22.254</button>
                <button class="btn btn-cylinder">22.254</button>
                <button class="btn btn-cylinder">22.254</button>
                <button class="btn btn-cylinder">22.254</button>
                <button class="btn btn-cylinder">22.254</button>
              </div>
              <div class="container-fluid p-0 container-product">
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 card-col">
                    <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 card-col">
                    <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 card-col">
                    <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>

                  </div>


                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="down-pagination">
          <div class="catalog-nav-item pagination">
            <span class="_active"><</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span class="page-dots">...</span>
            <span>></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
