<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
      </ul>
      <div class="page-area">

        <div class="title-block">
          <div class="title"><span>Результат поиска</span></div>
        </div>
        <div class="search-area">
          <div class="input-search-area input-search-area_all">
            <form class="input-container search-input">
              <input type="text" placeholder="Поиск"/>
              <div class="search-result">
                <div class="result">
                  <div class="result-span">
                    <span>  R 13  </span>
                    <span>R 13</span>
                    <span>R 13</span>
                    <span>R 13</span>
                    <span>R 13</span>
                    <span>R 13</span>
                    <span>R 13</span>
                  </div>
                </div>
              </div>
              <button>
                <img class="svg-icon search-btn-img" src="img/search-btn.svg" alt="Поиск">
              </button>
            </form>
          </div>
          <div class="no-result">
            По запросу “***” ничего не найдено. Поищем еще?
          </div>
          <div class="search-offers-area">
            <div class="search-offers-title">Возможно, вас заинтересует</div>
            <div class="search-offers-list">
              <a href="/" class="search-offer">
                Шины
              </a>
              <a href="/" class="search-offer">
                Диски
              </a>
              <a href="/" class="search-offer">
                Шины
              </a>
              <a href="/" class="search-offer">
                Шиномонтаж
              </a>
              <a href="/" class="search-offer">
                Шины
              </a>
              <a href="/" class="search-offer">
                Диски
              </a>
              <a href="/" class="search-offer">
                Шины
              </a>
              <a href="/" class="search-offer">
                Шиномонтаж
              </a>
              <a href="/" class="search-offer">
                Шины
              </a>
              <a href="/" class="search-offer">
                Диски
              </a>
              <a href="/" class="search-offer">
                Шины
              </a>
              <a href="/" class="search-offer">
                Шиномонтаж
              </a>
              <a href="/" class="search-offer">
                Шины
              </a>
              <a href="/" class="search-offer">
                Диски
              </a>
              <a href="/" class="search-offer">
                Шины
              </a>
              <a href="/" class="search-offer">
                Шиномонтаж
              </a>
              <a href="/" class="search-offer">
                Шины
              </a>
              <a href="/" class="search-offer">
                Диски
              </a>
              <a href="/" class="search-offer">
                Шины
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
