<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content bg-gray ">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
      </ul>
      <div class="page-area no-mr">
        <div class="title-block">
          <div class="title"><span>Результат</span> поиска</div>
        </div>
        <div class="catalog-top-nav">
          <div class="catalog-nav-item find-product">Найдено <span>&nbsp;1 234&nbsp;</span> товара.</div>
          <div class="catalog-nav-item sort">
            <span> Сортировать по:</span>
            <span class="_active">Скидке</span>
            <span>Обновлению</span>
            <span>Наличию</span></div>
          <div class="catalog-nav-item show">
            <span>Показывать по:</span>
            <span class="_active">10</span>
            <span>20</span>
            <span>50</span>
          </div>
          <div class="catalog-nav-item pagination">
            <span class="_active"><</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span class="page-dots">...</span>
            <span>></span>
          </div>
        </div>

          <div class="container-fluid">
            <div class="row card-product-row">
              <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 card-col">
                <div class="card-product card-product-col">
                  <div class="card-product-img">
                    <a href="">
                      <img class="product-img" src="img/tarecon-1.png" alt="Датчик">
                    </a>
                    <div class="tire-type">

                      <img src="img/card/search.png" class="img-search" alt="Поиск">
                    </div>
                  </div>
                  <div class="card-product-info">
                    <a href="#" class="card-product-info-name">
                      Датчик внутренний
                    </a>
                    <div class="card-product-info-line article">
                      Артикул: <span>34567</span>
                    </div>
                    <div class="card-product-info-line find">
                      Тип питания <span>cr 2450 </span><span class="add-info">(незаменяем.)</span>
                    </div>
                    <div class="card-product-info-line brand">
                      Передача данных <span> 433 МГц </span>
                    </div>
                    <div class="card-product-info-line brand">
                      Время работы батареи <span> > 5 лет </span>
                    </div>

                    <div class="card-product-price">
                      <div class="card-product-price-inner">
                        <div class="price"><span>7 897 ₽ </span>(шт)</div>
                        <div class="product-count">
                          <div class="strelka _left">
                            <div class="sq">
                              <span>—</span>
                              <div class="arrow_box"></div>
                            </div>
                          </div>
                          <span class="count">4</span>
                          <div class="strelka _right">
                            <div class="sq">
                              <span>+</span>
                              <div class="arrow_box"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-product-price-inner">
                        <div class="old-price">15 897 ₽</div>
                        <div class="total-sum-price">Сумма: 999 897 ₽</div>
                      </div>
                    </div>

                    <div class="product-stock">
                      <div class="stock _yes">В наличии</div>
                    </div>
                  </div>

                  <div class="card-product-btn">
                    <div class="btn-area _pos-center">
                      <button class="btn btn-red">
                        в корзину
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 card-col">
                <div class="card-product card-product-col">
                  <div class="card-product-img">
                    <div class="card-promo">
                      <p>Sale</p>
                    </div>
                    <a href="">
                      <img class="product-img" src="img/product-tire.png" alt="Шина">
                    </a>

                    <div class="tire-type">
                      <img src="img/card/mod-1.png" alt="Тип-1">
                      <img src="img/card/mod-2.png" alt="Тип-2">
                      <img src="img/card/mod-3.png" alt="Тип-3">
                      <img src="img/card/search.png" class="img-search" alt="Поиск">
                    </div>
                  </div>
                  <div class="card-product-info">
                    <a href="/" class="card-product-info-name">
                      Шина MATADOR МР-47 HECTORRA
                      3 FR 205/70 R15 96H
                    </a>
                    <div class="card-product-info-line article">
                      Артикул: <span>34567</span>
                    </div>
                    <div class="card-product-info-line find">
                      Камера <span>подобрать</span>
                    </div>
                    <div class="card-product-info-line brand">
                      Бренд <span>MATADOR</span>
                    </div>

                    <div class="card-product-price">
                      <div class="card-product-price-inner">
                        <div class="price"><span>7 897 ₽ </span>(шт)</div>
                        <div class="product-count">
                          <div class="strelka _left">
                            <div class="sq">
                              <span>—</span>
                              <div class="arrow_box"></div>
                            </div>
                          </div>
                          <span class="count">4</span>
                          <div class="strelka _right">
                            <div class="sq">
                              <span>+</span>
                              <div class="arrow_box"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-product-price-inner">
                        <div class="old-price">15 897 ₽</div>
                        <div class="total-sum-price">Сумма: 999 897 ₽</div>
                      </div>
                    </div>

                    <div class="product-stock">
                      <div class="stock _yes">В наличии</div>
                    </div>
                  </div>

                  <div class="card-product-btn">
                    <div class="btn-area _pos-center">
                      <button class="btn btn-red">
                        в корзину
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
