<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content no-mrb">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">Контакты</a></li>
      </ul>
      <div class="page-area">
        <div class="title-block">
          <div class="title"><span>Контакты</span></div>
        </div>
        <div class="address-services-block">

          <div class="address-service">
            <div class="address-service-line address-service-map">
              <img src="img/map-icon-blue.png" class="map-icon" alt="Адрес">
              <span>г.Орел, </span> Московское шоссе, д.173
              <a class="goto" name="MOS">посмотреть на карте</a>
            </div>
            <div class="address-service-line address-service-mail">
              <img src="img/mail.png" class="mail-icon" alt="Email">
              <a href="mailto: protektor57.ru">protektor<span>57</span>.ru</a> - ПО ОБЩИМ ВОПРОСАМ
            </div>
            <div class="address-service-line address-service-phone">
              <a href="tel: +74862448660" class="link-custom">
                8 (4862) <b>49-06-25</b>
              </a>
              <span class="day-work"> - круглосуточно</span>
            </div>
          </div>
          <div class="address-service">
            <div class="address-service-line address-service-map">
              <img src="img/map-icon-blue.png" class="map-icon" alt="Адрес">
              <span>г.Орел, </span> пер.Маслозаводской
              <a class="goto" name="MAS">посмотреть на карте</a>
            </div>
            <div class="address-service-line address-service-mail">
              <img src="img/mail.png" class="mail-icon" alt="Email">
              <a href="mailto: protektor57.ru">protektor57.ru</a> - ПО ОБЩИМ ВОПРОСАМ
            </div>
            <div class="address-service-line address-service-phone">
              <a href="tel: +74862448660" class="link-custom">
                8 (4862) <b>49-06-25</b>
              </a>
              <span class="day-work"> - круглосуточно</span>
            </div>
          </div>
          <div class="address-service">
            <div class="address-service-line address-service-map">
              <img src="img/map-icon-blue.png" class="map-icon" alt="Адрес">
              <span>г.Орел, </span> ул.Итальянская, 1Г
              <a class="goto" name="IT">посмотреть на карте</a>
            </div>
            <div class="address-service-line address-service-mail">
              <img src="img/mail.png" class="mail-icon" alt="Email">
              <a href="mailto: protektor57.ru">protektor57.ru</a> - ПО ОБЩИМ ВОПРОСАМ
            </div>
            <div class="address-service-line address-service-phone">
              <a href="tel: +74862448660" class="link-custom">
                8 (4862) <b>49-06-25</b>
              </a>
              <span class="day-work"> - круглосуточно</span>
            </div>
          </div>

        </div>

        <div class="details-company-area">
          <div class="details-company-owner">ИП <span>Валухов</span> Роман Владимирович</div>
          <div class="details-company-address">Адрес: 302023, г. Орел, ул. Михалицына, 10</div>
          <div class="details-company">БИК: 044525700</div>
          <div class="details-company">к/сч: 30101810200000000700</div>
          <div class="details-company">ИНН: 575404766951</div>
          <div class="details-company">ОГРН: 308574225400015</div>
          <div class="details-company">р/сч: 40802810000001634963</div>
          <div class="details-company">АО "РАЙФФАЙЗЕНБАНК" г.Москва</div>
        </div>

        <div class="title-block">
          <div class="title title-26 title-map">
            <span>Схема проезда</span>
          </div>
        </div>

      </div>
    </div>
    <div id="map" style="height: 500px; width: 100%; z-index: 999; position: relative">
    </div>
  </div>
</div>
<script type="text/javascript">
  //Дождёмся загрузки API и готовности DOM.
  ymaps.ready(init);

  function init() {
    let map = document.querySelector('.title-map')

    // в этой версии координаты просто элементы массива (и они поменяны местами)
    let destinations = {
        'OR': [52.973583, 36.096968], //орел
        'MOS': [53.014790, 36.156400], //Московское шоссе, д.173
        'MAS': [52.938292, 36.053444], //пер.Маслозаводской
        'IT': [52.923582, 36.078570] //ул.Итальянская, 1Г
      },

      // Создание экземпляра карты и его привязка к контейнеру с
      // заданным id ("map").
      myMap = new ymaps.Map('map', {
        // При инициализации карты обязательно нужно указать
        // её центр и коэффициент масштабирования.
        center: destinations['OR'], // Московское шоссе, д.173
        zoom: 12
      });

    // куда скакать
    function clickGoto() {
      // город
      let pos = this.getAttribute('name');
      map.scrollIntoView({
        block: "start",
        behavior: "smooth"
      })
      // переходим по координатам
      myMap.panTo(destinations[pos], {
        flying: 1
      });
      return false;
    }

    // навешиваем обработчики
    let col = document.getElementsByClassName('goto');
    for (let i = 0, n = col.length; i < n; ++i) {
      col[i].onclick = clickGoto;
    }

    // Добавление метки
    // https://tech.yandex.ru/maps/doc/jsapi/2.1/ref/reference/Placemark-docpage/
    let myPlacemark = new ymaps.Placemark([52.923582, 36.078570], { //ул.Итальянская, 1Г
      // Хинт показывается при наведении мышкой на иконку метки.
      hintContent: 'ул.Итальянская, 1Г',
      // Балун откроется при клике по метке.
      balloonContentBody:
        '<div class="tooltip-address-title">Шиномонтаж</div>'+
        '<div class="tooltip-address-position">ул.Итальянская, 1Г</div>' +
        ' <div class="tooltip-address-phone">8 (4862) <span>49-06-25</span></div>' +
        ' <div class="tooltip-address-work">пн - пт с 9.00 до 18.00</div>'
    },{
      //опции
      iconLayout: 'default#image',
      iconImageHref: 'img/map-tire-icon-red.png',
      iconImageSize: [54, 69],
      iconImageOffset: [-27, -54],
    });

    let myPlacemark2 = new ymaps.Placemark([52.938292, 36.053444], { //пер.Маслозаводской
      // Хинт показывается при наведении мышкой на иконку метки.
      hintContent: 'пер.Маслозаводской',
      // Балун откроется при клике по метке.
      balloonContentBody:
        '<div class="tooltip-address-title">Автосервис</div>'+
        '<div class="tooltip-address-position">пер.Маслозаводской</div>' +
        ' <div class="tooltip-address-phone">8 (4862) <span>49-06-25</span></div>' +
        ' <div class="tooltip-address-work">пн - пт с 9.00 до 18.00</div>'
    },{
      //опции
      iconLayout: 'default#image',
      iconImageHref: 'img/map-tire-icon-red.png',
      iconImageSize: [54, 69],
      iconImageOffset: [-27, -54],
    });

    let myPlacemark3 = new ymaps.Placemark([53.014790, 36.156400], { //Московское шоссе, д.173
      // Хинт показывается при наведении мышкой на иконку метки.
      hintContent: 'Московское шоссе, д.173',
      // Балун откроется при клике по метке.
      balloonContentBody:
        '<div class="tooltip-address-title">МТК Росберг</div>'+
        '<div class="tooltip-address-position">Московское шоссе,д.173</div>' +
        ' <div class="tooltip-address-phone">8 (4862) <span>49-06-25</span></div>' +
        ' <div class="tooltip-address-work">пн - пт с 9.00 до 18.00</div>'
    },{
      //опции
      iconLayout: 'default#image',
      iconImageHref: 'img/map-tire-icon-red.png',
      iconImageSize: [54, 69],
      iconImageOffset: [-27, -54],
    });

    // После того как метка была создана, добавляем её на карту.
    myMap.geoObjects.add(myPlacemark);
    myMap.geoObjects.add(myPlacemark2);
    myMap.geoObjects.add(myPlacemark3);
  }
</script>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
