<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content no-mrb no-pd-b">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">Политика конфиденциальности</a></li>
      </ul>
      <div class="page-area">
        <div class="title-block">
          <div class="title"><span>Шиномонтаж</span></div>
        </div>
        <div class="address-services-block">

          <div class="address-service">
            <div class="address-service-line address-service-map">
              <img src="img/map-icon-blue.png" class="map-icon" alt="Адрес">
              <span>г.Орел, </span> Московское шоссе, д.173
              <a href="">посмотреть на карте</a>
            </div>
            <div class="address-service-line address-service-mail">
              <img src="img/mail.png" class="mail-icon" alt="Email">
              <a href="mailto:protektor57.ru">protektor<span>57</span>.ru</a> - ПО ОБЩИМ ВОПРОСАМ
            </div>
            <div class="address-service-line address-service-phone">
              <a href="tel:+74862448660" class="link-custom">
                8 (4862) <b>49-06-25</b>
              </a>
              <span class="day-work"> - круглосуточно</span>
            </div>
          </div>
          <div class="address-service">
            <div class="address-service-line address-service-map">
              <img src="img/map-icon-blue.png" class="map-icon" alt="Адрес">
              <span>г.Орел, </span> пер.Маслозаводской
              <a href="">посмотреть на карте</a>
            </div>
            <div class="address-service-line address-service-mail">
              <img src="img/mail.png" class="mail-icon" alt="Email">
              <a href="mailto:protektor57.ru">protektor57.ru</a> - ПО ОБЩИМ ВОПРОСАМ
            </div>
            <div class="address-service-line address-service-phone">
              <a href="tel:+74862448660" class="link-custom">
                8 (4862) <b>49-06-25</b>
              </a>
              <span class="day-work"> - круглосуточно</span>
            </div>
          </div>
          <div class="address-service">
            <div class="address-service-line address-service-map">
              <img src="img/map-icon-blue.png" class="map-icon" alt="Адрес">
              <span>г.Орел, </span> ул.Итальянская, 1Г
              <a href="">посмотреть на карте</a>
            </div>
            <div class="address-service-line address-service-mail">
              <img src="img/mail.png" class="mail-icon" alt="Email">
              <a href="mailto:protektor57.ru">protektor57.ru</a> - ПО ОБЩИМ ВОПРОСАМ
            </div>
            <div class="address-service-line address-service-phone">
              <a href="tel:+74862448660" class="link-custom">
                8 (4862) <b>49-06-25</b>
              </a>
              <span class="day-work"> - круглосуточно</span>
            </div>
          </div>

        </div>

        <div class="service-work-title">
          <b>Мы производим</b> следующие виды работ:
        </div>

        <div class="service-work-area">
          <div class="service-work">
            <p>снятие / установка шин;</p>
            <p>монтаж / демонтаж на стенде;</p>
            <p>качественная балансировка (вам не нужно дополнительно обращаться в другой сервис);</p>
            <p>нарезка протектора грузовых шин;</p>
            <p>ремонт грыж, проколов, боковых порезов;</p>
            <p>ремонт шин сельхозтехники и тракторов;</p>
            <p> ремонт шин карьерных самосвалов, крановой техники.</p>
          </div>
          <div class="service-work">
            <p>шиномонтаж с/х шин до 56 дюймов; </p>
            <p>ремонт сложных боковых порезов и повреждений (порезы до 20см); </p>
            <p>ремонт сложных повреждений по беговой дорожке (пробои, проколы); </p>
            <p>ремонт плечевой зоны шины и ремонт вырыва протектора; </p>
            <p>ремонт шин фронтальных погрузчиков, экскаваторов, грейдеров; </p>
            <p>ремонт порывов крупногабаритных камер; </p>
            <p>правка и ремонт с/х дисков. </p>
          </div>
        </div>

        <div class="service-work-sub-title">
          Оплата услуг производится как за наличный так и безналичный расчет, заключаем долгосрочные договора на
          обслуживание. При покупке шин в нашем торгово-сервисной центре действует
          скидка 20% на шиномонтажные услуги.
        </div>

        <div class="select-service-area">
          <div class="select-service-block">
            <div class="title">
              <span>Стоимость</span> услуг <span class="signature">(за 1 колесо в руб.)</span>
            </div>
            <div class="btn-area _pos-center">
              <button class="btn btn-cobalt-blue">Скачать прайс</button>
            </div>
          </div>
          <div class="select-service-block">
            <div class="title">
              <span>Записаться</span> на шиномонтаж
            </div>
            <div class="btn-area _pos-center">
              <a class="btn btn-gray record-service-btn"
                 href="#record-service" rel="modal:open" >
                записаться
              </a>
            </div>
          </div>
        </div>

        <div class="service-work-sub-title" style="margin-bottom: 38px">
          Благодаря большому ассортименту и наличию собственного склада, мы сможем в кротчайшие сроки подобрать и
          заменить
          необходимые шины, камеры и диски для вашего транспорта.
        </div>
      </div>
    </div>
  </div>

  <div class="main-area-fluid map-area-bg">

    <div class="map-area" style="margin: 0 0 0 52px">
      <div class="map-block-service _left">
        <p>Снятие/установка шин</p>
        <p class="font-style-18" style="margin: 0 0 4px 18px">Монтаж на стенде</p>
        <p style="margin: 0 0 4px -8px">Балансировка <span
            style="color: #1655a4; letter-spacing: 1px; margin: 0 0 0 20px ">Ремонт проколов</span></p>
        <p class="font-style-23" style="margin:  0 0 4px -31px">Шиномонтаж с/х шин</p>
        <p style="margin: 0 0 4px 0">Правка/ремонт с/х дисков</p>
        <p class="font-style-18" style="margin: 0 0 4px 18px">Демонтаж на стенде</p>
        <p style="color: #1655a4; margin: 0 0 2px -8px;">Нарезка протектора</p>
        <p>Ремонт боковых порезов</p>
        <p class="font-style-18" style="margin: 2px 0 4px 18px">Ремонт плечевой зоны</p>
        <p style="margin: 0 0 0 -8px">Ремонт сложных повреждений</p>
      </div>
      <img class="map-img" src="img/map.png" alt="">

      <div class="map-block" style="margin: 0 50px 0 0 ">

        <div class="map-pin map-pin-position-1">
          <img class="svg-icon map-pin-svg" src="img/map-pin.svg" alt="Позиция на карте">
          <div class="tooltip-address">
            <div class="tooltip-address-title">Автосервис</div>
            <div class="tooltip-address-position">пер.Маслозаводской</div>
            <div class="tooltip-address-phone">8 (4862) <span>49-06-25</span></div>
            <div class="tooltip-address-work">пн - пт с 9.00 до 18.00</div>
          </div>
        </div>

        <div class="map-pin map-pin-position-2">
          <img class="svg-icon map-pin-svg" src="img/map-pin.svg" alt="Позиция на карте">
          <div class="tooltip-address">
            <div class="tooltip-address-title">Шиномонтаж</div>
            <div class="tooltip-address-position">ул.Итальянская, 1Г</div>
            <div class="tooltip-address-phone">8 (4862) <span>63-00-44</span></div>
            <div class="tooltip-address-work">пн - пт с 9.00 до 18.00</div>
          </div>
        </div>

        <div class="map-pin map-pin-position-3">
          <img class="svg-icon map-pin-svg" src="img/map-pin.svg" alt="Позиция на карте">
          <div class="tooltip-address">
            <div class="tooltip-address-title">МТК Росберг</div>
            <div class="tooltip-address-position">Московское шоссе,д.173</div>
            <div class="tooltip-address-phone">8 (495) <span>256-44-05</span></div>
            <div class="tooltip-address-work">пн - пт с 9.00 до 18.00</div>
          </div>
        </div>

        <img src="img/map-icon.png" alt="">
      </div>

      <div class="map-block-service _right">
        <p>Снятие/установка шин</p>
        <p class="font-style-18" style="margin: 0 0 4px 18px">Монтаж на стенде</p>
        <p style="margin: 0 0 4px -8px">Балансировка <span
            style="color: #1655a4; letter-spacing: 1px; margin: 0 0 0 20px ">Ремонт проколов</span></p>
        <p class="font-style-23" style="margin:  0 0 4px -31px">Шиномонтаж с/х шин</p>
        <p style="margin: 0 0 4px 0">Правка/ремонт с/х дисков</p>
        <p class="font-style-18" style="margin: 0 0 4px 18px">Демонтаж на стенде</p>
        <p style="color: #1655a4; margin: 0 0 2px -8px;">Нарезка протектора</p>
        <p>Ремонт боковых порезов</p>
        <p class="font-style-18" style="margin: 2px 0 4px 18px">Ремонт плечевой зоны</p>
        <p style="margin: 0 0 0 -8px">Ремонт сложных повреждений</p>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
