<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->

<div class="page-content no-pd">
  <div class="main-area-fluid guest-page-content">
    <div class="main-area">
      <div class="page-area guest-page">
        <div class="title-block">
          <div class="title"><span>Уважаемые</span> гости!</div>
        </div>
        <div class="guest-page-area">
          <p class="guest-page-title">Вы переходите по внешней ссылке на сайт
            <a href="https://service-centrum.ru">https://service-centrum.ru</a>
          </p>
          <p>
            В магазине представлены автозапчасти для всех видов импортных
            <br>и отечественных грузовиков и прицепов, автобусов и полуприцепов.
          </p>
          <div class="btn-area">
            <a href="/" class="btn btn-border">
              остаться на сайте
            </a>
            <a href="/" class="btn btn-cobalt-blue">
              перейти
            </a>
          </div>
        </div>

        <div class="guest-images">
          <img class="guest-img" src="img/guest-arrow.png" alt="Картинка">
          <img  src="img/pc.png" alt="Картинка">
        </div>

      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
