<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content bg-gray">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">Политика конфиденциальности</a></li>
      </ul>
      <div class="page-area no-mr">
        <div class="catalog-area">
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Датчики</span>
            </div>
          </div>
          <div class="list-card">

              <div class="row card-product-row">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 card-col">
                  <div class="card-product card-product-col">
                    <div class="card-product-img">
                      <a href="">
                        <img class="product-img" src="img/tarecon-1.png" alt="Датчик">
                      </a>
                      <div class="tire-type">

                        <img src="img/card/search.png" class="img-search" alt="Поиск">
                      </div>
                    </div>
                    <div class="card-product-info">
                      <a href="#" class="card-product-info-name">
                        Датчик внутренний
                      </a>
                      <div class="card-product-info-line article">
                        Артикул: <span>34567</span>
                      </div>
                      <div class="card-product-info-line find">
                        Тип питания <span>cr 2450 </span><span class="add-info">(незаменяем.)</span>
                      </div>
                      <div class="card-product-info-line brand">
                        Передача данных <span> 433 МГц </span>
                      </div>
                      <div class="card-product-info-line brand">
                        Время работы батареи <span> > 5 лет </span>
                      </div>

                      <div class="card-product-price">
                        <div class="card-product-price-inner">
                          <div class="price"><span>7 897 ₽ </span>(шт)</div>
                          <div class="product-count">
                            <div class="strelka _left">
                              <div class="sq">
                                <span>—</span>
                                <div class="arrow_box"></div>
                              </div>
                            </div>
                            <span class="count">4</span>
                            <div class="strelka _right">
                              <div class="sq">
                                <span>+</span>
                                <div class="arrow_box"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-product-price-inner">
                          <div class="old-price">15 897 ₽</div>
                          <div class="total-sum-price">Сумма: 999 897 ₽</div>
                        </div>
                      </div>

                      <div class="product-stock">
                        <div class="stock _yes">В наличии</div>
                      </div>
                    </div>

                    <div class="card-product-btn">
                      <div class="btn-area _pos-center">
                        <button class="btn btn-red">
                          в корзину
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
