<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li><a href="/">Акции</a></li>
      </ul>
    </div>

    <!-- БАННЕР ДЛЯ БОЛЬШИХ ЭКРАНОВ -->
    <img src="img/promo-image.jpg" alt="Промо" class="promo-banner">

    <!-- БАННЕР ДЛЯ ТЕЛЕФОНОВ -->
    <img src="img/promo-image-mobile.jpg" alt="Промо" class="promo-banner _mobile">

    <div class="main-area">
      <div class="page-area">
        <div class="promo-title-block">
          <div class="promo-title">Скидка 10% на грузовой шиномонтаж</div>
        </div>

        <div class="promo-area">
          <div class="info-text">
            <div class="promo-subtitle">
              Акция проводится с 10 января до 31 марта 2022 года.
            </div>

            <p class="promo-p">
              Теперь в «Шинах на грузовик» предоставляется 10% скидка на услуги грузового шиномонтажа!
              <br/>
              Успейте воспользоваться акцией до 30 апреля!
            </p>

            <div class="promo-terms-title">Как принять участие в акции:</div>

            <ul class="promo-terms">
              <li>
                Получите купон на скидку 10% на грузовой шиномонтаж у предприятий-партнеров.
              </li>
              <li>
                Предъявите купон на скидку <span>перед началом оказания услуги</span> при обращении в один из ГШМ:

                <ul>
                  <li>
                    ГШМ «ПетроМастер»: г. Орёл, пер. Маслозаводской
                  </li>
                  <li>
                    ГШМ «Протектор57»: г. Орёл, ул. Итальянская, 1Д
                    <br/>(трасса М-2, 373-й км)
                  </li>
                  <li>
                    ГШМ «МТК Росберг»: г. Орёл, Московское шоссе, 173
                  </li>
                </ul>
              </li>
            </ul>

            <p class="promo-p">
              Воспользоваться <strong>1 купоном можно только 1 раз</strong>, затем купон изымается у участника акции. Количество купонов, которые может
              получить участник акции, не ограничено. Акция не суммируется с другими акциями и скидками компании. Участниками акции
              могут быть физические лица, достигшие
              18 - летнего возраста, являющиеся гражданами РФ и проживающие на территории РФ.
            </p>

            <p class="promo-p">
              Подробности об организаторе акции, о правилах её проведения, количестве купонов на скидку по результатам акции, сроках,
              месте и порядке их получения – на сайте <a href="/">шины-на-грузовик.рф</a>
            </p>

            <p class="promo-p">
              Не является офертой. Организатор акции оставляет за собой право изменить или отменить условия проведения маркетинговой
              акции до момента акцепта покупателем.
            </p>

            <p class="promo-bottom">
              Организатор акции: ООО «МТК Росберг Центр». <br/>
              Юридический адрес: 302025, Орловская область, г.Орел, ул.Московское шоссе, д. 173.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
