<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<%= _.template(require('./../includes/slider/slider.html').default)(data) %>
<div class="page-content no-mrb">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">Политика конфиденциальности</a></li>
      </ul>
      <div class="page-area">
        <div class="title-block">
          <div class="title"><span>Политика конфиденциальности</span></div>
        </div>
        <div class="info-text _blue">
          <p>Ваша конфиденциальность очень важна для нас.</p>
        </div>

        <div>
          <div class="info-text guarantee-border">
            <p>
              Настоящее Пользовательское соглашение является публичным документом администратора сайта (далее –
              Администратор) и определяет порядок использования
              посетителями (далее - Посетитель) сайта, принадлежащего Администратору, и обработки, хранения и иного
              использования информации, получаемой Администратором
              от Посетителя на сайте Администратора. Администратор сайта может изменить в любой момент данное
              Пользовательское соглашение без уведомления п осетителя сайта.
            </p>
          </div>
        </div>

        <div class="info-block">
          <div class="guarantee-title">
            <span>Предоставление&nbsp;</span>информации клиентом
          </div>
          <div class="info-text">
            <p>
              При оформлении заказа Клиент может предоставить следующую информацию:
            </p>
            <p>
              — Фамилия, Имя, адрес для доставки заказов, номер контактного телефона.
            </p>
          </div>
          <div class="info-text">
            <p>
              Предоставляя свои персональные данные, Клиент соглашается на их обработку в течение неопределенного срока
              интернет-магазином (далее также «Продавец») в целях исполнения Продавцом
              своих обязательств перед клиентом, продажи им товаров и предоставления услуг, предоставления им справочной
              информации, а также в целях продвижения товаров, работ и услуг, а также
              соглашается на получение электронных рассылок.
            </p>
            <p>
              При обработке персональных данных Клиента интернет–магазин руководствуется Федеральным законом «О
              персональных
              данных», Федеральным законом «О рекламе» и локальными
              нормативными документами.
            </p>
          </div>
        </div>

        <div class="info-block">
          <div class="guarantee-title">
            <span>Использование информации,&nbsp;</span>предоставленной Клиентом и получаемой Продавцом
          </div>
          <div class="info-text">
            <p>
              Продавец использует предоставленные Клиентом данные в течение всего срока регистрации Клиента на Сайте в
              целях:
            </p>
            <p>
              <img class="guarantee-check" src="img/check-red.png" alt="Check">Для обработки заказов Клиента и
              выполнения
              своих обязательств перед Клиентом;
            </p>
            <p>
              <img class="guarantee-check" src="img/check-red.png" alt="Check">Для осуществления деятельности по
              продвижению товаров и услуг.
            </p>
          </div>
        </div>

        <div class="info-block">
          <div class="guarantee-title">
            <span>Предоставление и передача&nbsp;</span>информации, полученной Продавцом
          </div>
          <div class="info-text">
            <p>
              Продавец обязуется не передавать полученную от Клиента информацию третьим лицам за исключением случаев
              технического взаимодействия с внешними сервисами для проведения е-мейл,
              смс и других типов уведомлений и рассылок.</p>
            <p>
              Не считается нарушением обязательств передача информации в соответствии с обоснованными и применимыми
              требованиями законодательства Российской Федерации.
              Продавец вправе использовать технологию "cookies". "Cookies" не содержат конфиденциальную информацию и не
              передаются третьим лицам.
              Продавец получает информацию об ip-адресе посетителя сайта и сведения о том, по ссылке с какого
              интернет-сайта
              посетитель пришел. Данная информация не используется для установления
              личности посетителя.
            </p>
            <p>
              Продавец при обработке персональных данных принимает необходимые и достаточные организационные и
              технические
              меры для защиты.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
