<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content no-pd">
  <div class="main-area-fluid">
    <div class="main-area">
      <div class="page-area">
        <div class="page-404-area">
          <div class="page-404-img">
            <img src="img/404.png" alt="404 — Страница не найдена">
          </div>
          <div class="page-404-title">Страница не найдена</div>
          <div class="page-404-info">
            Страница, на которую вы пытаетесь попасть, не существует или была удалена.
            <br>Перейдите на главную страницу <a href="https://service-centrum.ru">https://service-centrum.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
