<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content bg-gray">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">Политика конфиденциальности</a></li>
      </ul>
      <div class="page-area no-mr">
        <div class="catalog-area inner-card-page">
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Датчик </span>внутренний
            </div>
          </div>
          <div class="inner-card-area">
            <div class="inner-card">
              <div class="inner-car-img">
                <img src="img/tarecon.png" alt="Датчики">
              </div>
              <div class="inner-car-table-area">
                <div class="inner-car-table">
                  <div class="inner-car-col">
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">Артикул</div>
                      <div class="inner-car-col-info">12345</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">погрешность</div>
                      <div class="inner-car-col-info">-+1</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">температура</div>
                      <div class="inner-car-col-info">от -40 °C до +125°C</div>
                    </div>
                  </div>
                  <div class="inner-car-col">
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">материал</div>
                      <div class="inner-car-col-info">12345</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">принцип измерения</div>
                      <div class="inner-car-col-info">-+1</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">наличие</div>
                      <div class="product-stock">
                        <div class="stock _yes">В наличии</div>
                      </div>
                    </div>
                  </div>
                  <div class="inner-car-col">
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">тип питания</div>
                      <div class="inner-car-col-info">CR 2450 <span class="add-info">(незаменим.)</span></div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">передача данных</div>
                      <div class="inner-car-col-info">433 МГц</div>
                    </div>
                    <div class="inner-car-row inner-car-row-empty">
                    </div>
                  </div>

                  <div class="inner-car-col">
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">единицы измерения</div>
                      <div class="inner-car-col-info">°C, Bar</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">время работы батарейки</div>
                      <div class="inner-car-col-info">> 5 лет</div>
                    </div>
                    <div class="inner-car-row inner-car-row-empty">

                    </div>
                  </div>
                </div>
                <div class="inner-car-total">

                  <div class="inner-car-total-row">
                    Количество:&nbsp;
                    <div class="product-count">
                      <div class="strelka _left">
                        <div class="sq">
                          <span>—</span>
                          <div class="arrow_box"></div>
                        </div>
                      </div>
                      <span class="count">4</span>
                      <div class="strelka _right">
                        <div class="sq">
                          <span>+</span>
                          <div class="arrow_box"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="inner-car-total-row">
                    <div class="cart-product-total _all">
                      Всего: <span class="total">7 897</span> <span class="rub">₽</span>
                    </div>
                  </div>
                  <div class="inner-car-total-row">
                    <div class="cart-product-total">
                      Итого: <span class="total">15 794</span> <span class="rub">₽</span>
                    </div>
                  </div>
                  <div class="inner-car-total-row">
                    <div class="btn-area">
                      <button class="btn btn-red">в корзину</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="catalog-area">
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Похожие </span>товары
            </div>
          </div>
          <div class="catalog-slider-wrap">
            <div class="slider-card custom-slider">
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
            </div>
          </div>
        </div>

        <div class="catalog-area">
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Ранее </span>вы смотрели
            </div>
          </div>
          <div class="catalog-slider-wrap">
            <div class="slider-card custom-slider">
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
              <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
