<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<%= _.template(require('./../includes/slider/slider.html').default)(data) %>
<div class="page-content no-mrb">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">Политика конфиденциальности</a></li>
      </ul>
      <div class="page-area">
        <div class="title-block">
          <div class="title"><span>Доставка и оплата</span></div>
        </div>
        <div class="info-block">
          <div class="info-text">
            <div class="info-title"><span>Получить&nbsp;</span> товар после покупки можно двумя способами:</div>
            <p>
              1. Забрать в одном из магазинов «Протектор 57» по адресу ул. Михалицына, 10 или ул. Ломоносова, 6Б ТЦ
              "Утес". Режим работы магазинов: 9.00-19.00 в рабочие дни, 10.00-16.00 в выходные(<a class="go-map"
                                                                                                  href="/">на
              карте</a>)
            </p>
            <p>
              2. Заказать доставку товаров в другие регионы (через транспортные компании).
            </p>
          </div>
        </div>
        <div class="info-block">
          <div class="info-text">
            <div class="info-title"><span>стоимость&nbsp;</span>доставки:</div>
            <p>
              1. Оплата услуг транспортных компаний производится покупателем при получении товара согласно расценкам
              транспортной компании, действующим на момент получения товара.
            </p>
            <p>
              2. Доставка до терминала транспортной компании - бесплатно.
            </p>
            <p>
              3. Доставка в другие регионы осуществляется следующими транспортными компаниями: GTD(КИТ),
              Желдорэкспедиция,
              Деловые Линии, ПЭК, Байкал-Сервис.
            </p>
            <p>
              Отправка товара осуществляется в течение 3 рабочих дней, более точный срок уточняйте у менеджера по тел.
              <a href="tel: +74862448660" class="link-custom">
                8 (4862) 448-660.
              </a>
            </p>
          </div>
        </div>
        <div class="info-block">
          <div class="info-text">
            <div class="info-title"><span>способ&nbsp;</span>оплаты:</div>
            <p>
              1. Наличными в магазинах «Протектор 57» по адресу ул. Михалицына, 10 или ул. Ломоносова, 6Б ТЦ "Утёс".(<a
                class="go-map" href="/">на карте</a>)
            </p>
            <p>
              2. Картой в магазинах «Протектор 57» по адресу ул. Михалицына, 10 или ул. Ломоносова, 6Б ТЦ "Утёс".(<a
                class="go-map" href="/">на карте</a>)
            </p>
            <p>
              3. Безналичным перечислением после выставления счета на оплату (для юридических лиц). Работаем как без
              НДС,
              так и с НДС.
            </p>
            <p>
              4. Оплата при помощи платежной системы после создания заказа (возможно вносить как предоплату, так и
              производить полную оплату товара).
            </p>
            <p>
              5. На карту Сбербанка. № карты: <span
                style="font-family: 'Open Sans-Bold', sans-serif">4279 1343 5680 3026</span> (Валухов Роман
              Владимирович).
            </p>
          </div>
        </div>
        <div class="info-block">
          <div class="info-text">
            <div class="info-title"><span>обмен&nbsp;</span>и<span>&nbsp;возврат&nbsp;</span>товара:</div>
            <p>Покупатель вправе отказаться от покупки до момента передачи товара в любое время без объяснения причин;
              после передачи товара - в течение 7 дней.</p>
            <p>
              Обмен и возврат товара надлежащего качества происходит в точке приобретения по адресам: г. Орел, ул.
              Михалицына, 10 или ул. Ломоносова, 6Б ТЦ "Утёс", ежедневно с 10:00 до 16:00, кроме
              субботы и воскресенья.
            </p>
            <p>
              При возврате или обмене товара покупатель при себе должен иметь товарную накладную, кассовый чек или любой
              иной документ, подтверждающий факт приобретен ия товара.
            </p>
            <p>
              Товар должен сохранять свой товарный вид, оригинальную упаковку и потребительские свойства.
            </p>
            <p>
              Покупатель, при намерении вернуть или обменять приобретенный товар, обязан по телефону или электронной
              почте
              уведомить об этом продавца.
            </p>
            <br>
            <p>
              К возврату не принимаются шины использованные или бортированные.
            </p>
            <p>
              Не принимаются к возврату диски без оригинальной упаковки, без крепежа (болты или гайки, центровочные
              кольца), если он был в комплекте, без декоративной заглушки или колпака,
              в зависимости от комплектации, бортированные или с испорченным лакокрасочным покрытием.
            </p>
            <p>
              Возврат денежных средств осуществляется в течение 30 дней (в зависимости от способа оплаты) с момента
              предъявления покупателем соответствующего требования в офисе продавца
              по адресу: ул. Михалицына, 10 или ул. Ломоносова, 6Б ТЦ "Утёс", ежедневно с 10:00 до 16:00, кроме субботы
              и
              воскресенья.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
