<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content bg-gray">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">Политика конфиденциальности</a></li>
      </ul>
      <div class="page-area no-mr">
        <div class="catalog-area inner-card-page">
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Датчик </span>внутренний
            </div>
          </div>
          <div class="inner-card-area">
            <div class="inner-card">
              <div class="inner-car-img">
                <a href="img/product-tire.png" data-fancybox>
                  <img src="img/product-tire.png" alt="Шина" >
                </a>
              </div>
              <div class="inner-car-table-area">
                <div class="inner-car-table">
                  <div class="inner-car-col">
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">Артикул</div>
                      <div class="inner-car-col-info">12345</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">шипы</div>
                      <div class="inner-car-col-info">Шипованная</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">тип</div>
                      <div class="inner-car-col-info">Шипованная</div>
                    </div>
                  </div>
                  <div class="inner-car-col">
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">Бренд</div>
                      <div class="inner-car-col-info">MATADOR</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">диаметр</div>
                      <div class="inner-car-col-info">32</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">комплектация</div>
                      <div class="inner-car-col-info">32</div>
                    </div>
                  </div>
                  <div class="inner-car-col">
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">Модель</div>
                      <div class="inner-car-col-info">МР-47 HECTORRA</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">размер</div>
                      <div class="inner-car-col-info">32.2</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">наличие</div>
                      <div class="product-stock">
                        <div class="stock _yes">В наличии</div>
                      </div>
                    </div>
                  </div>

                  <div class="inner-car-col">
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">сезонность</div>
                      <div class="inner-car-col-info">Лето</div>
                    </div>
                    <div class="inner-car-row">
                      <div class="inner-car-col-title">норма слойности</div>
                      <div class="inner-car-col-info">2</div>
                    </div>
                    <div class="inner-car-row inner-car-row-empty">

                    </div>
                  </div>
                </div>
                <div class="inner-car-total">

                  <div class="inner-car-total-row">
                    Количество:&nbsp;
                    <div class="product-count">
                      <div class="strelka _left">
                        <div class="sq">
                          <span>—</span>
                          <div class="arrow_box"></div>
                        </div>
                      </div>
                      <span class="count">4</span>
                      <div class="strelka _right">
                        <div class="sq">
                          <span>+</span>
                          <div class="arrow_box"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="inner-car-total-row">
                    <div class="cart-product-total _all">
                      Всего: <span class="total">7 897</span> <span class="rub">₽</span>
                    </div>
                  </div>
                  <div class="inner-car-total-row">
                    <div class="cart-product-total">
                      Итого: <span class="total">15 794</span> <span class="rub">₽</span>
                    </div>
                  </div>
                  <div class="inner-car-total-row">
                    <div class="btn-area">
                      <button class="btn btn-red">в корзину</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="catalog-area">
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Похожие </span>товары
            </div>
          </div>
        </div>

        <div class="catalog-area">
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Ранее </span>вы смотрели
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
