<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<%= _.template(require('./../includes/slider/slider.html').default)(data) %>
<div class="page-content">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li><a href="/">Акции</a></li>
      </ul>
      <div class="page-area">
        <div class="title-block">
          <div class="title"><span>Акции</span></div>
        </div>

        <div class="promo-area">
          <div class="promo-list">
            <div class="container-fluid">
              <div class="row">
                <div class="col-auto col-sm-6 col-md-6 col-lg-4 good-wrap">
                  <div class="promo-item">
                    <div class="promo-item-img">
                      <img src="img/promo/promo-1.png" alt="Акция">
                    </div>
                    <div class="promo-info">
                      <p>Получайте кэшбек за покупку шин Cordiant!</p>
                      <p>Срок действия акции <span>до 30.11.2021</span></p>
                    </div>
                    <div class="btn-area _pos-center">
                      <button class="btn btn-red">
                        подробнее
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-auto col-sm-6 col-md-6 col-lg-4 good-wrap">
                  <div class="promo-item">
                    <div class="promo-item-img">
                      <img src="img/promo/promo-2.png" alt="Акция">
                    </div>
                    <div class="promo-info">
                      <p>Качественный ремонт дисков</p>
                      <p>Срок действия акции <span>до 30.11.2021</span></p>
                    </div>
                    <div class="btn-area _pos-center">
                      <a href="/" class="btn btn-red">
                        подробнее
                      </a>
                    </div>
                  </div>
                </div>
                <div  class="col-auto col-sm-6 col-md-6 col-lg-4 good-wrap">
                  <div class="promo-item">
                    <div class="promo-item-img">
                      <img src="img/promo/promo-3.png" alt="Акция">
                    </div>
                    <div class="promo-info">
                      <p>Бесплатное сезонное хранение шин!</p>
                      <p>Срок действия акции <span>до 30.11.2021</span></p>
                    </div>
                    <div class="btn-area _pos-center">
                      <a href="/" class="btn btn-red">
                        подробнее
                      </a>
                    </div>
                  </div>
                </div>
                <div  class="col-auto col-sm-6 col-md-6 col-lg-4 good-wrap">
                  <div class="promo-item">
                    <div class="promo-item-img">
                      <img src="img/promo/promo-4.png" alt="Акция">
                    </div>
                    <div class="promo-info">
                      <p>Скидка 20% на шиномонтаж!</p>
                      <p>Срок действия акции <span>до 30.11.2021</span></p>
                    </div>
                    <div class="btn-area _pos-center">
                      <a href="/" class="btn btn-red">
                        подробнее
                      </a>
                    </div>
                  </div>
                </div>
                <div  class="col-auto col-sm-6 col-md-6 col-lg-4 good-wrap">
                  <div class="promo-item">
                    <div class="promo-item-img">
                      <img src="img/promo/promo-5.png" alt="Акция">
                    </div>
                    <div class="promo-info">
                      <p>Скидка 10% на запчасти, акб, масла.</p>
                      <p>Срок действия акции <span>до 30.11.2021</span></p>
                    </div>
                    <div class="btn-area _pos-center">
                      <a href="/" class="btn btn-red">
                        подробнее
                      </a>
                    </div>
                  </div>
                </div>

                <div  class="col-auto col-sm-6 col-md-6 col-lg-4 good-wrap">
                  <div class="promo-item">
                    <div class="promo-item-img">
                      <img src="img/promo/promo-6.png" alt="Акция">
                    </div>
                    <div class="promo-info">
                      <p>Меняем старый аккумулятор на новый.</p>
                      <p>Срок действия акции <span>до 30.11.2021</span></p>
                    </div>
                    <div class="btn-area _pos-center">
                      <a href="/" class="btn btn-red">
                        подробнее
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
