<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<%= _.template(require('./../includes/slider/slider.html').default)(data) %>
<!--<div class="preloader">-->
<!--  <div class="loader-block">-->
<!--    <img class="loader" src="img/preloading.png" alt="Загрузка">-->
<!--  </div>-->
<!--</div>-->
<div class="page-content no-mrb no-pd-b">
<div class="main-area-fluid">
  <div class="main-area">
    <ul class="breadcrumbs">
      <li ><a href="/">Главная</a></li>
      <li class="_active"><a href="#">Популярные бренды</a></li>
    </ul>
    <div class="page-area">
      <div class="title-block">
        <div class="title"><span>Популярные</span> бренды</div>
      </div>
      <div class="brands-grid">
        <a href="#" class="brand">
          <img src="img/brand-1.png" alt="Бренд">
          <div class="brand-name">amtel</div>
        </a>
        <a href="#" class="brand">
          <img src="img/brand-2.png" alt="Бренд">
          <div class="brand-name">amtel</div>
        </a>
        <a href="#" class="brand">
          <img src="img/brand-2.png" alt="Бренд">
          <div class="brand-name">amtel</div>
        </a>
        <a href="#" class="brand">
          <img src="img/brand-2.png" alt="Бренд">
          <div class="brand-name">amtel</div>
        </a>
        <a href="#" class="brand">
          <img src="img/brand-2.png" alt="Бренд">
          <div class="brand-name">amtel</div>
        </a>
        <a href="#" class="brand">
          <img src="img/brand-2.png" alt="Бренд">
          <div class="brand-name">amtel</div>
        </a>
        <a href="#" class="brand">
          <img src="img/brand-2.png" alt="Бренд">
          <div class="brand-name">amtel</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="main-area-fluid gray-bg">
  <div class="main-area">
    <div class="info-tires">
      <p>Автомобильная резина — один из важнейших компонентов любой машины. У нас представлена резина лучших отечественных и зарубежных брендов . Большой выбор
        поможет каждому приобрести резину, полностью отвечающую его запросам.</p>
    </div>
  </div>
</div>
</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
