<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content bg-gray">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">Политика конфиденциальности</a></li>
      </ul>
      <div class="page-area no-mr">
        <div class="catalog-area">
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Корзина</span>
            </div>
          </div>
          <div class="cart-grid-list">
            <div class="cart-grid cart-grid-title">
              <div class="cart-grid-col cart-grid-col-all">
<!--                <div class="grid-col-title select-all">Выбрать все</div>-->
              </div>
              <div class="cart-grid-col cart-grid-col-type ">
<!--                <div class="grid-col-title">Вид товара</div>-->
                <div class="grid-col-title select-all">Выбрать все</div>
              </div>
              <div class="cart-grid-col cart-grid-col-name">
                <div class="grid-col-title">Название товара</div>
              </div>
              <div class="cart-grid-col cart-grid-col-price">
                <div class="grid-col-title">Цена за единицу</div>
              </div>
              <div class="cart-grid-col cart-grid-col-count">
                <div class="grid-col-title">Количество</div>
              </div>
              <div class="cart-grid-col cart-grid-col-delete">
                <div class="grid-col-title">Удалить</div>
              </div>
            </div>

            <div class="cart-grid cart-grid-product">
              <div class="cart-grid-col cart-grid-col-all">
                <div class="grid-col-content">
                  <label class="checkbox _big">
                    <input type="checkbox" class="normal-checkbox" id="u-4" value="private">
                    <span class="label" for="u-4"></span>
                  </label>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-type">
                <div class="grid-col-content">
                  <div class="block-photo-product">
                    <a href="img/product-tire.png"  data-fancybox>
                      <img src="img/product-tire.png" alt="Товар">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-name">
                <div class="grid-col-content">
                  <a href="/" class="product-name">
                    ALTENZO CURSITOR 185R14C 102/100R
                  </a>
                  <div class="product-article">
                    <span>артикул</span> 123456
                  </div>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-price">
                <div class="grid-col-content">
                  <p>7 897 <span>₽</span></p>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-count">
                <div class="grid-col-content">
                  <div class="product-count">
                    <div class="strelka _left">
                      <div class="sq">
                        <span>—</span>
                        <div class="arrow_box"></div>
                      </div>
                    </div>
                    <div class="input-container count">
                      <input type="number" value="4">
                    </div>
                    <div class="strelka _right">
                      <div class="sq">
                        <span>+</span>
                        <div class="arrow_box"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-delete">
                <div class="grid-col-content">
                  <a href="#modal-delete-product" rel="modal:open"  class="product-delete">
                    <img src="img/delete.png" alt="Удалить товар">
                  </a>
                </div>
              </div>
              <div class="cart-product-total">
                Общая стоимость: <span class="total">15 794</span> <span class="rub">₽</span>
              </div>
            </div>
            <div class="cart-grid cart-grid-product">
              <div class="cart-grid-col cart-grid-col-all">
                <div class="grid-col-content">
                  <label class="checkbox _big">
                    <input type="checkbox" class="normal-checkbox" id="u-4" value="private">
                    <span class="label" for="u-4"></span>
                  </label>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-type">
                <div class="grid-col-content">
                  <div class="block-photo-product">
                    <a href="img/product-tire.png"  data-fancybox>
                      <img src="img/product-tire.png" alt="Товар">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-name">
                <div class="grid-col-content">
                  <div class="product-name">
                    ALTENZO CURSITOR 185R14C 102/100R
                  </div>
                  <div class="product-article">
                    <span>артикул</span> 123456
                  </div>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-price">
                <div class="grid-col-content">
                  <p>7 897 <span>₽</span></p>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-count">
                <div class="grid-col-content">
                  <div class="product-count">
                    <div class="strelka _left">
                      <div class="sq">
                        <span>-</span>
                        <div class="arrow_box"></div>
                      </div>
                    </div>
                    <span class="count">4</span>
                    <div class="strelka _right">
                      <div class="sq">
                        <span>+</span>
                        <div class="arrow_box"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-delete">
                <div class="grid-col-content">
                  <a href="#modal-delete-product" rel="modal:open"  class="product-delete">
                    <img src="img/delete.png" alt="Удалить товар">
                  </a>
                </div>
              </div>
              <div class="cart-product-total">
                Общая стоимость: <span class="total">15 794</span> <span class="rub">₽</span>
              </div>
            </div>
          </div>

          <div class="cart-bottom-area">
            <div class="cart-bottom">
              <div class="btn-area">
                <button class="btn btn-blue-crayola">
                  продолжить покупки
                </button>
                <button class="btn btn-border">
                  очистить корзину
                </button>
              </div>
              <div class="cart-bottom-price">
                <div class="cart-product-total">
                  Итого: <span class="total">15 794</span> <span class="rub">₽</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="catalog-area delivery-page">
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Оформление</span> заказа
            </div>
          </div>
          <div class="delivery-area">
            <div class="delivery-form">
              <div class="delivery-form-row _form-row-filled">

                <div class="delivery-steps">
                  <div class="step">1</div>
                </div>


                <div class="row-title"><span>Ваши</span> контактные данные</div>
                <div class="input-container _error delivery-name">
                  <div class="input-label">Фио*</div>
                  <input type="text">
                  <div class="input-error">ошибка</div>
                </div>
                <div class="input-container delivery-phone">
                  <div class="input-label">Номер телефона*</div>
                  <input type="text">
                </div>
                <div class="input-container">
                  <div class="input-label">E-mail</div>
                  <input type="text">
                </div>
                <div class="input-container delivery-checkbox">
                  <label class="checkbox">
                  <span class="checkbox-text" for="u-1">
                     <span class="text">
                  Я согласен с условиями передачи
                  данных. <a href="/">Соглашение</a>
                </span>
                  </span>
                    <input type="checkbox" class="normal-checkbox" id="u-1" value="private">
                    <span class="label" for="u-1"></span>
                  </label>
                </div>


              </div>
              <div class="delivery-form-row">
                <div class="delivery-steps">
                  <div class="step _active">2</div>
                </div>
                <div class="row-inner-block delivery-type-block">
                  <div class="row-title"><span>Где и как </span>вы хотите получить заказ</div>
                  <div class="delivery-type-area">
                    <label class="checkbox _circle">
                      <span class="checkbox-text" for="u-10">
                         <span class="text">Самовывоз</span>
                      </span>
                      <input type="checkbox" class="normal-checkbox" id="u-10" value="private">
                      <span class="label" for="u-10"></span>
                    </label>

                    <label class="checkbox _circle">
                      <span class="checkbox-text" for="u-9">
                         <span class="text">доставка</span>
                      </span>
                      <input type="checkbox" class="normal-checkbox" id="u-9" value="private">
                      <span class="label" for="u-9"></span>
                    </label>
                  </div>

                </div>
                <div class="row-inner-block delivery-faq">
                  <p>
                    Cроки отгрузки заказных позиций являются ориентировочными в связи с распространением в мире
                    коронавирусной
                    инфекции (2019-nCoV) и риском приостановления деятельности/ работы как производителя товаров, так
                    и партнеров/компаний, обеспечивающих исполнение сделки. <a href="">Читать далее...</a>
                  </p>
                </div>
                <div class="delivery-type-selects">
                  <div class="input-container">
                    <div class="select">
                      <input type="text" readonly value="Выберите точку выдачи товара">
                      <img class="select-arrow" src="img/arrow.svg"  alt="">
                      <div class="select-result">
                        <div class="result">
                          <div class="result-span">
                            <span>г.Орел, Московское шоссе, д.173</span>
                            <span>г.Орел, Московское шоссе, д.173</span>
                            <span>г.Орел, Московское шоссе, д.173</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="input-container delivery-address">
                    <input type="text" placeholder="Адрес, на который будет осуществляться доставка">
                  </div>
                </div>
              </div>
              <div class="delivery-form-row">
                <div class="delivery-steps fill-bg">
                  <div class="step">3</div>
                </div>
                <div class="row-title"><span>Как</span> вы хотите оплатить заказ</div>
                <div class="delivery-type-area">
                  <label class="checkbox _circle">
                      <span class="checkbox-text" for="u-11">
                         <span class="text">Оплата по счету</span>
                      </span>
                    <input type="checkbox" class="normal-checkbox" id="u-11" value="private">
                    <span class="label" for="u-11"></span>
                  </label>

                  <label class="checkbox _circle">
                      <span class="checkbox-text" for="u-12">
                         <span class="text">наличными</span>
                      </span>
                    <input type="checkbox" class="normal-checkbox" id="u-12" value="private">
                    <span class="label" for="u-12"></span>
                  </label>

                  <label class="checkbox _circle">
                      <span class="checkbox-text" for="u-13">
                         <span class="text">Банковской картой</span>
                      </span>
                    <input type="checkbox" class="normal-checkbox" id="u-13" value="private">
                    <span class="label" for="u-13"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="delivery-info">
            <p>После оформления заказа на указаный номер телефона придет sms-сообщение с номером заказа. Если вы
              оставляете адрес электронной почты, то на указанный адрес
              автоматически сформируется и отправится состав заказа и его описание.</p>
          </div>
          <div class="cart-bottom-area">
            <div class="cart-bottom cart-bottom-delivery">
              <div class="btn-area">
                <button class="btn btn-red">
                  оформить заказ
                </button>
              </div>
              <div class="cart-bottom-price">
                <div class="cart-product-total">
                  Итого: <span class="total">15 794</span> <span class="rub">₽</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-delete-product" id="modal-delete-product">
  <div class="modal-content delete-cart-product">
    <div class="modal-title">
      <span>Удалить</span> заказ?
    </div>

    <p class="modal-text">
      Вы действительно готовы удалить заказ?
    </p>
    <div class="btn-area btn-area-modal">
      <a class="btn btn-border close-modal-btn" type="button" rel="modal:close">
        отменить
      </a>
      <button class="btn btn-cobalt-blue" type="submit">
        Удалить
      </button>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
