<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content bg-gray page-catalog">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">Политика конфиденциальности</a></li>

      </ul>

      <%= _.template(require('./../includes/filter-mobile/filter-mobile.html').default)(data) %>

      <%= _.template(require('./../includes/bottom-menu/bottom-menu.html').default)(data) %>

      <div class="page-area no-mr">

        <div class="catalog-area catalog-product">


          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Шины</span>
            </div>
            <div class="catalog-count"><span>2 345</span> товаров</div>
            <div class="catalog-select js-catalog-select d-lg-none d-block">
              <div class="catalog-select__text">
                По скидке
                <img src="./img/select-catalog.svg" alt="">
              </div>
              <div class="catalog-select__options">
                <a href="#" class="catalog-select__option catalog-select__option--active">
                  Шины
                </a>
                <a href="#" class="catalog-select__option">
                  Камеры
                </a>
              </div>
            </div>

            <div class="catalog-top-nav">
              <div class="catalog-nav-item sort">
                <span>Сортировать по:</span>
                <span class="_active">Скидке</span>
                <span>Обновлению</span>
                <span>Наличию</span></div>
              <div class="catalog-nav-item show">
                <span>Показывать по:</span>
                <span class="_active">10</span>
                <span>20</span>
                <span>50</span>
              </div>
              <div class="catalog-view-area">
                <div class="view-chosen view-col  _active">
                  <img class="svg-icon" src="img/card-col-icon.svg" alt="">
                </div>
                <div class="view-chosen view-row">
                  <img class="svg-icon " src="img/card-row-icon.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="button-filter-area">
            <button class="button-filter js-button-filter">
              <span  class="button-filter__text" >Фильтры</span>
              <img class="button-filter__image" src="img/filter-button.svg" alt="Фильтр">
              <span class="button-filter__count">
              0
            </span>
            </button>
          </div>

          <div class="catalog-product-content">
            <div class="catalog-product-col filter-chosen-col">
              <div class="switch-area switch-filter">
                <div class="switch-block">
                  <div class="switch-text switch-text-select">По размеру</div>
                  <label class="switch-control">
                    <input type="checkbox">
                    <span class="control"></span>
                  </label>
                  <div class="switch-text">По параметрам</div>
                </div>
              </div>
              <div class="catalog-filter-chosen-list">
                <div class="catalog-filter-chosen-area">
                  <div class="drop-window-select-filter">
                    <strong>Выбрано</strong>:2 <span>показать</span>
                  </div>
                  <div class="header-chosen-filter">
                    <div class="title">Диаметр</div>
                    <div class="throw-filter">Сбросить</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>
                  </div>
                  <div class="filter-chosen-container _open">
                    <div class="input-container search-input ">
                      <input type="text" placeholder="Я ищу...">
                      <div class="search-result">
                        <div class="result">
                          <div class="result-span">
                            <span>  R 13  </span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" checked class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" checked class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                    </div>

                  </div>

                </div>
                <div class="catalog-filter-chosen-area">
                  <div class="header-chosen-filter">
                    <div class="title">Ширина</div>
                    <div class="throw-filter">Сбросить</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>

                  </div>
                  <div class="filter-chosen-container _open">
                    <div class="input-container search-input ">
                      <input type="text" placeholder="Я ищу...">
                      <div class="search-result">
                        <div class="result">
                          <div class="result-span">
                            <span>  R 13  </span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  R 13 <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                    </div>

                  </div>

                </div>
                <div class="catalog-filter-chosen-area">
                  <div class="header-chosen-filter">
                    <div class="title">Ось</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>
                  </div>
                  <div class="filter-chosen-container _open">

                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                       Ведущая <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                       Ведущая <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                    </div>

                  </div>

                </div>
                <div class="catalog-filter-chosen-area">
                  <div class="header-chosen-filter">
                    <div class="title">Бренд</div>
                    <div class="throw-filter">Сбросить</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>
                  </div>
                  <div class="filter-chosen-container _open">
                    <div class="input-container search-input ">
                      <input type="text" placeholder="Я ищу...">
                      <div class="search-result">
                        <div class="result">
                          <div class="result-span">
                            <span>  R 13  </span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  Advance <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  Advance <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                  Advance <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>

                    </div>

                  </div>

                </div>
                <div class="catalog-filter-chosen-area">
                  <div class="header-chosen-filter">
                    <div class="title">Сезонность</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>
                  </div>
                  <div class="filter-chosen-container _open">

                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                       Летняя <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                       Летняя <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                       Летняя <span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                    </div>

                  </div>

                </div>
                <div class="catalog-filter-chosen-area">
                  <div class="header-chosen-filter">
                    <div class="title">Высота</div>
                    <div class="throw-filter">Сбросить</div>
                    <div class="change-filter-chosen">
                      <img class="svg-icon " src="img/arrow.svg" alt="">
                    </div>

                  </div>
                  <div class="filter-chosen-container _open">
                    <div class="input-container search-input ">
                      <input type="text" placeholder="Я ищу...">
                      <div class="search-result">
                        <div class="result">
                          <div class="result-span">
                            <span>  R 13  </span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                            <span>R 13</span>
                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="checkbox-list">
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                 16-R20 TTF<span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>
                      <label class="checkbox _big checkbox-chosen-filter">
                  <span class="checkbox-text">
                     <span class="text">
                 16-R20 TTF<span class="count">( 123)</span>
                    </span>
                  </span>
                        <input type="checkbox" class="normal-checkbox" value="private">
                        <span class="label"></span>
                      </label>

                    </div>

                  </div>

                </div>
              </div>
              <div class="catalog-filter-chosen-buttons">
                <button class="btn btn-filter select-all">Выбрать все</button>
                <button class="btn btn-filter throw-all">Сбросить все</button>
                <div class="btn-area">
                  <button class="btn btn-border">Выбрать</button>
                </div>
              </div>
            </div>

            <div class="catalog-product-col product-table">
              <div class="options-size-area">
                <button class="btn btn-cylinder active">22.254</button>
                <button class="btn btn-cylinder">22.254</button>
                <button class="btn btn-cylinder">22.254</button>
                <button class="btn btn-cylinder">22.254</button>
                <button class="btn btn-cylinder">22.254</button>
                <button class="btn btn-cylinder">22.254</button>
              </div>
              <div class="container-fluid p-0 container-product">
                <div class="row">
                  <div class=" col-xl-4 col-lg-6 col-md-12 col-12 card-col">
                    <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
                  </div>
                  <div class="col-xl-4 col-lg-6  col-md-12 col-12 card-col">
                    <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
                  </div>
                  <div class="col-xl-4 col-lg-6  col-md-12 col-12 card-col">
                    <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>

                  </div>


                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="down-pagination">
          <div class="catalog-nav-item pagination" data-catalog-nav="">

            <span class="_active"><a href="/catalog/tubes/?PAGEN_1=1">1</a></span>
            <span><a href="/catalog/tubes/?PAGEN_1=2">2</a></span>
            <span><a href="/catalog/tubes/?PAGEN_1=3">3</a></span>
            <span><a>...</a></span>
            <span><a href="/catalog/tubes/?PAGEN_1=228">228</a></span>
            <span><a href="/catalog/tubes/?PAGEN_1=229">229</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
