<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->

<div class="page-content no-mrb no-pd-b">

    <div class="main-area-fluid land-mr">
      <div class="main-area">
        <div class="title-block land-title-block">
          <div class="title">
            <span>Популярные</span> размеры шин
          </div>
          <span class="see-all">Смотреть все</span>
        </div>
        <div class="options-size-area land-options">
          <button class="btn btn-cylinder active">22.254</button>
          <button class="btn btn-cylinder">22.254</button>
          <button class="btn btn-cylinder">22.254</button>
          <button class="btn btn-cylinder">22.254</button>
          <button class="btn btn-cylinder">22.254</button>
          <button class="btn btn-cylinder">22.254</button>
          <button class="btn btn-cylinder">22.254</button>
          <button class="btn btn-cylinder">22.254</button>
          <button class="btn btn-cylinder">22.254</button>
          <button class="btn btn-cylinder">22.254</button>
          <button class="btn btn-cylinder">22.254</button>
        </div>

      </div>
    </div>

    <div class="main-area-fluid land-mr">
      <div class="main-area">

        <div class="title-block land-title-block">
          <div class="title">
            <span>Каталог</span>
          </div>
        </div>
        <div class="landing-catalog-slider">
          <a href="/" class="landing-catalog-slide">
            <div class="slide-img">
              <img src="img/catalog-1.png" alt="">
            </div>
            <div class="btn-area _pos-center">
              <button class="btn btn-cobalt-blue">
                шины
              </button>
            </div>
          </a>
          <a href="/" class="landing-catalog-slide">
            <div class="slide-img">
              <img src="img/catalog-2.png" alt="">
            </div>
            <div class="btn-area _pos-center">
              <button class="btn btn-cobalt-blue">
                диски
              </button>
            </div>
          </a>
          <a href="/" class="landing-catalog-slide">
            <div class="slide-img">
              <img src="img/catalog-3.png" alt="">
            </div>
            <div class="btn-area _pos-center">
              <button class="btn btn-cobalt-blue">
                диски
              </button>
            </div>
          </a>
          <a href="/" class="landing-catalog-slide">
            <div class="slide-img">
              <img src="img/catalog-4.png" alt="">
            </div>
            <div class="btn-area _pos-center">
              <button class="btn btn-cobalt-blue">
                диски
              </button>
            </div>
          </a>
          <a href="/" class="landing-catalog-slide">
            <div class="slide-img">
              <img src="img/catalog-5.png" alt="">
            </div>
            <div class="btn-area _pos-center">
              <button class="btn btn-cobalt-blue">
                диски
              </button>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="main-area-fluid">
      <div class="main-area">
        <div class="title-block land-title-block">
          <div class="title">
            <span>Шиномонтаж</span>
          </div>
          <span class="see-all">Смотреть все</span>
        </div>
        <div class="address-services-block">
          <div class="address-service">
            <div class="address-service-line address-service-map">
              <img src="img/map-icon-blue.png" class="map-icon" alt="Адрес">
              <span>г.Орел, </span> Московское шоссе, д.173
              <a href="">посмотреть на карте</a>
            </div>
          </div>
          <div class="address-service">
            <div class="address-service-line address-service-map">
              <img src="img/map-icon-blue.png" class="map-icon" alt="Адрес">
              <span>г.Орел, </span> пер.Маслозаводской
              <a href="">посмотреть на карте</a>
            </div>
          </div>
          <div class="address-service">
            <div class="address-service-line address-service-map">
              <img src="img/map-icon-blue.png" class="map-icon" alt="Адрес">
              <span>г.Орел, </span> ул.Итальянская, 1Г
              <a href="">посмотреть на карте</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="main-area-fluid map-area-bg land-mr">
      <div class="map-area" style="margin: 0 0 0 52px">
        <div class="map-block-service _left">
          <p>Снятие/установка шин</p>
          <p class="font-style-18" style="margin: 0 0 4px 18px">Монтаж на стенде</p>
          <p style="margin: 0 0 4px -8px">Балансировка <span
              style="color: #1655a4; letter-spacing: 1px; margin: 0 0 0 20px ">Ремонт проколов</span></p>
          <p class="font-style-23" style="margin:  0 0 4px -31px">Шиномонтаж с/х шин</p>
          <p style="margin: 0 0 4px 0">Правка/ремонт с/х дисков</p>
          <p class="font-style-18" style="margin: 0 0 4px 18px">Демонтаж на стенде</p>
          <p style="color: #1655a4; margin: 0 0 2px -8px;">Нарезка протектора</p>
          <p>Ремонт боковых порезов</p>
          <p class="font-style-18" style="margin: 2px 0 4px 18px">Ремонт плечевой зоны</p>
          <p style="margin: 0 0 0 -8px">Ремонт сложных повреждений</p>
        </div>
        <img class="map-img" src="img/map.png" alt="">

        <div class="map-block" style="margin: 0 50px 0 0 ">

          <div class="map-pin map-pin-position-1">
            <img class="svg-icon map-pin-svg" src="img/map-pin.svg" alt="Позиция на карте">
            <div class="tooltip-address">
              <div class="tooltip-address-title">Автосервис</div>
              <div class="tooltip-address-position">пер.Маслозаводской</div>
              <div class="tooltip-address-phone">8 (4862) <span>49-06-25</span></div>
              <div class="tooltip-address-work">пн - пт с 9.00 до 18.00</div>
            </div>
          </div>

          <div class="map-pin map-pin-position-2">
            <img class="svg-icon map-pin-svg" src="img/map-pin.svg" alt="Позиция на карте">
            <div class="tooltip-address">
              <div class="tooltip-address-title">Шиномонтаж</div>
              <div class="tooltip-address-position">ул.Итальянская, 1Г</div>
              <div class="tooltip-address-phone">8 (4862) <span>63-00-44</span></div>
              <div class="tooltip-address-work">пн - пт с 9.00 до 18.00</div>
            </div>
          </div>

          <div class="map-pin map-pin-position-3">
            <img class="svg-icon map-pin-svg" src="img/map-pin.svg" alt="Позиция на карте">
            <div class="tooltip-address">
              <div class="tooltip-address-title">МТК Росберг</div>
              <div class="tooltip-address-position">Московское шоссе,д.173</div>
              <div class="tooltip-address-phone">8 (495) <span>256-44-05</span></div>
              <div class="tooltip-address-work">пн - пт с 9.00 до 18.00</div>
            </div>
          </div>

          <img src="img/map-icon.png" alt="">
        </div>

        <div class="map-block-service _right">
          <p>Снятие/установка шин</p>
          <p class="font-style-18" style="margin: 0 0 4px 18px">Монтаж на стенде</p>
          <p style="margin: 0 0 4px -8px">Балансировка <span
              style="color: #1655a4; letter-spacing: 1px; margin: 0 0 0 20px ">Ремонт проколов</span></p>
          <p class="font-style-23" style="margin:  0 0 4px -31px">Шиномонтаж с/х шин</p>
          <p style="margin: 0 0 4px 0">Правка/ремонт с/х дисков</p>
          <p class="font-style-18" style="margin: 0 0 4px 18px">Демонтаж на стенде</p>
          <p style="color: #1655a4; margin: 0 0 2px -8px;">Нарезка протектора</p>
          <p>Ремонт боковых порезов</p>
          <p class="font-style-18" style="margin: 2px 0 4px 18px">Ремонт плечевой зоны</p>
          <p style="margin: 0 0 0 -8px">Ремонт сложных повреждений</p>
        </div>
      </div>
    </div>

  <div class="main-area-fluid land-mr">
    <div class="main-area">
      <div class="title-block land-title-block">
        <div class="title">
          <span>Акции</span>
        </div>
        <span class="see-all">Все акции</span>
      </div>
      <div class="slider-promo custom-slider">
        <a href="/" class="slide-promo">
          <div class="slide-promo-img">
            <img src="img/promo-slider/slide-1.png" alt="">
          </div>
          <div class="promo-info">
            <p>Получайте кэшбек за покупку шин Cordiant!</p>
            <p>Срок действия акции <span>до 30.11.2021</span></p>
          </div>
          <div class="btn-area _pos-center">
            <button class="btn btn-red">
              подробнее
            </button>
          </div>
        </a>
        <a href="/" class="slide-promo">
          <div class="slide-promo-img">
            <img src="img/promo-slider/slide-2.png" alt="">
          </div>
          <div class="promo-info">
            <p>Получайте кэшбек за покупку шин Cordiant!</p>
            <p>Срок действия акции <span>до 30.11.2021</span></p>
          </div>
          <div class="btn-area _pos-center">
            <button class="btn btn-red">
              подробнее
            </button>
          </div>
        </a>
        <a href="/" class="slide-promo">
          <div class="slide-promo-img">
            <img src="img/promo-slider/slide-3.png" alt="">
          </div>
          <div class="promo-info">
            <p>Получайте кэшбек за покупку шин Cordiant!</p>
            <p>Срок действия акции <span>до 30.11.2021</span></p>
          </div>
          <div class="btn-area _pos-center">
            <button class="btn btn-red">
              подробнее
            </button>
          </div>
        </a>
        <a href="/" class="slide-promo">
          <div class="slide-promo-img">
            <img src="img/promo-slider/slide-4.png" alt="">
          </div>
          <div class="promo-info">
            <p>Получайте кэшбек за покупку шин Cordiant!</p>
            <p>Срок действия акции <span>до 30.11.2021</span></p>
          </div>
          <div class="btn-area _pos-center">
            <button class="btn btn-red">
              подробнее
            </button>
          </div>
        </a>
        <a href="/" class="slide-promo">
          <div class="slide-promo-img">
            <img src="img/promo-slider/slide-1.png" alt="">
          </div>
          <div class="promo-info">
            <p>Получайте кэшбек за покупку шин Cordiant!</p>
            <p>Срок действия акции <span>до 30.11.2021</span></p>
          </div>
          <div class="btn-area _pos-center">
            <button class="btn btn-red">
              подробнее
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="main-area-fluid ">
    <div class="main-area">
      <div class="title-block land-title-block">
        <div class="title">
          <span>Скидки</span>
        </div>
        <span class="see-all">Все скидки</span>
      </div>
    </div>
  </div>

  <div class="main-area-fluid gray-bg land-mr">
    <div class="main-area">
      <div class="slider-card custom-slider">
        <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
        <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
        <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
        <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
        <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
        <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
        <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
        <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
      </div>


    </div>
  </div>
  <div class="main-area-fluid land-mr">
    <div class="main-area">
      <div class="title-block land-title-block">
        <div class="title">
          <span>Популярные</span> бренды
        </div>
        <span class="see-all">Смотреть все</span>
      </div>
      <div class="brands-scroll-block">
        <div class="brands-grid">
          <a href="#" class="brand">
            <img src="img/brand-1.png" alt="Бренд">
            <div class="brand-name">amtel</div>
          </a>
          <a href="#" class="brand">
            <img src="img/brand-1.png" alt="Бренд">
            <div class="brand-name">amtel</div>
          </a>
          <a href="#" class="brand">
            <img src="img/brand-1.png" alt="Бренд">
            <div class="brand-name">amtel</div>
          </a>
          <a href="#" class="brand">
            <img src="img/brand-1.png" alt="Бренд">
            <div class="brand-name">amtel</div>
          </a>
          <a href="#" class="brand">
            <img src="img/brand-1.png" alt="Бренд">
            <div class="brand-name">amtel</div>
          </a>
          <a href="#" class="brand">
            <img src="img/brand-2.png" alt="Бренд">
            <div class="brand-name">amtel</div>
          </a>
          <a href="#" class="brand">
            <img src="img/brand-2.png" alt="Бренд">
            <div class="brand-name">amtel</div>
          </a>
          <a href="#" class="brand">
            <img src="img/brand-2.png" alt="Бренд">
            <div class="brand-name">amtel</div>
          </a>
          <a href="#" class="brand">
            <img src="img/brand-2.png" alt="Бренд">
            <div class="brand-name">amtel</div>
          </a>
          <a href="#" class="brand">
            <img src="img/brand-2.png" alt="Бренд">
            <div class="brand-name">amtel</div>
          </a>
          <a href="#" class="brand">
            <img src="img/brand-2.png" alt="Бренд">
            <div class="brand-name">amtel</div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
