<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-delete-product.html').default)(data) %>
<%= _.template(require('./../includes/modal/modal-record-service.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/left-menu/left-menu.html').default)(data) %>
<!--<%= _.template(require('./../includes/slider/slider.html').default)(data) %>-->
<div class="page-content bg-gray">
  <div class="main-area-fluid">
    <div class="main-area">
      <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li class="_active"><a href="#">Политика конфиденциальности</a></li>
      </ul>
      <div class="page-area no-mr">
        <div class="catalog-area">
          <div class="order-made">
            <span>Ваш</span> <span class="bold">заказ успешно принят.</span> После обработки заявки менеджером вам
          </div>
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Информация</span> о покупке
            </div>
          </div>
          <div class="cart-grid-list">
            <div class="cart-grid cart-grid-title">
              <div class="cart-grid-col cart-grid-col-type ">
                <div class="grid-col-title select-all">Выбрать все</div>
              </div>
              <div class="cart-grid-col cart-grid-col-name">
                <div class="grid-col-title">Название товара</div>
              </div>
              <div class="cart-grid-col cart-grid-col-price">
                <div class="grid-col-title">Цена за единицу</div>
              </div>
              <div class="cart-grid-col cart-grid-col-count">
                <div class="grid-col-title">Количество</div>
              </div>
              <div class="cart-grid-col cart-grid-col-count">
                <div class="grid-col-title">Общая сумма</div>
              </div>
            </div>

            <div class="cart-grid cart-grid-product">
              <div class="cart-grid-col cart-grid-col-type">
                <div class="grid-col-content">
                  <div class="block-photo-product">
                    <a href="img/product-tire.png"  data-fancybox>
                      <img src="img/product-tire.png" alt="Товар">
                    </a>

                  </div>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-name">
                <div class="grid-col-content">
                  <a href="/" class="product-name">
                    ALTENZO CURSITOR 185R14C 102/100R
                  </a>
                  <div class="product-article">
                    <span>артикул</span> 123456
                  </div>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-price">
                <div class="grid-col-content">
                  <p>7 897 <span>₽</span></p>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-count">
                <div class="grid-col-content">
                  <span class="all-count">4</span>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-count">
                <div class="grid-col-content">
                  <div class="cart-product-total">
                    <span class="total">15 794 000</span> <span class="rub">₽</span>
                  </div>

                </div>
              </div>
            </div>
            <div class="cart-grid cart-grid-product">
              <div class="cart-grid-col cart-grid-col-type">
                <div class="grid-col-content">
                  <div class="block-photo-product">
                    <a href="img/product-tire.png"  data-fancybox>
                      <img src="img/product-tire.png" alt="Товар">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-name">
                <div class="grid-col-content">
                  <a href="/" class="product-name">
                    ALTENZO CURSITOR 185R14C 102/100R
                  </a>
                  <div class="product-article">
                    <span>артикул</span> 123456
                  </div>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-price">
                <div class="grid-col-content">
                  <p>7 897 <span>₽</span></p>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-count">
                <div class="grid-col-content">
                  <span class="all-count">4</span>
                </div>
              </div>
              <div class="cart-grid-col cart-grid-col-count">
                <div class="grid-col-content">
                  <div class="cart-product-total">
                    <span class="total">15 794 000</span> <span class="rub">₽</span>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="cart-bottom-area">
            <div class="cart-bottom">
              <div class="cart-bottom-price" style="margin-left: auto">
                <div class="cart-product-total">
                  Итого: <span class="total">15 794</span> <span class="rub">₽</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="catalog-area delivery-page">
          <div class="catalog-title-block">
            <div class="catalog-title">
              <span>Оформление</span> заказа
            </div>
          </div>
          <div class="delivery-area">
            <div class="delivery-form">
              <div class="delivery-form-row _form-row-filled">

                <div class="delivery-steps">
                  <div class="step">1</div>
                </div>


                <div class="row-title"><span>Ваши</span> контактные данные</div>
                <div class="input-container delivery-name">
                  <div class="input-label">Фио*</div>
                  <input type="text" value="Петров Иван Иванович">
                </div>
                <div class="input-container delivery-phone">
                  <div class="input-label">Номер телефона*</div>
                  <input type="text" value="+7 915 254 85 55">
                </div>
                <div class="input-container">
                  <div class="input-label">E-mail</div>
                  <input type="text" value="Petrov@yandex.ru">
                </div>

              </div>
              <div class="delivery-form-row _form-row-filled">
                <div class="delivery-steps">
                  <div class="step _active">2</div>
                </div>
                <div class="row-inner-block delivery-type-block">
                  <div class="row-title"><span>Где и как </span>вы хотите получить заказ</div>
                  <div class="delivery-type-area">
                    <label class="checkbox _circle">
                      <span class="checkbox-text" for="u-10">
                         <span class="text">Самовывоз</span>
                      </span>
                      <input type="checkbox" disabled checked class="normal-checkbox" id="u-10" value="private">
                      <span class="label" for="u-10"></span>
                    </label>
                  </div>

                </div>
                <div class="row-inner-block delivery-faq">
                  <p>
                    Cроки отгрузки заказных позиций являются ориентировочными в связи с распространением в мире
                    коронавирусной
                    инфекции (2019-nCoV) и риском приостановления деятельности/ работы как производителя товаров, так
                    и партнеров/компаний, обеспечивающих исполнение сделки. <a href="">Читать далее...</a>
                  </p>
                </div>
                <div class="delivery-type-selects">
                  <div class="input-container">
                    <input type="text" value="г.Орел, Московское шоссе, д.173">
                  </div>
                  <div class="input-container delivery-address">
                    <input type="text" placeholder="Адрес, на который будет осуществляться доставка">
                  </div>
                </div>
              </div>
              <div class="delivery-form-row _form-row-filled">
                <div class="delivery-steps fill-bg">
                  <div class="step">3</div>
                </div>
                <div class="row-title"><span>Как</span> вы хотите оплатить заказ</div>
                <div class="delivery-type-area">
                  <label class="checkbox _circle">
                      <span class="checkbox-text" for="u-11">
                         <span class="text">Оплата по счету</span>
                      </span>
                    <input type="checkbox" disabled checked class="normal-checkbox" id="u-11" value="private">
                    <span class="label" for="u-11"></span>
                  </label>

                </div>
              </div>
            </div>
          </div>
          <div class="delivery-info">
            <p>После оформления заказа на указаный номер телефона придет sms-сообщение с номером заказа. Если вы
              оставляете адрес электронной почты, то на указанный адрес
              автоматически сформируется и отправится состав заказа и его описание.</p>
          </div>
          <div class="cart-bottom-area">
            <div class="cart-bottom cart-bottom-delivery">
              <div class="btn-area">
                <a href="/" class="btn btn-gray">
                  продолжить покупки
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
