<% var data = {
title: "Шины"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<div class="product-display">
  <div class="catalog-view-area">
    <div class="view-chosen view-col  _active">
      <img class="svg-icon" src="img/card-col-icon.svg" alt="">
    </div>
    <div class="view-chosen view-row">
      <img class="svg-icon " src="img/card-row-icon.svg" alt="">
    </div>
  </div>

  <div class="container-fluid p-0 container-product">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 card-col">
        <%= _.template(require('./../includes/card-product/card-product.html').default)(data) %>
      </div>
    </div>
  </div>
  <div id="ex1" class="modal">
    <div>
      <div>
       Модалка
      </div>
    </div>

    <a href="#" rel="modal:close"></a>
  </div>

  <p><a class="btn" href="#ex1" rel="modal:open">Модалка</a></p>
</div>



<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
